.affiliates-module {padding: 80px 0; clear: both; width: 100%; position: relative; z-index: 1; background: var(--Tint-Orange);}
.affiliates-module .secwrapper {gap: 47px;}
.affiliates-module .section-intro .h1 {margin: 0 0 20px;}
.aff-mod-wrap {gap:48px 4%;}
.aff-grid {width: 30.666666666666664%; flex-grow: 1; padding: 32px; background: var(--white);}
.aff-grid p {display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; text-overflow: ellipsis; color: var(--Dark-Gray);} 
.aff-thumb {margin-bottom:16px; position: relative; width:auto; height: 72px; display: flex; align-items: center;}
.aff-thumb img {width: auto; height: 100%; max-height: 72px;}

.aff-grid .circle-arrow-btn span.fa-sharp {background: var(--Tint-Orange);}
.aff-grid .circle-arrow-btn:hover span.fa-sharp {background: var(--Sienna-Orange);}

@media only screen and (max-width:1080px) and (min-width:1024px) { 
    .aff-mod-wrap {gap:20px 2%;}
}

@media only screen and (max-width:1023px) and (min-width:200px) { 
    .aff-mod-wrap {gap: 28px 28px;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
       .aff-grid {width: 48%;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
    .aff-grid {padding: 20px; width: 100%;}
}