.amenities-module-main {clear: both; width: 100%; padding:42px 0 80px 0; position: relative; z-index: 1;}
.amenities-module-section {background-color: var(--white); clear: both; width: 100%; position: relative; z-index: 1; padding: 15px 0 0 0;}
.amenities-module {gap:56px 4.666666666666667%;}
.amenities-grid {width:16.266666666666666%;}
.amenities-grid .h6 {color: var(--Foreground);}

.amenities-icon {margin-bottom:15px; position: relative; width:auto; height: 48px; display: flex; align-items: center;}
.amenities-icon img {width: 100%; height: 100%; max-height: 48px;}

@media only screen and (max-width:1023px) and (min-width:200px) {    
    .amenities-module {gap:32px;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
    .amenities-module-main {padding: 60px 0;}
    .amenities-module {gap:60px 40px;}
    .amenities-grid {width: 47%;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
    .amenities-module-main {padding: 28px 0;}
    .amenities-grid {width: 100%; display: flex; flex-wrap: wrap; flex-direction: column;} 
    .amenities-icon {height: 30px; margin-bottom: 6px;}
    .amenities-icon img {width: 100%; height: 100%; max-height: 30px;}
}