.blog-feature{clear: both; width: 100%; background: var(--base-elevated); padding: 80px 0 80px; position: relative; z-index: 1;}
.blog-feature .heading-lt .h1 {margin: 0;}
.blog-feature-main { display: flex; flex-wrap: wrap;}
.blog-feature-grid {width:31.25%; position: relative; z-index: 1; overflow: hidden; background: var(--white); display: flex!important; flex-wrap: wrap; flex-direction: column;}
.blog-feature-grid .blog-features-thumb {height: 266.7px; overflow: hidden; width: 100%; position: relative;}
.blog-feature-grid .blog-features-thumb a {display: flex; height: 100%;}
.blog-feature-grid .blog-features-thumb .type {position: absolute; bottom: 0; gap: 12px; display: flex; width: fit-content; padding: 0 20px; flex-wrap: wrap;}
.blog-feature-grid .blog-features-thumb .type a {text-transform: uppercase; font-family: 'Correct XXX Condensed', sans-serif; font-weight: 900; letter-spacing: 0.4px; padding: 8px; font-size: 1.25rem; line-height: 1;}
.blog-feature-grid .blog-features-thumb .type a:hover {opacity: 0.8;}
.blog-feature-grid .blog-features-cnt {padding:20px 20px 22px 20px; display: flex; clear: both; width: 100%; flex-wrap: wrap; flex: 1;}
.blog-feature-grid .blog-features-cnt .h6 {font-size: 1.125rem; margin:0 0 34px 0; font-family: "FK Grotesk Neue", sans-serif; text-transform: none; letter-spacing: normal; font-weight: bold; line-height: 1.5; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3;}


.blog-feature-grid .blog-features-cnt .cat-wrapper{width: 100%; clear: both; justify-content: space-between; margin-top: auto; font-size: 0.875rem; align-items: flex-end;}
.blog-feature-grid .blog-features-cnt .cat-wrapper .cat-wrap {width: calc(100% - 50%);}
.blog-feature-grid .blog-features-cnt .cat-wrapper .cat-wrap li a::before {background: var(--brand-blue);}
.blog-feature-grid .blog-features-cnt .cat-wrapper .posted-date {width: 50%; text-align: right; line-height: normal;}
.blog-feature-grid .blog-features-cnt .cat-wrapper .posted-date span {display: inline-block; color: var(--base-dark-gray); }
.blog-feature-grid .blog-features-cnt .cat-wrapper .posted-date span a {font-weight: bold; color: var(--base-foreground); position: relative;}
.blog-feature-grid .blog-features-cnt .cat-wrapper .posted-date a:after {content: ''; position: absolute; display: block; margin: auto; height: 2px; width: 0; bottom:0; transition: width .5s ease, background-color .5s ease; left: 50%; transform: translate(-50%, 0);}
.blog-feature-grid .blog-features-cnt .cat-wrapper .posted-date a:hover:after {width: 100%; background: var(--brand-mint);}

.blog-feature-grid:first-of-type {width: 100%; flex-direction: row-reverse; padding: 40px; gap: 40px; background: transparent;} 
.blog-feature-grid:first-of-type::before {content: ""; background:var(--white); width: 100%; height: 100%; z-index: -1; position: absolute; left: 0; top: 0; clip-path:var(--path-120-1);}
.blog-feature-grid:first-of-type .blog-features-thumb {width: 48.333333333333336%; height: inherit; min-height: 387px;}
.blog-feature-grid:first-of-type .blog-features-cnt {width: 48.333333333333336%; align-items: flex-start;}
.blog-feature-grid:first-of-type .blog-features-cnt .optional-text {margin: 0 0 51px 0;}
.blog-feature-grid:first-of-type .blog-features-cnt .h6 {font-weight: 900; font-family: 'Correct XXX Condensed', sans-serif; text-transform: uppercase; font-size: 3rem; letter-spacing: 0.96px; line-height: 1;}
.blog-feature-grid:first-of-type .blog-features-cnt .cat-wrapper .posted-date a {font-size: 1rem; position: relative;}
.blog-feature-grid:first-of-type .blog-features-cnt .cat-wrapper .posted-date a:after {height: 4px; bottom: -4px;}


@media only screen and (min-width: 1024px) {
  .blog-feature-main {gap: 40px 40px;}
}

@media only screen and (max-width: 1400px) and (min-width: 1024px) {
    .blog-feature-main {gap: 80px 3.571428571428571%;}
    .blog-feature-grid {width:30.95%;}
    .blog-feature-grid .blog-features-thumb {height: 231px;}
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .blog-feature-grid:first-of-type .blog-features-thumb { min-height: 333px; }

}

@media only screen and (max-width: 1280px) and (min-width: 200px) {
    .blog-feature-grid .blog-features-cnt .h6 {font-size: 1rem; margin: 0 0 33px 0;}
    .blog-feature-grid .blog-features-cnt .cat-wrapper {font-size: 0.75rem;}
}


@media only screen and (max-width: 1023px) and (min-width: 200px) {
.blog-feature-grid .blog-features-thumb {height:inherit; width: 100%!important;}
.blog-feature-grid:first-of-type{flex-direction: column;}
    .blog-feature-grid .blog-features-cnt {padding: 16px 16px 14px 16px; width: 100%!important;}

}


@media only screen and (max-width: 1023px) and (min-width: 768px) {
    
    .blog-feature-main {gap: 30px}
    .blog-feature {padding: 65px 0 45px!important;}
    .blog-feature-grid { padding: 0; width: 29.95%}
    .blog-feature-grid .blog-features-thumb .type a {font-size: 1.125rem; letter-spacing: 0.36px;}
    .blog-feature-grid:first-of-type .blog-features-cnt .h6 {margin: 0 0 30px 0;}
    .blog-feature-grid .blog-features-cnt .h6 { margin: 0 0 22px 0; }

    .blog-feature-grid:first-of-type{ gap: 24px; padding: 32px!important;}
.blog-feature-grid:first-of-type .blog-features-cnt .optional-text { margin: 0 0 30px 0; }    
.blog-feature-grid:first-of-type .blog-features-cnt .h6 {font-size: 2.5rem;}
}



@media only screen and (max-width: 767px) and (min-width: 200px) {
    .blog-feature-main{gap: 20px;}
    .blog-feature {padding: 40px 0!important;}
    .blog-feature-grid:first-of-type{ gap: 20px; padding: 20px}
    .blog-feature-grid:first-of-type::before {clip-path: var(--path-60-1);}

    .blog-feature-grid:first-of-type .blog-features-cnt .h6 {font-size: 1.8rem;}
    .blog-feature-grid:first-of-type .blog-features-cnt .optional-text {margin: 0 0 20px 0;}
    .blog-feature-grid .blog-features-cnt {padding:12px 12px 15px 12px;}

    .blog-feature-grid { padding: 0; width: 100%;}
    .blog-feature-grid .blog-features-thumb .type {padding: 0 12px;}
    .blog-feature-grid .blog-features-thumb .type a {font-size: 1rem; line-height: 1; letter-spacing: 0.32px; min-width: inherit;}

    .blog-feature-grid:first-of-type .blog-features-thumb {min-height: inherit;}

    .blog-feature-grid .blog-features-cnt .cat-wrapper .cat-wrap { width: calc(100% - 54%);}
    .blog-feature-grid .blog-features-cnt .cat-wrapper .posted-date { width: 54%;}
    .blog-feature-grid .blog-features-cnt .cat-wrapper { margin-top:3px;}
    .blog-feature-grid .blog-features-cnt .h6 {-webkit-box-orient: inherit; overflow: inherit; text-overflow: inherit; margin-bottom: 10px;}

}