:root {
	--black:#000000;
    --black-50: rgba(0 0 0 / 50%);
    --black-75: rgba(0 0 0 / 75%);
    --white: #ffffff;
    --white-10: rgb(255 255 255 / 10%);
    --white-15: rgb(255 255 255 / 15%);
    --white-25: rgb(255 255 255 / 25%);
    --white-30: rgb(255 255 255 / 30%);
    --white-50: rgb(255 255 255 / 50%);
    --white-60: rgb(255 255 255 / 60%);
    --white-70: rgb(255 255 255 / 70%);
    --white-75: rgb(255 255 255 / 75%);
    --white-80: rgb(255 255 255 / 80%);
    --white-90: rgb(255 255 255 / 90%);
    --optional-txt: rgba (68 68 68 / 50%);
    --heading: #2b2c2d;
    --body-text: #2b2c2d; 
    --anchor: #444444;
    --anchor-hover: #ef4629;
    --button:#ef4629;
    --button-outline:rgba(239, 70, 41, 0.25);
    --Sienna-Orange: #ef4629;
    --Tint-Pink: #feedeb;
    --Tint-Blue: #e2ebf2;
    --Tint-Green: #def0e5;
    --Tint-Purple: #eae0eb;
    --Tint-Orange:#ffedd9;
    --Umber-3: #87391c;
    --Foreground: #000000;
    
    
    
    
	
}