.cky-btn-revisit-wrapper.cky-revisit-bottom-left{right: 15px; left: auto; background: var(--Sienna-Orange) !important;}
body .cky-consent-container{left: auto; right: 40px;}
.cky-notice .cky-title{font-family: "Blackbird", sans-serif;}
body .cky-consent-bar .cky-notice-des p, body .cky-gpc-wrapper .cky-gpc-desc p, body .cky-preference-body-wrapper .cky-preference-content-wrapper p, body .cky-accordion-header-wrapper .cky-accordion-header-des p, body .cky-cookie-des-table li div:last-child p{font-family: "Blackbird", sans-serif; color: var(--black); font-size: 1rem; line-height: 1.5; font-weight: normal; }
body .cky-notice-btn-wrapper{gap: 20px;}
body .cky-notice-btn-wrapper .cky-btn{padding: 15px; margin: 0; font-size: 18px; font-weight: 700; font-family: "Blackbird", sans-serif; line-height: 18px; letter-spacing: normal; border-radius: 60px; background: transparent !important; color: var(--black)!important; border: 2px solid var(--Sienna-Orange) !important; transition: all 0.5s ease;}
body .cky-notice-btn-wrapper .cky-btn:hover{opacity: 1; color: var(--white) !important; background: var(--Sienna-Orange) !important;}
body .cky-notice-btn-wrapper .cky-btn:hover:after{background-color: transparent;}
body .cky-notice-btn-wrapper .cky-btn.cky-btn-accept{ background: var(--Sienna-Orange) !important; border: none !important; color: var(--white) !important;}
body .cky-notice-btn-wrapper .cky-btn.cky-btn-accept:hover{ background: var(--Sienna-Orange) !important;}

body .cky-prefrence-btn-wrapper{gap: 20px;}
body .cky-accordion-header .cky-always-active{color: var(--Sienna-Orange);}
body button.cky-show-desc-btn:not(:hover):not(:active){color: var(--Foreground); }
body .cky-prefrence-btn-wrapper .cky-btn{padding: 15px; margin: 0; font-size: 18px; font-weight: 700; font-family: "Blackbird", sans-serif; line-height: 18px; letter-spacing: normal; border-radius: 60px; background: transparent !important; color: var(--black) !important; border: 2px solid var(--Sienna-Orange) !important; text-transform: capitalize;}
body .cky-prefrence-btn-wrapper .cky-btn:hover{opacity: 1; color: var(--white) !important; background: var(--Sienna-Orange) !important;}
body .cky-prefrence-btn-wrapper .cky-btn:hover:after{background-color: transparent;}
body .cky-prefrence-btn-wrapper .cky-btn.cky-btn-accept{ background: var(--Sienna-Orange) !important; border: none !important; color: var(--white) !important;}
body .cky-prefrence-btn-wrapper .cky-btn.cky-btn-accept:hover{ background: var(--Sienna-Orange) !important;}
body .cky-revisit-bottom-left::before, body .cky-revisit-bottom-left::after{display: none;}
.cky-preference-header .cky-btn-close img {height: 15px !important; width: 15px !important; }
body .cky-preference-content-wrapper .cky-show-desc-btn{color: var(--Sienna-Orange);}
body .cky-preference-content-wrapper .cky-show-desc-btn:hover{outline: none;}
body .cky-btn-close:hover{outline: none;}
/* .cky-preference-header .cky-btn-close img{transition: all .5s ease;}
.cky-preference-header .cky-btn-close img:hover{transform: scale(1.1);} */

@media only screen and (max-width: 767px) and (min-width: 200px){
    body .cky-consent-container {right: 0; padding: 0 20px;}
    body .cky-notice-btn-wrapper{ margin-top: 20px; gap: 15px; flex-direction: row;}
    body .cky-notice-btn-wrapper .cky-btn{width: auto;}
}