
.faq-top-heading{font-size: 2.222rem; line-height: 1.2; font-family: 'Ivar Display'; font-weight: 700;}
.faq-top-heading h1{font-size: 3.556rem; color: var(--Sienna-Orange);}

.faq-top-search{gap: 20px;}
.faq-search-form{flex: 1;}
.faq-search-btn{flex: 0 0 56px;}

.faq-search-form .frm_forms .frm_form_fields .frm_form_field{margin-bottom: 0;}
.faq-search-btn .circle-arrow-btn span.fa-sharp{width: 56px; height: 56px;}

@media screen and (min-width: 1024px){
    .faq-top-main{max-width: 1200px; margin: 0 auto; padding: 168px 0 80px; gap: 64px;}
}

@media screen and (max-width: 767px) and (min-width: 200px){
    .faq-top-main{padding: 84px 0 28px; gap: 40px;}
    .faq-top-heading{font-size: 1.333rem; }
    .faq-top-heading span.optional-text{font-size: 0.889rem; line-height: 1; margin-bottom: 12px;}
    .faq-top-heading h1{font-size: 2.222rem;}
    .faq-top-search{gap: 12px;}
    .faq-search-form .frm_forms .frm_form_fields input{font-size: 0.889rem; line-height: 1.35;}
}