
.faq-top-heading{font-size: 2.222rem; line-height: 1.2; font-family: 'Ivar Display'; font-weight: 700;}
.faq-top-heading h1{font-size: 3.556rem; color: var(--Sienna-Orange);}

.faq-top-search{gap: 20px;}
.faq-search-form{flex: 1;}
.faq-search-btn{flex: 0 0 56px;}

.faq-search-form .frm_forms .frm_form_fields .frm_form_field{margin-bottom: 0;}

@media screen and (min-width: 1024px){
    .faq-top-main{max-width: 1200px; margin: 0 auto; padding: 168px 0 80px; gap: 64px;}
}