.features-module-main {clear: both; width: 100%; padding: 79px 0 80px 0; position: relative; z-index: 1;}
.features-module-section {background-color: var(--white); clear: both; width: 100%; position: relative; z-index: 1;}
.features-module {gap:56px 4.666666666666667%; justify-content: space-between;}
.features-grid {width: 21.5%; flex-grow: 1;}
.features-grid .h6 {color: var(--Foreground);}
.features-grid p{font-size: 1rem; line-height: 1.5; color: var(--Dark-Gray); margin-bottom: 16px;}

.features-icon {margin-bottom:16px; position: relative; width:auto; height: 48px; display: flex; align-items: center;}
.features-icon img {width: 100%; height: 100%; max-height: 48px;}
.features-cnt {clear: both;}

.no-features-icon{display: flex; flex-direction: column; flex-wrap: wrap;}
.no-features-icon .features-cnt{margin-top: auto;}


@media only screen and (max-width:1023px) and (min-width:200px) {    
    .features-module {gap:32px;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
    .features-module-main {padding: 60px 0;}
    .features-module {gap:60px 40px;}
    .features-grid {width: 47%;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
    .features-module-main {padding: 28px 0;}
    .features-grid {width: 100%; display: flex; flex-wrap: wrap; flex-direction: column;} 
    .features-grid p {font-size: 0.889rem; margin-bottom: 8px;}
    .features-icon {height: 30px; margin-bottom: 6px;}
    .features-icon img {width: 100%; height: 100%; max-height: 30px;}
}