
.features-sidebar-section{background: var(--Tint-Orange);}

.features-sidebar-map{width: 78px; margin-bottom: 24px; }
.features-sidebar .optional-text{font-size: 1rem; color: var(--anchor); margin: 0 0 20px 0; line-height: 1; text-transform: capitalize; opacity: 0.5;}
.features-sidebar h2{margin-bottom: 24px;}
.features-sidebar-btn-wrap{gap: 20px;}

.features-sidebar-lists::before{content:""; position: absolute; top: 0; left: -64px; width: 1px; height: 100%; background: var(--Sienna-Orange);}
.features-sidebar-item{color: var(--anchor); }
.features-sidebar-item h2{margin-bottom: 16px;}

@media screen and (min-width: 1024px) {
    .features-sidebar-main{padding: 80px 0; gap: 129px;}
    .features-sidebar{flex: 0 0 335px; flex-grow: 1;}
    .features-sidebar-lists{flex: 0 0 calc(100% - 464px); flex-grow: 1; gap: 40px;}
    .features-sidebar-item{flex: 0 0 calc(50% - 20px);}
    
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .features-sidebar-main{padding: 48px 0; gap: 97px;}
    .features-sidebar{flex: 100%;}
    .features-sidebar-lists{flex: 100%; gap: 28px;}
    .features-sidebar-lists::before{top: -48px; left: 0; width: 100%; height: 1px; }
    .features-sidebar-item{flex: 0 0 calc(50% - 14px); font-size: 0.889rem;}
    
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .features-sidebar-main{padding: 28px 0; gap: 81px;}
    .features-sidebar{flex: 100%;}
    .features-sidebar-map{width: 28px;}
    .features-sidebar-lists{flex: 100%; gap: 24px;}
    .features-sidebar-lists::before{top: -40px; left: 0; width: 100%; height: 1px; }
    .features-sidebar-item{flex: 100%; font-size: 0.889rem;}
    .features-sidebar-item h2{margin-bottom: 15px; font-size: 1rem; line-height: 1.2;}
    
}