.featurette-module{clear: both; width: 100%; position: relative; z-index: 1; background: var(--white);}
.featurette-module .container {max-width: 1440px; padding: 0;}
.featurette-module .featurette-bg {right: inherit; width: 1000%;background: var(--brand-blue)}
.featurette-lt {padding: 40px; flex: 1; background: var(--white); width: 50%;}
.featurette-lt .featurette-cnt {display: flex; flex-wrap: wrap;  height: 100%; padding: 42px 40px 39px 40px; align-content: space-between;}
.featurette-lt .h1b {color: var(--base-foreground); margin-bottom: 18px;}
.featurette-lt:only-child .h1b {max-width: 100%;}
.featurette-lt .kisp-type {margin:0 0 40px 0;}
.featurette-lt .kisp-type:not(:has(span)) {min-height: inherit; margin:0 0 36px 0;}
.featurette-lt p {font-size: 1rem; line-height: 1.5;}

.featurette-wrapper-main {display: flex; flex-wrap: wrap; width: 100%; overflow: hidden;}
.featurette-lt .logo-slider {width: 100%; padding: 62px 0 0 0;}
.featurette-lt .logo-slider-row.less-than-3:before, .logo-slider-row.less-than-3:after {display: none;}
.featurette-lt .logo-slider-row.less-than-3 .logo-img img{max-height: 88px; width: auto; height: auto; max-width: 136px;}
.featurette-lt .logo-img img {max-width: 147px;}


.featurette-rt {padding: 40px; flex: 1; position: relative; width: 50%;}
.featurette-rt .featurette-thumb {clear: both; width: 100%; height: 100%; clip-path: var(--path-148);}

.featurette-ftr {width: 100%; clear: both; justify-content: space-between; margin-top: auto;padding-top: 40px; align-items: flex-end;}
.featurette-ftr-lt {width: calc(100% - 50%);}
.featurette-ftr-rt .inline-underline-wrp {margin-left: auto;}
.featurette-ftr-rt {width: 50%; text-align: right; line-height: normal; font-size: 1rem; padding: 0 0 2px 0;}
.featurette-ftr-rt a {font-weight: bold; color: var(--base-foreground); position: relative;}

.featurette-single {min-height: 720px; justify-content: space-between;}
.featurette-single:nth-child(2n) .featurette-bg {left: inherit; width: 1000%; right: 0;}
.featurette-single:nth-child(2n)  {flex-direction: row-reverse;}
.featurette-single:nth-child(2n) .featurette-rt .featurette-thumb {transform: scale(-1, 1);}
.featurette-single:nth-child(2n) .featurette-rt .featurette-thumb figure {transform: scale(-1, 1);}

.flex-row-reverse .featurette-single {flex-direction: row-reverse;}
.flex-row-reverse .featurette-bg {left: inherit; width: 1000%; right: 0;}
.flex-row-reverse .featurette-single .featurette-rt .featurette-thumb {transform: scale(-1, 1);}
.flex-row-reverse .featurette-single .featurette-rt .featurette-thumb figure {transform: scale(-1, 1);}

.featurette-lt .featurette-cnt.only-two {align-content: center;}

.single.featurette-module {background: var(--brand-mint); overflow: hidden; margin: 40px 0 26px;}
.single.featurette-module .featurette-single {min-height: 360px;}
.single.featurette-module .featurette-wrapper .h3 {color: var(--base-foreground);}
.single.featurette-module .featurette-wrapper .h3:only-child {margin: 0;}
.single.featurette-module .featurette-lt {background: var(--brand-mint); padding: 40px 20px 40px 40px;}
.single.featurette-module .featurette-lt .featurette-cnt {padding: 0;}
.single.featurette-module .featurette-lt .kisp-type:not(:has(span)) {margin: 0 0 40px 0;}
.single.featurette-module .featurette-rt {padding: 20px;}
.single.featurette-module .featurette-rt .featurette-thumb {clip-path: var(--path-73);}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .featurette-single {min-height: 560px;}
}

@media only screen and (max-width: 1160px) and (min-width: 200px) {
    .single.featurette-module .featurette-single {flex-direction: column-reverse;}
    .single.featurette-module {margin: 20px 0;}
    .single.featurette-module .featurette-rt {padding: 12px; width: 100%; flex: 100%;}
    .single.featurette-module .featurette-rt .featurette-thumb {transform: none; clip-path: var(--path-55);}
    .single.featurette-module .featurette-rt .featurette-thumb figure {transform: none;}
    .single.featurette-module .featurette-rt .featurette-thumb figure img {min-height: 246px;}
    .single.featurette-module .featurette-lt {padding: 20px; width: 100%; flex: 100%;}
    .single.featurette-module .featurette-lt .kisp-type:not(:has(span)) {margin: 0 0 18px 0;}
    
    .single.featurette-module .featurette-ftr {padding-top: 15px;}
    .single.featurette-module .featurette-ftr-lt {width: 100%;}
    .single.featurette-module .featurette-ftr-lt .btn-shadow-wrp {width: 100%;}
    .single.featurette-module .featurette-ftr-lt .btn-shadow-wrp .button {width: 100%;}
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
    .featurette-rt .featurette-thumb{transform: scale(-1,1);}
    .featurette-rt .featurette-thumb figure{transform: scale(-1,1);}
    .featurette-single:nth-child(2n) .featurette-rt .featurette-thumb { transform: scale(1, 1); }
    .featurette-single:nth-child(2n) .featurette-rt .featurette-thumb figure{ transform: scale(1, 1); }
   
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
     .featurette-single {min-height: 405px;}
     .featurette-lt .kisp-type {margin: 0 0 40px 0;}
     .featurette-ftr {padding-top: 15px;}
    .featurette-lt { padding: 32px;}
    .featurette-lt .h1b {font-size: 3rem;}
    .featurette-lt p { font-size: 0.875rem}
    .featurette-lt .featurette-cnt {padding: 16px;}
    .featurette-lt .logo-slider {padding: 40px 0 30px 0;}

    .featurette-rt .featurette-thumb { clip-path: var(--path-80-1);}
    .featurette-rt { padding: 32px;}

    .featurette-ftr-lt { width: calc(100% - 58%); }
    .featurette-ftr-rt { width: 58%;}
}

@media only screen and (max-width: 767px) and (min-width: 200px) {
    .featurette-single{flex-direction: column-reverse!important;}
    .featurette-rt .featurette-thumb { clip-path: var(--path-80-2);}
    .featurette-rt .featurette-thumb img {min-height: 350px;}
    .featurette-rt { padding: 20px; width: 100%;}

    .featurette-lt { padding: 20px; width: 100%;}
    .featurette-lt p {font-size: 0.875rem;}
    .featurette-lt .featurette-cnt {padding: 12px;}
    .featurette-lt .kisp-type:not(:has(span)) {margin: 0 0 43px 0;}
    .featurette-lt .h1b {font-size: 40px; line-height: 1; margin-bottom: 9px;}
    .featurette-lt .logo-slider {padding: 39px 0 5px 0;}
    .featurette-lt .logo-slider .logo-img {margin: 0 12px;}

    .featurette-single:nth-child(2n) {flex-direction: column-reverse;}
    
    .flex-row-reverse .featurette-single .featurette-rt .featurette-thumb {transform: none;}
    .flex-row-reverse .featurette-single .featurette-rt .featurette-thumb figure {transform: none;}
    

}
@media only screen and (max-width: 389px) and (min-width: 200px) {

    .featurette-lt .featurette-cnt{padding-left: 0; padding-right: 0;}
}   