.filter-cat {clear: both; width: 100%;}
.filter-cat ul {margin: 0; display: flex; flex-wrap: wrap; gap:12px; align-items: center;}
.filter-cat ul li {display: inline-block; margin: 0;}
.filter-cat ul li:before {display: none;}
.filter-cat ul li a {font-size: 0.889rem; font-weight: bold; display: inline-block; line-height: 1; padding:11px 16px 11px 15px; border-radius: 60px; border: 1.25px solid transparent; background: var(--Tint-Pink); text-decoration: none;}
.filter-cat ul li a:after {display: none;}
.filter-cat ul li a:hover {border: 1.25px solid var(--Sienna-Orange);}
.filter-cat ul li a.active {background: var(--Umber-3); color: var(--white); border: 1.25px solid var(--Umber-3);}
.filter-cat ul li.toggle-list {display: none;}

@media only screen and (max-width: 1023px) and (min-width: 200px){
    .filter-cat ul {gap:10px;}
    .filter-cat ul li a {font-size: 0.778rem; padding: 10px 11px 11px 11px;}
}

@media only screen and (max-width:767px) and (min-width:200px){
    .filter-cat ul {gap:6px;}
    .filter-cat ul li a {padding: 7px 7px 6px 6px;}
}