.filter-cat {margin-bottom: 40px;}
.filter-cat ul {margin: 0; display: flex; flex-wrap: wrap; gap:12px; align-items: center;}
.filter-cat ul li {display: inline-block; margin: 0;}
.filter-cat ul li:before {display: none;}
.filter-cat ul li a {font-size: 1rem; font-weight: bold; display: inline-block; line-height: 1; padding: 10px; border:2px solid var(--brand-blue);}
.filter-cat ul li a:after {display: none;}
.filter-cat ul li.active a, .filter-cat ul li a:hover {background: var(--brand-blue); color: var(--brand-mint);}
.filter-cat ul li.toggle-list {display: none;}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .filter-cat {margin-bottom: 32px;}
}

@media only screen and (max-width:767px) and (min-width:200px){
    .filter-cat {margin-bottom: 24px;}
    .filter-cat ul li.toggle-list {cursor: pointer; font-size: 1rem; font-weight: bold; line-height: 1; display: flex; align-items: center; margin: 8px 0;}
    .filter-cat ul li.toggle-list:after {content: ''; position: absolute; display: block; margin: auto; height: 4px; width: 0; bottom:-4px; transition: width .5s ease, background-color .5s ease; left: 50%; transform: translate(-50%, 0);}
    .filter-cat ul li.toggle-list:hover:after {width: 100%; background: var(--brand-mint);}
}