footer#main_footer {clear: both; padding: 80px 0 80px; width: 100%; position: relative; background: var(--brand-green); z-index: 1; color: var(--brand-mint);}
footer#main_footer .footer {position: relative}
footer#main_footer .footer li:before {display: none;}
footer#main_footer .footer_top {clear: both; margin:0 0 -80px 0;  position: relative; min-height: 664px; display: flex; align-items: flex-end; flex-wrap: wrap; top: -160px; justify-content: space-between}
footer#main_footer .footer_top .background-bg {clip-path: polygon(0 100%, 12.8% 100%, 100% 69.4%, 100% 0, 11.2% 0, 0 76%);}
footer#main_footer .footer_top.no-ftrbg {min-height: inherit; top: inherit; margin: 0 0 80px 0;}
footer#main_footer .footer_lt {width:160px; margin-top: auto;}
footer#main_footer .footer_lt .footer-logo {clear: both; width: 100%;}
footer#main_footer .footer_lt .footer-logo a {display: inline-block}
footer#main_footer .footer_lt .footer-logo img {width: 160px; height: 160px;}

footer#main_footer .footer_rt {margin-top: auto; width: 50%; text-align: right;}
footer#main_footer .ftr-sm {clear: both; font-size: 0;}
footer#main_footer .ftr-sm ul {margin: 0}
footer#main_footer .ftr-sm ul li {display: inline-block; margin: 16px 16px 0 0}
footer#main_footer .ftr-sm ul li:before {display: none;}
footer#main_footer .ftr-sm ul li:last-child {margin-right: 0}
footer#main_footer .ftr-sm ul li a {width:64px; height: 64px; position: relative; z-index: 1;  display: block; color: var(--brand-mint); text-align: center; font-size: 0;}
footer#main_footer .ftr-sm ul li a i {font-size: 2rem; line-height: 64px;}
footer#main_footer .ftr-sm ul li a:hover {background-color: var(--brand-mint); color: var(--brand-green);}
footer#main_footer .ftr-sm ul li a span {text-indent: -999999px; display: inline-block;}

/* Footer Bottom */
footer#main_footer .footer_btm {justify-content: space-between; max-width: 1120px; margin: 0 0 0 auto; align-items: flex-start; padding: 0 0 76px 0; gap:79px;}
footer#main_footer .footer_btm .ftr-btm-lt {width:44.642857142857146%; font-size: 0; flex-grow: 1;}
footer#main_footer .footer_btm .ftr-btm-lt .ftr-desc {font-size: 1.125rem; line-height: 1.5;}
footer#main_footer .footer_btm .ftr-btm-lt .btn-wrap {margin: 43px 0 0 0; gap: 20px;}
footer#main_footer .footer_btm .ftr-btm-lt .copy {clear: both; width: 100%; margin: 37px 0 0 0; font-size: 0.875rem; display: flex; flex-wrap: wrap;} 
footer#main_footer .footer_btm .ftr-btm-lt .copy ul { margin-left: 5px; margin-bottom: 0; display: flex; flex-wrap: wrap; gap:5px;}
footer#main_footer .footer_btm .ftr-btm-lt .copy ul li {margin: 0;}
footer#main_footer .footer_btm .ftr-btm-lt .copy ul li a {color: var(--brand-mint);}
footer#main_footer .footer_btm .ftr-btm-lt .copy ul li a:hover {color: var(--white);}
footer#main_footer .footer_btm .ftr-btm-lt .copy ul li a u {text-decoration-color: var(--white);}

footer#main_footer .footer_btm .ftr-btm-rt {width: 48.22%; flex-grow: 1;} 
footer#main_footer .footer_btm .ftr-btm-rt .h1b {color: var(--brand-mint); margin-bottom: 22px;}
footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-btns {clear: both; width: 100%;}
footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-btns ul {margin: 0; display: flex; flex-wrap: wrap; width: 100%; gap:0 16px; justify-content: space-between;}
footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-btns ul li {display: flex; flex-wrap: wrap; align-items: center; gap:8px; font-weight: 700; font-size: 1rem; line-height: 1.2; width: 46.2962962962963%; margin: 16px 0 0 0;}
footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-btns ul li span {padding:10.4px 16.5px; background: var(--brand-mint); color: var(--brand-green); border-radius: 20px; text-transform: uppercase;}
footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-btns ul li a {color: var(--brand-mint); display: flex; align-items: center; gap: 8px;}
footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-btns ul li a:hover {color: var(--white);}

@media only screen and (max-width:1280px) and (min-width:200px) {
    footer#main_footer .footer_btm .ftr-btm-lt .ftr-desc {font-size: 1rem;}
    footer#main_footer .footer_btm .ftr-btm-lt .copy {font-size: 0.75rem;}
}

@media only screen and (max-width:1280px) and (min-width:1024px) {
    footer#main_footer .footer_top .background-bg {clip-path: polygon(0 100%, 14.3% 100%, 100% 69.4%, 100% 0, 11.2% 0, 0 76%);}
    footer#main_footer .footer_btm .ftr-btm-lt {width: 30.357142857142854%; margin-left: auto;}
    
    footer#main_footer .footer_btm .ftr-btm-lt .btn-wrap {margin: 44px 0 0 0;}
    footer#main_footer .footer_btm .ftr-btm-lt .copy {margin: 35px 0 0 0;}
    footer#main_footer .footer_btm .ftr-btm-rt {margin: 2px 0 0 0;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
    footer#main_footer .footer_top {min-height: 472px; margin:0 0 -79px 0; top: -144px;}
    footer#main_footer .footer_top .background-bg {clip-path: polygon(0 100%, 23.8% 100%, 100% 57.2%, 100% 0, 11.2% 0, 0 66%);}
    footer#main_footer .footer_rt {margin-right: 16px;}
    footer#main_footer .footer_btm {gap:9.38%; padding: 0 0 59px 0;}
    footer#main_footer .footer_btm .ftr-btm-lt {width: 45.30791788856305%;}
    footer#main_footer .footer_btm .ftr-btm-lt .btn-wrap {margin: 36px 0 0 0;}
    footer#main_footer .footer_btm .ftr-btm-lt .copy {margin: 27px 0 0 0;}
    footer#main_footer .footer_btm .ftr-btm-rt {width: 45.30791788856305%;}
    footer#main_footer .footer_btm .ftr-btm-rt .h1b {margin-bottom: 14px;}
}

@media only screen and (max-width:1023px) and (min-width:200px) {
    footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-btns ul li {width: 100%;}
    footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-btns ul li:not(:has(span)) {margin: 26px 0 0 0;} 
}

@media only screen and (max-width:767px) and (min-width:200px) {  
    footer#main_footer {padding: 40px 0;}
    footer#main_footer .container {padding-right: 20px;}
    footer#main_footer .footer_top {min-height: 316px; top: -104px; margin:0 0 -64px 0;}
    footer#main_footer .footer_top .background-bg {clip-path:polygon(0 100%, 42.5% 100%, 100% 71%, 100% 0, 0 0, 0 76%);}
    footer#main_footer .footer_lt {position: relative; width: 100%; min-height: 316px; display: flex; flex-wrap: wrap;}
    footer#main_footer .footer_lt.no-bg-img {min-height: inherit;}
    footer#main_footer .footer_lt .footer-logo {margin-top: auto;}
    footer#main_footer .footer_lt .footer-logo img {width: 140px; height: 140px;}
    footer#main_footer .footer_rt {width: 100%; text-align: left; margin: 22px 0 0 0;}
    footer#main_footer .ftr-sm ul li {margin:18px 18px 0 0;}
    footer#main_footer .ftr-sm ul li a {background: var(--brand-mint); color: var(--brand-green);}
    footer#main_footer .ftr-sm ul li a:hover {opacity: 0.8;}
    footer#main_footer .footer_btm {padding: 0 0 51px 0; gap: 38px;}
    footer#main_footer .footer_btm .ftr-btm-lt {width: 100%;}
    footer#main_footer .footer_btm .ftr-btm-lt .copy {margin: 19px 0 0 0;}
    footer#main_footer .footer_btm .ftr-btm-lt .btn-wrap {margin: 28px 0 0 0;}
    footer#main_footer .footer_btm .ftr-btm-rt {width: 100%;}
    footer#main_footer .footer_btm .ftr-btm-rt .h1b {margin-bottom: 6px;}
}

@media only screen and (max-width:389px) and (min-width:200px) { 
    footer#main_footer .ftr-sm ul li {margin: 10px 10px 0 0;}
}
