footer#main_footer {clear: both; padding:79px 0 120px; width: 100%; position: relative; background: var(--Tint-Pink); z-index: 1; overflow: hidden;}
footer#main_footer .footer {position: relative;}
footer#main_footer .footer ul {margin: 0;}
footer#main_footer .footer li:before {display: none;}
footer#main_footer .footer li a {color: var(--Foregroundd);}
footer#main_footer .footer li a:hover {color: var(--Sienna-Orange);}


/* Footer Top */
footer#main_footer .footer_top {clear: both; position: relative; display: flex; flex-wrap: wrap; gap:6.666666666666667%; width: 100%; margin: 0 0 38px 0;}
footer#main_footer .footer_top .footer_lt {width:335px;}
footer#main_footer .footer_top .footer_lt svg {width: 100%; height: 100%;}

footer#main_footer .footer_top .footer_rt {margin: 6px 0 0 auto; flex: 1;}
footer#main_footer .footer_top .footer_rt .h5 {color: var(--Foreground); margin: 0;}


/* Footer Top Mid */
footer#main_footer .footer_top_mid {clear: both; position: relative; width: 100%; padding:32px 3.3333333333333335%; border-top: 1px solid var(--Sienna-Orange);}
footer#main_footer .footer_top_mid ul.ftr_mid_menu {margin:0; font-size:0; line-height: normal; display:flex; flex-wrap: wrap; width: 100%; gap:24px 6.651785714285714%; align-items: center; justify-content: center;}
footer#main_footer .footer_top_mid ul.ftr_mid_menu > li {display:inline-block; line-height: normal; margin: 0;}
footer#main_footer .footer_top_mid ul.ftr_mid_menu > li:first-child {margin-left:0;}
footer#main_footer .footer_top_mid ul.ftr_mid_menu > li > a {font-size:1.111rem; font-weight: 700; display:inline-block; position:relative; color:var(--Foreground);}
footer#main_footer .footer_top_mid ul.ftr_mid_menu > li > a:hover {color:var(--Sienna-Orange);}

footer#main_footer .footer_top_mid ul.ftr_mid_menu > li.ftr-menu-button a {background: var(--Sienna-Orange); border-radius:60px; padding:13px 21px 12px 20px; outline:4px solid transparent; font-size: 1.333rem; color: var(--white);}
footer#main_footer .footer_top_mid ul.ftr_mid_menu > li.ftr-menu-button a:hover {outline:4px solid var(--button-outline); color: var(--white);}

/* Footer Middle */
footer#main_footer .footer_middle {clear: both; width: 100%; border-top: 1px solid var(--Sienna-Orange); padding:64px 0 53px 0;}
footer#main_footer .footer_middle .ftr-menu-wrap {gap:3.3333333333333335%;}
footer#main_footer .footer_middle .footer-menu {width:31.10833333333333%; display: inline-block;}

footer#main_footer .footer-menu > ul > li:first-of-type, footer#main_footer .footer-menu > ul > li:first-of-type > a {color: var(--Foreground); font-size: 0.889rem; line-height: 1.5; font-weight: 400; display: inline-block;}
footer#main_footer .footer-menu > ul > li:first-of-type > a {font-weight: 700; color: var(--Sienna-Orange); font-size: 1rem;}
footer#main_footer .footer_middle .footer-menu ul.sub-menu li {font-size: 0.889rem; margin: 12px 0 0 0; line-height: 1.5; font-weight: 400;}
footer#main_footer .footer_middle .footer-menu ul.sub-menu li ul {margin:0 0 11px 14px;}
footer#main_footer .footer_middle .footer-menu ul.sub-menu li ul li:before {display: block;}
footer#main_footer .footer-menu ul li > a:hover, 
footer#main_footer .footer-menu ul li.current_page_parent > a, 
footer#main_footer .footer-menu ul li.current_page_item > a, 
footer#main_footer .footer-menu ul li.current-menu-parent > a, 
footer#main_footer .footer-menu ul li.current-post-ancestor > a, 
footer#main_footer .footer-menu ul li.current-menu-item > a, 
footer#main_footer .footer-menu ul li.current-page-ancestor > a, 
footer#main_footer .footer-menu ul li.current-menu-ancestor > a {color: var(--Sienna-Orange);}

/* Footer Bottom */
footer#main_footer .footer_btm {justify-content: space-between; font-size:0.778rem; padding:40px 0 0 0; border-top:1px solid var(--black-25);}
footer#main_footer .footer_btm .ftr-btm-lt {flex: 1;}
footer#main_footer .footer_btm .ftr-btm-lt .copy {clear: both; width: 100%;} 

footer#main_footer .footer_btm .ftr-btm-rt {flex:1;} 
footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-links {clear: both; width: 100%;}
footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-links ul {margin: 0; display: flex; flex-wrap: wrap; justify-content: flex-end; gap:0 21px;}
footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-links ul li {margin: 0;}
footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-links ul li:before {display: block; content: ""; width: 4px; height: 4px; background: var(--Foreground); border-radius:50%; left: -12px; top:10px;}
footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-links ul li:first-child:before {display: none;}



@media only screen and (max-width:1280px) and (min-width:1024px) {
    footer#main_footer {padding: 64px 0 96px;}
    footer#main_footer .footer_top {margin: 0 0 59px 0;}
}

@media only screen and (max-width:1023px) and (min-width:200px) { 
    footer#main_footer .footer_top {gap:17px; margin: 0 0 40px 0;}
    footer#main_footer .footer_btm {gap:20px;}
}

@media only screen and (max-width:1023px) and (min-width:768px) { 
    footer#main_footer {padding:48px 0 72px;}
    footer#main_footer .footer_top .footer_lt {width: 301px; display: flex; flex-wrap: wrap; gap: 32px;}
    footer#main_footer .footer_top {gap:64px; align-items: center; margin: 0 0 48px 0;}
    footer#main_footer .footer_top .footer_rt {width: auto; flex:1; margin: 0;}
    footer#main_footer .footer_top .footer_rt .h5 {font-size: 1.333rem;}
    
    footer#main_footer .footer_top_mid {padding:26px 24px;}
    footer#main_footer .footer_top_mid ul.ftr_mid_menu > li.ftr-menu-button {display: none;}
    footer#main_footer .footer_top_mid ul.ftr_mid_menu > li > a {font-size: 1rem;}
    footer#main_footer .footer_top_mid ul.ftr_mid_menu {gap:24px 3%;}
    
    footer#main_footer .footer_middle {padding:48px 0 38px 0;}
    footer#main_footer .footer_middle .ftr-menu-wrap {gap: 5%;}    
    footer#main_footer .footer_middle .footer-menu {width:30%;}
    footer#main_footer .footer_middle .footer-menu ul.sub-menu li {font-size: 0.778rem; margin: 10px 0 0 0;}
    footer#main_footer .footer_middle .footer-menu ul.sub-menu li ul li::before {top:-1px;}

    footer#main_footer .footer-menu > ul > li:first-of-type > a {font-size: 0.889rem;}
    footer#main_footer .footer_btm {font-size: 0.667rem; padding: 28px 0 0 0;}
    footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-links ul li::before {top: 8px;}
}


@media only screen and (max-width:767px) and (min-width:200px) {  
    footer#main_footer {padding:28px 0 33px;}	
    footer#main_footer .footer_top .footer_lt {width: 326px;}
    footer#main_footer .footer_top .footer_rt {flex:100%;}
    footer#main_footer .footer_middle {display: none;}
    
    footer#main_footer .footer_top_mid {padding:22px 0 40px 0;}
    footer#main_footer .footer_top_mid ul.ftr_mid_menu {align-items: flex-start; flex-direction: column; gap:28px;}
    footer#main_footer .footer_top_mid ul.ftr_mid_menu > li {display: block; width: 100%;}
    footer#main_footer .footer_top_mid ul.ftr_mid_menu > li.ftr-menu-button {margin:-2px 0 0 0;}
    footer#main_footer .footer_top_mid ul.ftr_mid_menu > li.ftr-menu-button a {display: block; text-align: center;}
    
	footer#main_footer .footer_btm {padding: 24px 0 0 0; gap: 20px; line-height: 1.5; font-size: 0.667rem; border-color: var(--Sienna-Orange);}
    footer#main_footer .footer_btm .ftr-btm-lt {flex:100%;}
	footer#main_footer .footer_btm .ftr-btm-rt {flex:100%;}
    footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-links ul {justify-content: flex-start; gap: 0 12px;}
    footer#main_footer .footer_btm .ftr-btm-rt .ftr-btm-links ul li::before {top: 8px; left: -8px;}
}
