.main_header {width:100%; top:0; left:0; right:0; position:fixed; z-index:99; background: var(--brand-green); transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out;}
.main_header .header {padding:40px 0; max-height:132px; transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out; min-height: 60px;}
.main_header .container {transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out;}
.main_header .logo {width:128px; position:relative; height:128px; z-index:2; transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out;}
.main_header .logo a {width:100%; height:100%; display:block; position:relative;}
.main_header .logo a img {width:100%; height:100%;}
.main_header .logo-pos {position:absolute; top:0; left:0; transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out; width:100%; height:100%;}
.main_header .normal-logo {visibility:visible; opacity:1;}
.main_header .fixed-logo {visibility:hidden; opacity:0;}

.main_header .header .toggle_button, .main_header ul li:before {display:none;}


.model-overlay-hide {overflow:hidden;}

.white-header .main_header {background: transparent;}
.white-header .main_header.fixed-header {background: var(--brand-green);}

.main_header.fixed-header .normal-logo {visibility:hidden; opacity:0;}
.main_header.fixed-header .fixed-logo {visibility:visible; opacity:1;}


.notification-bar { background: var(--brand-mint); color: var(--white); height: auto; padding:11px 0 12px; width: 100%; clear: both;}
.notification-main{gap: 0 20px;}
.notification-left{flex: 1; gap: 12px 25px;}
.notification-left p{margin:0; font-size: 20px; line-height: 24px; font-weight: 600; color: var(--brand-blue); letter-spacing: -0.12px;}
.notification-left .outline-btn{padding: 7px 35px 9px 20px;}
.notification-right{flex: 0 0 40px; text-align: right;}
.notification-close{font-size: 40px; line-height: 0; color: var(--brand-blue); display: inline-block; font-weight: 400; position: relative; top: 2px;}
.notification-close:hover{color: var(--base-foreground);}

@media only screen and (max-width:1400px) {
.main_header .container {padding: 0 80px;}
}



@media only screen and (min-width:810px) {
.main_header .header-btm {display:flex; flex-wrap:wrap; justify-content:flex-end; width:100%; align-items:center; transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out;}
.main_header .header_right {width:calc(100% - 128px); margin-bottom: auto; padding: 0 4px 0 0; transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out;}
.main_header .header-btns {position:relative; margin:4px 0 0 32px; transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out; right: 0;}
.main_header .header-btns .button {min-width: 107px;}

/* Menu */
ul.main_menu {margin:0; font-size:0; line-height: normal;}
ul.main_menu > li {margin:0 0 0 32px; display:inline-block; line-height: normal;}
ul.main_menu > li:first-child {margin-left:0;}
ul.main_menu > li > a {font-size:1rem; font-weight:bold; line-height:100%; display:inline-block; position:relative; color:var(--brand-mint);}
ul.main_menu > li >a::after {content: ''; position: absolute; display: block; margin: auto; height: 4px; width: 0; bottom:-4px; transition: width .5s ease, background-color .5s ease; left: 50%; transform: translate(-50%, 0);}
ul.main_menu > li >a:hover:after {width: 100%; background: var(--brand-blue);}
ul.main_menu > li.current-menu-item>a, 
ul.main_menu > li.current-menu-parent>a, 
ul.main_menu > li.current-page-ancestor>a, 
ul.main_menu > li.current-menu-ancestor>a, 
ul.main_menu > li.menu-item-has-children > a:hover, 
ul.main_menu > li.current_page_item>a, 
ul.main_menu > li > a:hover, 
ul.main_menu > li.current_page_item a > span, 
ul.main_menu > li.current_page_ancestor li.current-page-ancestor a > span {color:var(--white);}
ul.main_menu > li.menu-item-has-children >a::after {opacity: 0;}

/* Mega Menu */
ul.main_menu li.flex-menu {position: inherit;}
ul.main_menu li.flex-menu > ul { max-width:1440px; width:100%; max-height: none; padding:80px; display: flex; flex-wrap: wrap; min-height: 478px; top:100%; background: var(--base-elevated);}
ul.main_menu li.flex-menu > ul > li {display:flex!important; width:100%; margin:0 0 40px 0; flex-wrap: wrap; max-width: inherit!important;}
ul.main_menu li.flex-menu > ul > li .button:hover {color: var(--white);}
ul.main_menu li.flex-menu > ul > li.flex-menu-child {justify-content: space-between; align-items: center;}
ul.main_menu li.flex-menu > ul > li.flex-menu-child .h3 {margin: 0; width: 75%;}
ul.main_menu li.flex-menu > ul > li:before {display: none;}
ul.main_menu li.flex-menu > ul > li ul {margin:0; display: flex; flex-wrap: wrap; gap:40px 4.409722222222222%; width: calc(100% + 16px); padding: 16px 0 0 16px; position: relative; left: 0; align-items:stretch; top: 0!important; background: transparent; border: 0 none; min-width: inherit;}
ul.main_menu li.flex-menu > ul > li ul li {width:21.678%; background: var(--white); padding: 20px 20px 24px 20px; position: relative; font-size: 0.875rem; line-height: 1.5; margin: 0; display: flex; flex-wrap: wrap; flex-direction: column; flex-grow: 1;}
ul.main_menu li.flex-menu > ul > li ul li .kisp-type {margin: 0 0 20px 0;}
ul.main_menu li.flex-menu > ul > li ul li .kisp-type a {display: flex; flex-wrap: wrap; align-items: center; gap: 8px;}
ul.main_menu li.flex-menu > ul > li ul li .menu-shadow {width: calc(100% + 16px); height: calc(100% + 16px); display: block; background: var(--brand-mint);
z-index: -1; left: -16px; top: -16px; clip-path: var(--path-16); }  
ul.main_menu li.flex-menu > ul > li ul li .inline-underline-wrp {display: block; clear: both; margin: auto 0 0 0; line-height: 1; padding: 20px 0 0 0;}

ul.main_menu li.flex-menu > ul > li.li-flex-wrap {display: flex; flex-wrap: nowrap; justify-content: space-between; gap: 0; margin-bottom: 0;}
ul.main_menu li.flex-menu > ul > li.li-flex-wrap ul {width:94%; gap:40px 4%; flex-grow: 1;}
ul.main_menu li.flex-menu > ul > li.li-flex-wrap ul li {width:20%;}
ul.main_menu li.flex-menu > ul > li.li-flex-wrap ul.non-flex-ul {width:23.9%; flex-grow: 1; gap:0; padding-left: 0;}
ul.main_menu li.flex-menu > ul > li.li-flex-wrap ul.non-flex-ul li {width: 100%; margin-left: 15.6%;}

ul.main_menu li.flex-menu .h5 a {font-size: 1.75rem;}
ul.main_menu li.flex-menu .menu-icon {margin-bottom: 20px; position: relative; width: 100%; line-height: 30px; height: 30px;}
ul.main_menu li.flex-menu .menu-icon figure img{width: auto; height: auto; max-height:30px;}

/* Submenu */    
ul.main_menu > li > ul {margin:0; padding:38px 40px 42px; min-width:345px; top:calc(100% + 56px); position:absolute; left:50%; text-align:left; transform:translateX(-50%); width:100%; opacity:0; visibility:hidden; background:var(--brand-mint); transition: visibility .3s ease,opacity .3s ease,transform .3s ease; box-shadow: -1px 3px 17px -10px rgba(0,0,0,.75); -webkit-box-shadow: -1px 3px 17px -10px rgba(0,0,0,.75); -moz-box-shadow: -1px 3px 17px -10px rgba(0,0,0,.75);}
ul.main_menu > li.menu-item-has-children:hover > a:before {bottom: -68px; left:0; right: 0; margin: auto; content: ""; height:24px; width: 24px; position: absolute; pointer-events: none; background-color: var(--brand-blue); z-index: 1;}
ul.main_menu > li > ul:after {content: " "; position: absolute; top: 0; left: 0;  width: 100%; height:55px; margin-top: -55px; background-color: transparent;
right: 0;}
   ul.main_menu > li > ul > li.menu-item-has-children:hover > ul::after { content: " "; position: absolute; top: 0; left: -40px; width: 40px; background-color: var(--brand-mint); height: 40px; transform: none;}
ul.main_menu > li:hover > ul {opacity: 1; visibility: visible;}
ul.main_menu > li > ul li {margin-bottom:20px;}
ul.main_menu > li > ul li:last-child {margin-bottom:0;}
ul.main_menu > li > ul li a {font-size:1rem; font-weight:bold;}
ul.main_menu > li > ul li > a:hover, ul.main_menu > li > ul li.current-menu-item > a {color:var(--brand-green);}
ul.main_menu > li > ul > li.menu-item-has-children > a:after {content: "\f105"; position: absolute; right:-10px; top:2px; bottom: 0; margin: auto; display: block; font-size: 1rem; font-family: 'Font Awesome 6 Sharp'; z-index: 1;}
 ul.main_menu > li > ul > li.menu-item-has-children ul { position: absolute; left: calc(100% + 40px) !important; margin: 0; top: -20px !important; width: 100%; background: var(--brand-mint); padding: 20px 40px 20px 40px; opacity: 0; visibility: hidden; min-width: 290px; max-width: 290px; }
ul.main_menu > li > ul > li.menu-item-has-children:hover > ul {opacity: 1; visibility: visible;}
    ul.main_menu > li > ul > li.current-menu-ancestor > a {color: var(--brand-green);}

ul.main_menu li.flex-menu > ul > li.display-none {display: none!important;}

nav.navigation {transition:.4s all ease-in-out; margin:4px 0 0 0;}
ul.main_menu li.flex-menu > ul > li.hide-menu, ul.main_menu li > ul > li.hide-menu {display: none!important;}

/* White Header */
.white-header .main_header .container {max-width: 1440px; padding: 0 40px;}
.white-header .main_header .logo {width: 160px; height: 160px;}
.white-header .main_header .header_right {width:calc(100% - 160px); margin-bottom: auto; padding: 0 4px 0 0;}
.white-header .main_header .header-btns {margin: 2px 0 0 32px;}
.white-header .header-btns .button {background-color: var(--base-foreground); color: var(--white);}
.white-header .header-btns .button:hover {color: var(--white); background-color: var(--base-foreground); transform: translate(4px, -4px); box-shadow: -4px 4px 0px 0px var(--brand-mint), -3px 3px 0px 0px var(--brand-mint), -2px 2px 0px 0px var(--brand-mint), -1px 1px 0px 0px var(--brand-mint);}


.white-header nav.navigation {margin: 3px 0 0 0;}
.white-header ul.main_menu > li > a {color: var(--base-foreground);}
.white-header ul.main_menu > li >a:hover:after {background-color: var(--brand-mint);} 
.white-header ul.main_menu > li.current-menu-item>a, 
.white-header ul.main_menu > li.current-menu-parent>a, 
.white-header ul.main_menu > li.current-page-ancestor>a, 
.white-header ul.main_menu > li.current-menu-ancestor>a, 
.white-header ul.main_menu > li.menu-item-has-children > a:hover, 
.white-header ul.main_menu > li.current_page_item>a, 
.white-header ul.main_menu > li > a:hover, 
.white-header ul.main_menu > li.current_page_item a > span, 
.white-header ul.main_menu > li.current_page_ancestor li.current-page-ancestor a > span {color:var(--base-foreground);}

.white-header .main_header.fixed-header {background: var(--brand-green);}
.white-header .main_header.fixed-header ul.main_menu > li > a {color: var(--brand-mint);}
.white-header .main_header.fixed-header ul.main_menu > li >a:hover:after {background-color: var(--brand-blue);} 
.white-header .main_header.fixed-header ul.main_menu > li.current-menu-item>a, 
.white-header .main_header.fixed-header ul.main_menu > li.current-menu-parent>a, 
.white-header .main_header.fixed-header ul.main_menu > li.current-page-ancestor>a, 
.white-header .main_header.fixed-header ul.main_menu > li.current-menu-ancestor>a, 
.white-header .main_header.fixed-header ul.main_menu > li.menu-item-has-children > a:hover, 
.white-header .main_header.fixed-header ul.main_menu > li.current_page_item>a, 
.white-header .main_header.fixed-header ul.main_menu > li > a:hover, 
.white-header .main_header.fixed-header ul.main_menu > li.current_page_item a > span, 
.white-header .main_header.fixed-header ul.main_menu > li.current_page_ancestor li.current-page-ancestor a > span {color:var(--white);}
.white-header .main_header.fixed-header .header-btns .button {background-color: var(--brand-mint); color: var(--brand-green);}
.white-header .main_header.fixed-header .header-btns .button:hover {color: var(--brand-green); background-color: var(--brand-mint); box-shadow: -4px 4px 0px 0px var(--white), -3px 3px 0px 0px var(--white), -2px 2px 0px 0px var(--white), -1px 1px 0px 0px var(--white);}

/* Fixed Header */
.main_header.fixed-header {box-shadow: -1px 3px 17px -10px rgba(0, 0, 0, 0.75); -webkit-box-shadow: -1px 3px 17px -10px rgb(0 0 0 / .75); -moz-box-shadow: -1px 3px 17px -10px rgb(0 0 0 / .75);}
.main_header.fixed-header .container {max-width: 1440px; padding: 0 40px;}
.main_header.fixed-header .logo {width:56px; height:56px;}
.main_header.fixed-header .logo-pos {top:17px;}
.main_header.fixed-header .header {padding: 0;}
.main_header.fixed-header .header_right {width:calc(100% - 56px); padding-right: 0;}
.main_header.fixed-header .header-btns {right: -40px; margin:0 0 0 -8px;}
.main_header.fixed-header .header-btns .button {min-width: 107px; padding: 22px 16px;}
.main_header.fixed-header nav.navigation {margin: 0;}
.main_header.fixed-header nav.navigation:only-child {margin:20px 0 0 0;}

.main_header.fixed-header ul.main_menu > li > ul {top:calc(100% + 22px);}
.main_header.fixed-header ul.main_menu > li > ul::after {height: 20px; margin-top: -20px;}
.main_header.fixed-header ul.main_menu li.flex-menu > ul {top: 100%;}
.main_header.fixed-header ul.main_menu > li.menu-item-has-children:hover > a::before {bottom: -34px;}
    
    
/* No Banner Header */
.no-banner .main_header .container {max-width: 1440px; padding: 0 40px;}
.no-banner .main_header .logo {width:56px; height:56px;}
.no-banner .main_header .logo-pos {top:17px;}
.no-banner .main_header .header {padding: 0;}
.no-banner .main_header .header_right {width:calc(100% - 56px); padding-right: 0;}
.no-banner .main_header .header-btns {right: -40px; margin:0 0 0 -8px;}
.no-banner .main_header .header-btns .button {min-width: 107px; padding: 22px 16px;}
.no-banner .main_header nav.navigation {margin: 0;}
.no-banner .main_header nav.navigation:only-child {margin:20px 0 0 0;}

.no-banner .main_header ul.main_menu > li > ul {top:calc(100% + 22px);}
.no-banner .main_header ul.main_menu > li > ul::after {height: 20px; margin-top: -20px;}
.no-banner .main_header ul.main_menu li.flex-menu > ul {top: 100%;}
.no-banner .main_header ul.main_menu > li.menu-item-has-children:hover > a::before {bottom: -34px;}

}

@media only screen and (max-width:1279px) and (min-width:810px) {
.main_header .container, .main_header.fixed-header .container, .white-header .main_header .container {padding: 0 32px;}

ul.main_menu li.flex-menu > ul {padding: 80px 32px;}
}


@media only screen and (max-width:1023px) and (min-width:810px) {
.main_header .header {padding: 32px 0; max-height: 101px;}
.main_header .logo {width: 96px; height: 96px;}
.main_header .header_right {width: calc(100% - 96px);}
.main_header .header-btns {margin: 4px 0 0 16px;}
ul.main_menu > li > ul {top: calc(100% + 33px);}
ul.main_menu > li {margin:0 0 0 11px;}
    ul.main_menu > li > a {font-size: 0.965rem;}
ul.main_menu > li > ul::after {height:33px; margin-top: -33px;}
ul.main_menu > li.menu-item-has-children:hover > a::before {bottom: -45px;}
ul.main_menu li.flex-menu > ul > li ul li {width: 47%;}
    

ul.main_menu li.flex-menu > ul > li.li-flex-wrap {flex-wrap: wrap; gap: 26px;}
ul.main_menu li.flex-menu > ul > li.li-flex-wrap ul {width:100%; gap:40px 4.5%; flex-grow: 1;}
ul.main_menu li.flex-menu > ul > li.li-flex-wrap ul li {width:47.75%;}
ul.main_menu li.flex-menu > ul > li.li-flex-wrap ul.non-flex-ul {width:100%;}
ul.main_menu li.flex-menu > ul > li.li-flex-wrap ul.non-flex-ul li {width: 100%; margin-left:16px;}

.white-header .main_header .header {max-height: 101px;}
.white-header .main_header .logo {width: 96px; height: 96px;}
.white-header .main_header .header_right {width: calc(100% - 96px);}

.white-header .main_header.fixed-header .logo {width:56px; height:56px;}
.white-header .main_header.fixed-header .header_right {width:calc(100% - 56px);}



}


@media only screen and (max-width:809px) and (min-width:200px) {
.notification-left p {font-size: 1rem; line-height: normal;}
    
.main_header .header {max-height:56px; position:relative; justify-content:space-between; min-height: 56px; padding:16px 0 0 0;}
.main_header .container {padding:0 20px;}
.main_header .logo {width: 56px; height: 56px;}

.toggle_button {position: absolute; flex-direction: column; width: 56px; right: -20px; height:56px; cursor: pointer; top: 0; bottom: 0; margin: auto; display: block!important; text-align: center; background: var(--brand-mint);}
.toggle_button span {display: block; position: absolute; top: 50%; transform: translateY(-50%); transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; left: 0; right: 0; font-size: 1.25rem; color: var(--brand-green); line-height: 1;}
.toggle_button span:nth-child(2){opacity: 0;}
.toggle_button.active span:nth-child(1){opacity: 0;}
.toggle_button.active span:nth-child(2){opacity: 1;}

.menu-open .toggle_button {background: var(--brand-blue);}
.menu-open .toggle_button span {color: var(--white);}


.main_header .header_right.mobile_menu {display: block; padding:16px 0 32px 0; width: 100%; height:auto; top:56px; left: 0; bottom: 0; position: fixed; background: var(--brand-mint); overflow-y: auto; -webkit-overflow-scrolling: touch; transition: .5s ease-in-out; -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; z-index:1; opacity: 0; visibility: hidden; margin: 0; text-align: left; overflow-x: hidden;}
.main_header .header_right.navOpen {opacity: 1; visibility: visible;}

.mobile_menu {width: 100%; display: block;} 
.mobile_menu ul.main_menu {margin: 0;} 

/* Level 1 */
.mobile_menu ul.main_menu>li {display: block; margin: 0; } 
.mobile_menu ul.main_menu li:first-child {margin-top: 0!important;}
.mobile_menu ul.main_menu li.menu-item-has-children>a:after {content: "\2b"; font-family: 'Font Awesome 6 Sharp'; font-weight: 400; font-size: 1.75rem;  right: 0; top: 0; transform: none; margin: auto; position: absolute; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; color: var(--brand-blue); line-height: 1; text-shadow: 2px 2px 0 var(--white); width:72px; display: flex; justify-content: center; height: 56px; bottom: 0; align-items: center;} 
.mobile_menu ul.main_menu li.menu-item-has-children>a.active:after {content: "\f068";} 
.mobile_menu ul.main_menu li:before {display: none;} 

.mobile_menu ul.main_menu li a {font-weight: 900; font-family: 'Correct XXX Condensed', sans-serif; text-transform: uppercase;}
.mobile_menu ul.main_menu>li>a {display: block; position: relative; box-sizing: border-box; color:var(--base-foreground);padding:18px 56px 12px 24px; font-weight: 900; font-family: 'Correct XXX Condensed', sans-serif; text-transform: uppercase; font-size: 1.75rem; line-height: 100%; letter-spacing: 0.56px; border-top:2px solid var(--white);} 
.mobile_menu ul.main_menu>li>a:after {content: "\f061"; font-family: 'Font Awesome 6 Sharp'; font-weight: 400; font-size: 1.75rem;  right: 0; top: 0; transform: none; margin: auto; position: absolute; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; color: var(--brand-blue); line-height: 1; text-shadow: 2px 2px 0 var(--white); width:72px; display: flex; justify-content: center; height: 56px; bottom: 0; align-items: center;}
.mobile_menu ul.main_menu>li a:hover {color: var(--brand-blue);} 
.mobile_menu ul.main_menu>li:first-child>a {border: 0 none;}

/* Level 2 */
.mobile_menu ul.main_menu li > ul {display: none; margin:0; position: relative; background: var(--white); padding: 6px 0 0 0;} 
.mobile_menu ul.main_menu li ul li {margin: 6px 0 0 0;} 
.mobile_menu ul.main_menu li ul li a {display: block; position: relative; padding:13px 24px; font-size: 1.25rem; letter-spacing: 0.4px; line-height: 1; color: var(--brand-green);}
.mobile_menu ul.main_menu li ul li a:hover {color: var(--brand-blue)!important;}
.mobile_menu ul.main_menu > li.flex-menu > ul {padding: 0;}
.mobile_menu ul.main_menu > li.flex-menu > ul > li > ul {display: block!important; margin: 0; padding: 4px 0 0 0;}
.mobile_menu ul.main_menu > li.flex-menu > ul > li.flex-menu-child {display: none;}
.mobile_menu ul.main_menu > li.flex-menu > ul > li {font-size: 0; margin: 0;}
.mobile_menu ul.main_menu > li.flex-menu > ul > li .inline-underline-wrp, .mobile_menu ul.main_menu > li.flex-menu > ul > li .menu-shadow {display: none;}
.mobile_menu ul.main_menu > li.flex-menu > ul > li ul li {display: flex; flex-wrap: wrap; gap:0 16px; line-height: normal; margin: 6px 0 0 0;}
.mobile_menu ul.main_menu > li.flex-menu > ul > li ul li a {font-size: 1.25rem; letter-spacing: 0.4px; line-height: 1; color: var(--brand-green); padding-left: 58px; width: 100%;}
ul.main_menu li.flex-menu .menu-icon {width:20px; height: 20px; position: absolute; left: 24px; top: 13px;}
ul.main_menu li.flex-menu .menu-icon figure {line-height: normal; text-align: center;}
ul.main_menu li.flex-menu .menu-icon figure img {width: auto; height: auto; max-height: 20px;}
ul.main_menu li.flex-menu .h5 {margin: 0; width: 100%;}

.mobile_menu ul.main_menu > li.flex-menu > ul > li.kisp-items ul {padding: 18px 0 14px 0;}
.mobile_menu ul.main_menu > li.flex-menu > ul > li.kisp-items ul li {margin: 32px 0 0 0;}
.mobile_menu ul.main_menu > li.flex-menu > ul > li.kisp-items ul li .kisp-type {width: 100%; margin: 0;}
.mobile_menu ul.main_menu > li.flex-menu > ul > li.kisp-items ul li .kisp-type span {padding: 12px 16.5px;}
.mobile_menu ul.main_menu > li.flex-menu > ul > li.kisp-items ul li .kisp-type a {display: flex; flex-wrap: wrap; align-items: center; gap: 16px; padding: 0 24px; font-size: 1rem; font-weight: bold; font-family: "FK Grotesk Neue", sans-serif; text-transform: none; letter-spacing: normal; color: var(--base-foreground);}

.mobile_menu .header-btns {width: 100%; margin: 2px 0 0 0;}
.mobile_menu .header-btns .button {background: var(--brand-blue); display: block; text-align: left; color: var(--white); font-weight: 900; font-family: 'Correct XXX Condensed', sans-serif; text-transform: uppercase; font-size: 1.75rem; padding:18px 56px 14px 24px; letter-spacing: 0.56px;}
.mobile_menu .header-btns .button:after {content: "\f27a"; font-family: 'Font Awesome 6 Sharp'; font-weight: 400; font-size: 1.75rem;  right: 0; top: 0; transform: none; margin: auto; position: absolute; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; color: var(--brand-mint); line-height: 1; text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.15); width:76px; display: flex; justify-content: center; height: 56px; bottom: 0; align-items: center;}
.mobile_menu .header-btns .button:hover {transform: none; box-shadow: none; color: var(--brand-mint);}

ul.main_menu li.flex-menu > ul > li.display-none {display: none!important;}

ul.main_menu li#menu-item-1136 {padding: 20px 0 11px;}
ul.main_menu li#menu-item-1136 a {padding: 0 24px; font-size: 1rem; font-weight: bold; font-family: "FK Grotesk Neue", sans-serif; text-transform: none;
letter-spacing: normal; color: var(--base-foreground);}

html.no-scroll {overflow:hidden;}
}