.main_header {width:100%; top:0; left:0; right:0; position:fixed; z-index:99; background:transparent; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out;}
.main_header .header {padding:16px 0 16px; max-height:90px; transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out;}
.main_header .container-lg {transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out;}

.main_header .logo {width:150px; position:relative; height:56px; z-index:2; transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out;}
.main_header .logo a {width:100%; height:100%; display:block; position:relative;}
.main_header .logo a img {width:100%; height:100%;}
.main_header .header .toggle_button, .main_header ul li:before {display:none;}


/* Fixed Header */
.main_header.fixed-header {-webkit-box-shadow: -1px 3px 17px -10px rgb(0 0 0 / .75); -moz-box-shadow: -1px 3px 17px -10px rgb(0 0 0 / .75); box-shadow: -1px 3px 17px -10px rgba(0, 0, 0, 0.75); background: var(--Tint-Orange);}
.space-top .main_header {background: var(--Tint-Orange);}


/* Notification Bar */
.notification-bar { background: var(--Sienna-Orange); color: var(--white); height: auto; padding:16px 0 16px; width: 100%; clear: both;}
.notification-wrap {gap: 0 20px; align-items: center;}
.notification-left{flex: 1; display: flex; flex-wrap: wrap; align-items: center; gap: 20px 13px;}
.notification-left .notification-icon {width: fit-content; height: 32px; display: inline-block; margin: 8px 0 auto 0;}
.notification-left .notification-txt {flex:1; display: flex; align-items: center; flex-wrap: wrap; gap: 14px;}
.notification-left .notification-txt p {margin:0; color: var(--white); font-size: 1.111rem; font-weight: 700; line-height: 1.2; flex:1;}
.notification-left .notification-btn {display: inline-block; width: fit-content;}
.notification-left .notification-btn .button {font-size: 1.111rem; line-height: 1; padding: 14px 20px 14px 20px; margin-left: auto;} 
.notification-close{line-height: 0; color: var(--white); display: flex; align-items: center; justify-content: center; position: relative; font-size: 1.111rem; cursor: pointer; transition: all 0.5s ease-in-out; background: rgba(135, 57, 28, 0.5); border-radius: 50%; width: 48px; height: 48px;}
.notification-close:hover{opacity: 0.7;}


.model-overlay-hide {overflow:hidden;}


/* Header Search */
.header-search {display: inline-block; width: 48px; height: 48px;}
a.search-btn {position: relative; font-size:1.333rem; color:var(--white); display: block; background: var(--Sienna-Orange); border-radius: 50%; width: 100%; height: 100%; outline:4px solid transparent;}
a.search-btn:hover {outline:4px solid var(--button-outline)}
a.search-btn .custom_icon {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}


.search_form { width:100%; padding:32px; margin: auto; background: rgba(135, 57, 28, 0.50); backdrop-filter: blur(6px); display: flex; flex-wrap: wrap; height: 100%; align-items: center; position: fixed; left: 0; top: 0; z-index: 100; transition: .8s; -webkit-transition: .8s; -moz-transition: .8s; transform: translateY(-100%); -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%);}
.search_form.form-active {transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0);}
.search_form .hdrsearch-form {position: relative;}
.search_form input[type="submit"] {display: none;}
.search_form input.search-field {font-size: 1.111rem; padding:19px 50px 18px 79px; border-radius:32px; background: var(--white); width: 100%; color: var(--Foreground); font-weight: 400;}
.search_form .clear-btn{ top: 0; bottom: 0; right:16px; position: absolute; height: 100%; cursor: pointer; font-size: 1rem; opacity: 0.5; display: flex; align-items: center;} 
.search_form .clear-btn:hover{opacity: 0.75;}


.search_form ::-webkit-input-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif;  opacity:1!important; font-size:1.111rem!important; overflow: visible; font-weight: 400;}
.search_form :-moz-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; opacity:1!important; font-size:1.111rem!important; overflow: visible; font-weight: 400;}
.search_form ::-moz-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; opacity:1!important; font-size:1.111rem!important; overflow: visible; font-weight: 400;}
.search_form :-ms-input-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; opacity:1!important; font-size:1.111rem!important; overflow: visible; font-weight: 400;}


.search_form_container {box-shadow: 0 0 0 6px rgba(239, 70, 41, 0.25); position:relative; max-width:760px; margin: 0 auto; width: 100%; border: 1px solid var(--Sienna-Orange); border-radius: 32px;}
.search_form_container .custom_icon {position: absolute; width: 56px; height: 56px;	left:3px; top: 4.5px; display: flex; align-items: center; font-size:1.333rem; color:var(--white); background: var(--Sienna-Orange); border-radius: 50%; outline:4px solid transparent; justify-content: center;}
.search_form_container .close-search { position:absolute; right:0; display: flex; align-items: center; border-radius: 4px;  background-color:rgb(188, 43, 11); width:34px; height:34px; top:0; bottom:0; margin:auto; cursor:pointer;}
.search_form_container .close-search img { margin:0 auto;}
.search_form_container .close-search:hover {background-color: #000;}

.icon_rel { position:relative; display:block;}

@media only screen and (min-width:1024px) {
.main_header .header-btm {display:flex; flex-wrap:wrap; justify-content:flex-end; width:100%; align-items:center; transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out; gap:20px;}
.main_header .header_right {width:calc(100% - 150px); transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out;}
  
    
/* Menu Level 1*/
ul.main_menu {margin:0; font-size:0; line-height: normal;}
ul.main_menu > li {margin:0 0 0 33px; display:inline-block; line-height: normal;}
ul.main_menu > li:first-child {margin-left:0;}
ul.main_menu > li > a {font-size:1rem; font-weight: 700; display:inline-block; position:relative; color:var(--Foreground);}
ul.main_menu > li > a:hover {color:var(--Foreground);}
ul.main_menu > li >a::after {content: ''; position: absolute; display: block; margin: auto; height:1px; width: 0; bottom:0; transition: width .5s ease, background-color .5s ease; left:0; transform: translate(0, 0);}
ul.main_menu > li >a:hover:after {width: 100%; background: var(--Sienna-Orange);}
ul.main_menu > li.current-menu-item>a, 
ul.main_menu > li.current-menu-parent>a, 
ul.main_menu > li.current-page-ancestor>a, 
ul.main_menu > li.current-menu-ancestor>a, 
ul.main_menu > li.menu-item-has-children > a:hover, 
ul.main_menu > li.current_page_item>a, 
ul.main_menu > li > a:hover, 
ul.main_menu > li.current_page_item a > span, 
ul.main_menu > li.current_page_ancestor li.current-page-ancestor a > span {color:var(--Foreground);}
ul.main_menu > li.menu-item-has-children >a::after {}
ul.main_menu > li.menu-button a {background: var(--white); border-radius:60px; padding:11px 14px 10px 14px; border: 2px solid transparent;  outline:4px solid transparent;}
ul.main_menu > li.menu-button a:hover {border: 2px solid var(--Sienna-Orange);  outline:4px solid var(--button-outline);}
ul.main_menu > li.menu-button a:hover:after {display: none;}

/* Submenu Level 2*/    
ul.main_menu > li > ul {margin:0; padding:20px 25px; min-width:216px; top:calc(100% + 35px); position:absolute; left:0; text-align:left;  width:100%; opacity:0; visibility:hidden; background:var(--light); transition: visibility .3s ease,opacity .3s ease,transform .3s ease; text-transform: capitalize; font-size: 0.895rem; font-family: 'Segoe UI This', sans-serif;}
ul.main_menu > li > ul:after {content: " "; position: absolute; top: 0; left: 0;  width: 100%; height:35px; margin-top: -35px; background-color: transparent;
right: 0;}
ul.main_menu > li:hover > ul {opacity: 1; visibility: visible;}
ul.main_menu > li > ul > li {margin-bottom: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);}
ul.main_menu > li > ul > li:first-child {border-top:0 none;}
ul.main_menu > li > ul > li:first-child > a {padding-top: 0;}
ul.main_menu > li > ul > li:last-child a {padding-bottom: 0;}
ul.main_menu > li > ul > li a {color:var(--global); line-height: 1.44; display: block; position: relative; padding: 15px 0 14px;}
ul.main_menu > li > ul > li > a:hover, ul.main_menu > li > ul > li.current-menu-item > a {color:var(--anchor);}


 /* Submenu Level 3*/
ul.main_menu > li.single-menu > ul > li > ul li {border: 0 none; margin: 0 0 18px 0;}
ul.main_menu > li.single-menu > ul > li > ul li:last-child {margin: 0;}
ul.main_menu > li.single-menu > ul > li > ul li a {color: var(--white); font-size: 0.842rem; padding: 0;}
    ul.main_menu > li.single-menu > ul > li > ul li a:hover {color: var(--anchor);}
ul.main_menu > li.single-menu > ul > li.menu-item-has-children {position: initial;}
ul.main_menu > li.single-menu > ul > li.menu-item-has-children span {position: absolute; right: -25px; top: 0; bottom: 0; margin: auto;}
ul.main_menu > li.single-menu > ul > li.menu-item-has-children:hover span:before {content: ""; position: absolute; right:0; top: 0; bottom: 0; width: 5px; height: 10px; background: var(--Sienna-Orange-dark); clip-path: polygon(100% 0, 0 50%, 100% 100%); margin: auto;}
ul.main_menu > li.single-menu > ul > li.menu-item-has-children > a::after {content: " "; position: absolute; top: 0; right:-25px; width: 25px; background-color: transparent; height:100%; transform: none;}
ul.main_menu > li.single-menu > ul > li > ul {position:absolute; left:100%; margin:0; top:0; width:100%; background:var(--Sienna-Orange-dark); padding:22px 25px 27px; opacity:0; visibility:hidden; min-width:157px; max-width:157px; height: 100%;}
ul.main_menu > li.single-menu > ul > li:hover > ul {opacity: 1; visibility: visible;}  



  
/* Flex CTA */
ul.main_menu li.flex-menu.cta-flex-menu > ul {align-items: center; gap: 0; padding: 0 0 0 21px;}
ul.main_menu li.flex-menu.cta-flex-menu > ul > li {flex: inherit; border: 0 none; padding: 40px 0 40px 0; margin: 0 0 0 6%; width: 216px; z-index: 2;}

    
nav.navigation {transition:.4s all ease-in-out;}
nav.navigation.active {opacity: 0.4;}
nav.navigation.active:before {content: "";position: absolute; left: 0; background:var(--white); background: linear-gradient(90deg,rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 1) 50%); width: 100%; height: 100%; display: block; z-index: 1; top: 0;}
ul.main_menu li.flex-menu > ul > li.hide-menu, ul.main_menu li > ul > li.hide-menu {display: none!important;}
}



@media only screen and (max-width:1023px) and (min-width:200px) {
.main_header {transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out;}
.main_header .container-lg {padding: 0 24px;}
.main_header .header {position:relative; justify-content:space-between; min-height:56px; padding:0;}
.main_header .logo {width:107px;}

.main_header .header .toggle_button {z-index:2; cursor:pointer; position:absolute; right:2px; width:26px; height:30px; display:block; top:50%; transform:translateY(-50%); margin: -1px 0 0 0;} 
.main_header .header .toggle_button span.line{display:block; width:26px; height:2px; background-color:var(--Sienna-Orange); top:50%; position:absolute; transform:translateY(-50%); left:0; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; right: 0; margin: auto;}
.main_header .header .toggle_button span.line1{margin-top:-9px;}
.main_header .header .toggle_button span.line3{margin-top:9px;}

.main_header .header .toggle_button.active {background: var(--Sienna-Orange-dark); width: 70px; top: 0; height: 70px; transform: none; right: -20px; margin: 0;}
.main_header .header .toggle_button.active span.line1 {margin-top:0; transform:translateY(-50%) rotate(45deg);}
.main_header .header .toggle_button.active span.line2{visibility:hidden; opacity:0;}
.main_header .header .toggle_button.active span.line3 {width:26px; margin-top:0; transform:translateY(-50%) rotate(-45deg);}
.main_header .header .toggle_button.active span.line { width:26px; background-color: var(--white);}
 
.notification-left .notification-txt p {flex:100%;}
.notification-left .notification-icon {margin: 0 0 auto 0;}


    
.main_header .header_right.mobile_menu {display: block; padding:0; width: 100%; height:auto; top:70px; right:-100%; bottom: 0; position: fixed; overflow-y: auto; -webkit-overflow-scrolling: touch; transition: .5s ease-in-out; -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; z-index:1; margin: 0; overflow-x: hidden; background: var(--Sienna-Orange-dark);}
.main_header .header_right.navOpen {right: 0;}

.mobile_menu {width: 100%; display: block;} 
.mobile_menu ul.main_menu {margin: 0;} 
    

/* Level 1 */
.mobile_menu ul.main_menu>li {display: block; margin: 0; border-top: 1px solid rgba(255, 255, 255, 0.1);} 
.mobile_menu ul.main_menu > li.sib {opacity: 0.6;}
.mobile_menu ul.main_menu > li.sib:hover {opacity: 1;}
.mobile_menu ul.main_menu li:first-child {border: 0 none!important;}

.mobile_menu ul.main_menu li:before {display: none;} 

.mobile_menu ul.main_menu > li > a {text-transform: uppercase; transition-duration: .8s;}
.mobile_menu ul.main_menu >li >a {display:block; position: relative; box-sizing: border-box; color:var(--white); font-weight: 700; text-transform: uppercase; font-size: 0.684rem; font-family: "montserrat",sans-serif; line-height: 1.67; padding: 22px 20px 21px;} 

.mobile_menu ul.main_menu > li > a:hover, .mobile_menu ul.main_menu>li a.active {color: var(--white); padding-left:56px;} 
.mobile_menu ul.main_menu >li:first-child>a {border: 0 none;}
.mobile_menu ul.main_menu > li > a:before {content: ''; position: absolute; display: block; margin: auto; height:1px; width: 0; left:20px; background:var(--white); top: 0; bottom: 0; transition: width 0.8s cubic-bezier(.075, .82, .165, 1), background-color 0.8s cubic-bezier(.075, .82, .165, 1);}
.mobile_menu ul.main_menu>li > a:hover:before, .mobile_menu ul.main_menu>li a.active:before {width: 26px;}

/* Level 2 */
.mobile_menu ul.main_menu li > ul {display: none; margin:0; position: relative;} 

ul.main_menu > li.single-menu > ul {padding:0 0 19px 56px; margin: 0;}
ul.main_menu > li.single-menu > ul > li a {font-size: 0.895rem; color: var(--white-70);}
ul.main_menu > li.single-menu > ul > li > a:hover {color: var(--white);}
ul.main_menu > li.single-menu > ul > li > a.active {padding-left: 0; color: var(--white);}
ul.main_menu > li.single-menu > ul > li > ul {padding: 10px 0 2px 20px;}
ul.main_menu > li.single-menu > ul > li > ul li {margin-bottom: 4px;}
ul.main_menu > li.single-menu > ul > li > ul li a {font-size: 0.789rem; line-height: 1.4; display: inline-block;}

ul.main_menu li.flex-menu.cta-flex-menu > ul {font-size: 0; margin: 8px 0 0 0;}
ul.main_menu li.flex-menu.cta-flex-menu > ul > li {display: inline-block; width: 50%; padding: 0 10px 25px 20px; vertical-align: top;}
ul.main_menu li.flex-menu.cta-flex-menu > ul > li:first-child > a {pointer-events: none;}
ul.main_menu li.flex-menu.cta-flex-menu > ul > li:nth-child(2n) {padding: 0 20px 25px 10px;}
ul.main_menu li.flex-menu.cta-flex-menu > ul ul li {border-top: 1px solid rgba(255, 255, 255, 0.1)!important;}
ul.main_menu li.flex-menu.cta-flex-menu > ul > li ul {margin: -3px 0 0 0; display: block!important;}
ul.main_menu li.flex-menu.cta-flex-menu > ul > li ul li a {color: var(--white); padding: 15px 0 13px;}
ul.main_menu li.flex-menu.cta-flex-menu > ul > li.menu-cta {width: 100%; margin: 0; max-width: 100%; min-height: 290px;}
ul.main_menu li.flex-menu.cta-flex-menu > ul > li.menu-cta .menu-cta-container {padding:20px 20px 22px 20px;}
ul.main_menu li.flex-menu.cta-flex-menu > ul > li.menu-cta .cta-brand-icon {display: none;}    
  
/* Level 3 */
    ul.main_menu li.flex-menu > ul {background: var(--Sienna-Orange-dark); margin: -5px 0 0 0;}
    ul.main_menu li.flex-menu > ul > li {padding: 0 20px 20px 20px;}
    ul.main_menu li.flex-menu > ul > li:first-child > a {pointer-events: none;}
    ul.main_menu li.flex-menu > ul > li ul {margin:5px 0 0 0;}    
    ul.main_menu li.flex-menu > ul > li ul li {width: 100%;}
    ul.main_menu li.flex-menu > ul > li ul li, ul.main_menu li.flex-menu > ul > li ul li:nth-child(2) {border-top: 1px solid rgba(255, 255, 255, 0.1)!important;}
    ul.main_menu li.flex-menu > ul > li ul li a .menu-text {padding: 14px 20px 10px;}
    ul.main_menu li.flex-menu > ul > li ul li a .menu-text span {color: var(--white);}
    ul.main_menu li.flex-menu > ul > li ul li a .menu-text p {color: var(--white-60); margin-top: 1px;}
    ul.main_menu li.flex-menu > ul > li > a {font-size: 0.579rem; color: var(--white-60); line-height: normal; display: inline-block;}
    
html.no-scroll {overflow:hidden;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
.search_form ::-webkit-input-placeholder {font-size:0.765rem!important;}
.search_form :-moz-placeholder {font-size:0.765rem!important;}
.search_form ::-moz-placeholder {font-size:0.765rem!important;}
.search_form :-ms-input-placeholder {font-size:0.765rem!important;}
}