.hero-banner-section {float: left; width: 100%; z-index: 1; position: relative; background: var(--Tint-Orange); padding: 88px 0 0 0; margin: 0 0 40px 0;}
.hero-banner-section .optional-text {color: var(--Foreground); opacity: 1;}
.hero-banner-main {width: 100%; position: relative; gap:5.88235294117647%; flex-direction: row-reverse; min-height: 640px;}
.hero-banner-main .hero-banner-thumb {width:47.05882352941176%; position: relative;}
.hero-banner-main .hero-banner-thumb .hero-banner-img {bottom: -40px; position: absolute; width: 100%;}

.hero-banner-main .hero-banner-text {clear: both; width: calc(100% - 52.94%); padding:80px 0 40px 40px; display: flex; align-items: center; flex-wrap: wrap; flex-grow: 1; transition: all 0.5s ease-in-out;}
.hero-banner-main .hero-banner-text h1 {color: var(--Sienna-Orange);}
.hero-banner-main .hero-banner-text p {font-size: 1rem; color: var(--Dark-Gray); margin-bottom: 32px;}

/*-- media starts here --*/
@media only screen and (max-width:1280px) and (min-width:1024px) {
    .hero-banner-main .hero-banner-text {padding-left: 0;}
}


@media only screen and (max-width: 1023px) and (min-width: 200px){
    .hero-banner-section {padding:72px 0 28px 0; margin: 0;}
    .hero-banner-section .container-lg {padding: 0 16px;}
    .hero-banner-main {flex-direction: column; gap:32px; min-height: inherit;}
    .hero-banner-main .hero-banner-thumb {width: 100%; min-height: inherit; height: 61.285vw; overflow: hidden;}
    .hero-banner-main .hero-banner-thumb .hero-banner-img {position: initial;}
    .hero-banner-main .hero-banner-text {width: 100%; padding: 0 16px; align-items: flex-start;}

}
@media only screen and (max-width: 1023px) and (min-width:768px){
        .hero-banner-section {padding:72px 0 60px 0;}
}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .hero-banner-main .hero-banner-text h1 {font-size: 2.222rem;}
    .hero-banner-main .hero-banner-text p {font-size: 0.889rem; line-height: 1.5; margin-bottom: 18px;}

}