.hero-banner-section {float: left; width: 100%; z-index: 1; position: relative; background: var(--Tint-Orange); padding: 88px 0 0 0; margin: 0 0 40px 0;}
.hero-banner-section .optional-text {color: var(--Foreground); opacity: 1;}
.hero-banner-main {width: 100%; position: relative; gap:5.88235294117647%; flex-direction: row-reverse; min-height: 640px;}
.hero-banner-main .hero-banner-thumb {width:47.05882352941176%; position: relative;}
.hero-banner-main .hero-banner-thumb .hero-banner-img {bottom: -40px; position: absolute; width: 100%; height: 100%; min-height: 640px;}

.hero-banner-main .hero-banner-text {clear: both; width: calc(100% - 52.95%); padding:80px 0 40px 40px; display: flex; align-items: center; flex-wrap: wrap; flex-grow: 1; transition: all 0.5s ease-in-out;}
.hero-banner-main .hero-banner-text h1 {color: var(--Sienna-Orange);}
.hero-banner-main .hero-banner-text h1 u {text-decoration-color: var(--white); text-underline-position: from-font; text-underline-offset: 2px;}
.hero-banner-main .hero-banner-text p {font-size: 1rem; color: var(--Dark-Gray); margin-bottom: 32px;}

.hero-banner-main .hero-banner-text .hero-banner-date-main{gap: 12px; margin-bottom: 20px;}
.hero-banner-main .hero-banner-text .hero-banner-date-main span.fa-sharp{font-size: 0.889rem; line-height: 1.5; color: var(--Sienna-Orange);}
.hero-banner-main .hero-banner-text .hero-banner-date-main span.hero-banner-date{font-size: 0.778rem; line-height: 1.5; font-weight: 700; }

.hero-banner-main .hero-banner-text .hero-banner-category{gap: 10px; margin-bottom: 20px;}
.hero-banner-main .hero-banner-text .hero-banner-category a{font-size: 0.889rem; line-height: 1.5; display: inline-block; font-weight: 700; color: var(--black-75); padding: 8px 16px; background: var(--white); border-radius: 60px; border: 2px solid transparent; outline: 4px solid transparent;}
.hero-banner-main .hero-banner-text .hero-banner-category a:hover{color: var(--Sienna-Orange);border: 2px solid var(--Sienna-Orange); outline: 4px solid var(--button-outline);}

.hero-banner-section.no-banner-img .hero-banner-main {min-height: inherit;}

/*-- media starts here --*/
@media only screen and (max-width:1280px) and (min-width:1024px) {
    .hero-banner-section {margin:0 0 32px 0;}
    .hero-banner-main {gap:5.3%; min-height: 576px;}
    .hero-banner-main .hero-banner-text {padding: 62px 0 32px 32px;}
    .hero-banner-main .hero-banner-thumb {width: 47.369%;}
    .hero-banner-main .hero-banner-thumb .hero-banner-img {bottom: -32px; min-height: 576px;}
}


@media only screen and (max-width: 1023px) and (min-width: 200px){    
    .hero-banner-section {margin-bottom: 0;}
    .hero-banner-main {flex-direction: column; gap:32px; min-height: inherit;}
    .hero-banner-main .hero-banner-thumb {width: 100%; min-height: inherit; height: 61.285vw; overflow: hidden;}
    .hero-banner-main .hero-banner-thumb .hero-banner-img {position: initial; min-height: inherit;}
    .hero-banner-main .hero-banner-text {width: 100%; padding: 0 16px; align-items: flex-start;}

}

@media only screen and (max-width: 1023px) and (min-width:810px){
    .hero-banner-section {padding:66px 0 48px 0;}
    .hero-banner-section .container-lg {padding: 0 24px;}
    .hero-banner-main .hero-banner-thumb {height: 52.965vw;}
    .hero-banner-main .hero-banner-text {padding: 0 24px}
    .hero-banner-main {gap:24px;}

    .hero-banner-main .hero-banner-thumb .hero-banner-img img{object-position: top center;}
    
}

@media only screen and (max-width:809px) and (min-width:768px){
.hero-banner-section {padding:72px 0 48px 0; margin: 0;}
.hero-banner-main .hero-banner-thumb .hero-banner-img img{object-position: top center;}
}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .hero-banner-section {padding: 72px 0 28px 0; margin: 0;}
    .hero-banner-section .container-lg {padding: 0 16px;}
    .hero-banner-main .hero-banner-text h1 {font-size: 2.222rem;}
    .hero-banner-main .hero-banner-text p {font-size: 0.889rem; line-height: 1.5; margin-bottom: 18px;}
    .hero-banner-main .hero-banner-text p:last-child {margin-bottom: 0;}

    .hero-banner-main .hero-banner-text .hero-banner-date-main{gap: 6px; margin-bottom: 12px; }

    .hero-banner-main .hero-banner-text .hero-banner-category{gap: 12px; margin-bottom: 12px;}
    .hero-banner-main .hero-banner-text .hero-banner-category a{ font-size: 0.778rem; padding: 4px 8px;}

}