
.ic-events-section{position: relative; clear: both;}

.ic-events-heading{gap: 20px; margin-bottom: 48px;}
.ic-events-title{flex: 1;}
.ic-events-title h2{margin-bottom: 0;}
.ic-events-sort{width: fit-content; gap: 20px;}
body .events-search-form input{background: var(--Tint-Orange); border-radius: 60px; border: 1.25px solid var(--Sienna-Orange); background-color: var(--Tint-Pink) !important; padding: 15px 60px 15px 20px; font-size: 1rem; line-height: 1.35; background-image: url('../images/search-icon.svg'); background-position: calc(100% - 20px) calc(50% - 1px); background-repeat: no-repeat; background-size: 27px 24px;}
body.page-template-ic-events ::-webkit-input-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size: 1rem!important; overflow: visible; font-weight: 700;}
body.page-template-ic-events :-moz-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size: 1rem!important; overflow: visible; font-weight: 700;}
body.page-template-ic-events ::-moz-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size: 1rem!important; overflow: visible; font-weight: 700;}
body.page-template-ic-events :-ms-input-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size: 1rem!important; overflow: visible; font-weight: 700;}

.ic-events-item{border: 1px solid var(--Tint-Blue); padding: 32px;}
.ic-events-inner{margin-bottom: 16px;}
.ic-events-category{gap: 10px; margin-bottom: 16px;}
.ic-events-icon{width: 48px;}
.ic-events-icon img{width: 48px; height: 48px; object-fit: contain;}
.ic-events-cat-txt{flex: 1; justify-content: end; gap: 10px;}
.ic-events-cat-txt span{padding: 8px 16px; background: var(--Tint-Pink); border-radius: 60px; font-size: 0.778rem; line-height: 1.5; font-weight: 700; color: var(--black-75); width: fit-content; }
.ic-events-inner p{color: var(--Dark-Gray);}
.ic-events-inner ul{margin: 0 0 16px;}
.ic-events-inner ul li::before{display: none;}
.ic-events-inner ul li{gap: 12px; margin-bottom: 5.5px; align-items: center;}
.ic-events-inner ul li span{font-size: 0.889rem; color: var(--Coal); line-height: 1.5;}
.ic-events-inner ul li span.fa-sharp{font-size: 1rem; color: var(--Sienna-Orange);}
.ic-events-btn{margin-top: auto;}

.ic-events-show-btn{gap: 16px; margin-top: 48px;}
.ic-events-line{margin: 0; flex: 1;}


@media screen and (min-width: 1024px) {
  .ic-events-main{padding: 80px 0;}
  .ic-events-lists{gap: 40px;}
  .ic-events-item{flex: 0 0 calc(33.333% - 27px);}
  body .ic-events-sort .selectBox-dropdown{min-width: 248px;}
  body .events-search-form input{width: 248px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px){
  .ic-events-main{padding: 48px 0;}
  .ic-events-heading{margin-bottom: 32px;}
  .ic-events-title h2{font-size: 1.778rem; }
  .ic-events-sort{gap: 16px;}
  body .ic-events-sort .selectBox-dropdown{min-width: 148px;}
  body .events-search-form input{width: 148px;}
  .ic-events-lists{gap: 40px;}
  .ic-events-item{flex: 0 0 calc(50% - 20px); padding: 24px;}
  .ic-events-category{margin-bottom: 12px;}
  .ic-events-inner p{margin-bottom: 12px; }
  .ic-events-show-btn{gap: 12px; margin-top: 32px;}
}

@media screen and (max-width: 767px) and (min-width: 200px){
  .ic-events-main{padding: 28px 0;}
  .ic-events-heading{gap: 15px; margin-bottom: 28px; }
  .ic-events-title{width: 100%;}
  .ic-events-sort{width: 100%; gap: 10px;}
  .ic-events-sort > div{width: 100%;}
  .ic-events-lists{gap: 40px;}
  .ic-events-item{width: 100%; padding: 20px;}
  .ic-events-inner{margin-bottom: 8px;}
  .ic-events-category{gap: 10px; margin-bottom: 8px;}
  .ic-events-icon{width: 32px;}
  .ic-events-icon img{width: 32px; height: 32px; object-fit: contain;}
  .ic-events-cat-txt span{padding: 4px 8px; font-size: 0.667rem;}
  .ic-events-inner p{margin-bottom: 8px; }
  .ic-events-inner ul{margin: 0 0 8px;}
  .ic-events-inner ul li{gap: 6px; margin-bottom: 4px;}
  .ic-events-inner ul li span.fa-sharp{font-size: 0.889rem; }
  .ic-events-inner ul li span{font-size: 0.778rem; }
  .ic-events-show-btn{gap: 8px; margin-top: 28px;}
}