.if-module{clear: both; width: 100%; position: relative; z-index: 1; background: var(--white); padding: 80px 0;}
.if-module .h1 {margin-bottom: 36px;}
.if-main {display: flex; flex-wrap: wrap; gap: 40px; width: 100%;}
.if-txt {padding:40px 64px 68px 40px; width: 400px; position: relative;}
.if-txt .if-bg {clip-path:var(--path-ltbr-24);}
.if-txt .if-cnt {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: flex-end; height: 100%;}
.if-txt .if-cnt .if-icon {width: auto; height: 40px; margin:0 0 22px 0; align-self: flex-start;}
.if-txt .if-cnt .if-icon svg {width: auto; height: 100%; filter: drop-shadow(2px 2px 0 var(--white));}
.if-txt .if-cnt p {font-size: 1rem; line-height: 1.5;}

.if-img {position: relative; width:calc(100% - 440px);}
.if-img .if-thumb {clear: both; width: 100%; height: 100%; clip-path: var(--path-148);}

.if-row {justify-content: space-between; gap:40px;}
.if-row:nth-child(2n) {flex-direction: row-reverse;}
.if-row:nth-child(3n) .if-bg {transform: scale(-1, 1);}

.if-cnt figure{ width: auto; height: 40px; margin: 0 auto 22px 0;}

@media only screen and (min-width: 1024px) {
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .if-txt {padding: 110px 64px 86px 40px;}


}
    
@media only screen and (max-width: 1400px) and (min-width: 200px) {
    .if-txt .if-cnt p {font-size: 14px;}
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
    .if-img { position: relative; width: calc(100% - 365px); }
    .if-txt {width: 325px; padding: 32px;}
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .if-main {gap: 32px;}
    .if-module {padding: 64px 0;}
    .if-module .h1 {font-size: 3.5rem; margin-bottom: 32px;}
    .if-row{gap: 32px;}
    .if-img {width: calc(100% - 357px);}
    .if-txt {width: 325px; padding: 50px 48px 34px 40px;}
    .if-cnt .h3{font-size: 2rem; margin-bottom: 14px;}
    .if-txt .if-cnt .if-icon { margin: 0 auto 16px 0;}

   
    
}



@media only screen and (max-width: 767px) and (min-width: 200px) {
    .if-module {padding: 40px 0;}
    .if-module .h1 {font-size: 3rem; margin-bottom: 16px;}
    .if-main {gap: 20px;}
    .if-row{gap: 20px;}
    .if-img{width: 100%; min-height: 311px;}
    .if-txt{width: 100%; padding: 34px 34px 20px 20px;}
    .if-cnt .h3{font-size: 1.5rem; margin-bottom: 12px;}
    .if-txt .if-cnt .if-icon { margin: 0 0 11px 0; }

}