.intro-module {background-color: var(--base-elevated); clear: both; width: 100%; position: relative; z-index: 1; padding: 80px 0 79px 0;}
.intro-module .optional-text {margin: 0 0 14px 0;}
.intro-module .h1b {margin-bottom: 37px;}
.intro-inner{gap:40px;}
.intro-grid {flex: 0 0 calc(25% - 40px); flex-grow: 1;}
.intro-grid .h3 {margin-bottom: 10px;}
.intro-grid p{line-height: 1.5; font-size: 1rem;}

.intro-icon {margin-bottom: 21px; position: relative; width: 100%; line-height: 42px; height: 42px; max-height: 42px; display: flex; align-items: center; justify-content: center;}
.intro-icon figure {width: 100%; height: 100%; display: flex; align-items: center;}
.intro-icon figure img{width: auto; height:auto; display: block;}
.intro-bg {width:100%; background: var(--base-elevated); height: 100%; z-index: -1; display: block; opacity: 0.6; clip-path: polygon(24.5% 0%, 100% 0%, 52.8% 100%, 0% 113%); right: 40px;}




@media only screen and (min-width:1280px) {
}

@media only screen and (max-width:1280px) {

    .intro-grid p {font-size: 0.875rem;}
}

@media only screen and (max-width:1280px) and (min-width: 1024px) {
    .intro-module{padding: 64px 0;}
    .intro-module .h1b { font-size: 3rem; margin-bottom: 32px; }
    .intro-grid { flex: 0 0 calc(50% - 40px);}
    .intro-inner { gap: 32px; justify-content: space-between;}

}

@media only screen and (max-width:1023px) and (min-width: 768px) {
    .intro-module {padding: 64px 0 64px;}
    .intro-module .h1b { font-size: 3rem; letter-spacing: 0.96px; margin-bottom: 30px;}
    .intro-grid { flex: 0 0 calc(50% - 40px);}
    .intro-inner { gap: 32px; justify-content: space-between;}
    .intro-grid .h3 {font-size: 2rem;}

    .intro-icon { margin-bottom: 18px}
}

@media only screen and (max-width:767px) and (min-width: 200px) {
     .intro-module {padding: 40px 0 40px;}
    .intro-module .h1b { font-size: 2.5rem; letter-spacing: 0.8px; margin-bottom: 16px;}
    .intro-inner{flex-direction: column; gap: 39px;}
    .intro-grid { flex: 100%;}




}