.introduction-module {width: 100%; z-index: 1; position: relative; clear: both; background: var(--white); padding: 79px 0 79px;}
.introduction-module .secwrapper {gap: 80px;}
.introduction-module .section-intro .h1 {margin: 0 0 20px;}
.introduction-wrap {width: 100%; gap:6.666666666666667%; flex-direction: row-reverse;}
.introduction-thumb {width: 58.333333333333336%; flex-grow: 1;}
.introduction-thumb .video-thumbnail > img, .introduction-thumb .static-thumbnail > img {min-height: 393px; max-height: 393px;}
.introduction-txt {width: 35%; color: var(--Dark-Gray); flex-grow: 1;}
.introduction-txt p {margin-bottom: 18px;}
.introduction-txt p:last-child {margin: 0;}
.introduction-module .section-intro .optional-text {margin: 0 0 17px 0;}
.introduction-module .shadow {background: var(--white);}


/*-- media starts here --*/

@media only screen and (max-width: 1023px) and (min-width: 200px){
    
    .introduction-thumb, .introduction-txt {width: 100%;}
}
@media only screen and (max-width:767px) and (min-width: 200px){
    .introduction-module {padding: 28px 0;}
    .introduction-module .section-intro .h1 {margin: 0 0 13px;}
    .introduction-module .secwrapper {gap:56px;}
    .introduction-wrap {flex-direction: column; gap:56px;}
    .introduction-thumb .video-thumbnail > img, .introduction-thumb .static-thumbnail > img {min-height: 182px; max-height: inherit; height: 46.9vw;}
    
}