.kisp-overview-module {background-color: var(--base-elevated); clear: both; width: 100%; position: relative; z-index: 1; padding: 80px 0 79px 0;}
.kisp-overview-module .optional-text {margin: 0 0 14px 0;}
.kisp-overview-module .h1b {margin-bottom: 38px;}
.ko-list-main{gap:64px; width: calc(100% + 24px); padding: 24px 24px 0 24px; position: relative; left: 0;}
.ko-list {width:/*20.782%*/21.177%; background: var(--white); padding:32px; position: relative; font-size: 1rem; line-height: 1.5; flex-grow: 1;}

.ko-shadow {width: calc(100% + 24px); height: calc(100% + 24px); display: block; background: var(--brand-mint); z-index: -1; left: -24px; top: -24px; clip-path: var(--path-24);}

.ko-list .kisp-type {margin: 0 0 24px 0;}
.ko-list p{margin-bottom: 20px; font-size: 0.875rem;}
.ko-list .inline-underline-wrp .inline-underline {bottom:0;}

@media only screen and (min-width:1280px) {
}

@media only screen and (min-width:1280px) {

}

@media only screen and (max-width:1400px) and (min-width: 1200px) {
    .ko-list {width: 20.177%;}
}

@media only screen and (max-width:1199px) and (min-width: 1024px) {
    .ko-list-main {justify-content: space-between;}
    .ko-list {width: 46.19%;}
    .ko-list p {max-width: inherit;}
}
@media only screen and (max-width:1023px) and (min-width:768px) {
    .kisp-overview-module {padding: 64px 0 20px;}
    .ko-list-main {gap: 52px;width: calc(100% + 20px); padding: 20px 20px 0 20px;}
    .ko-shadow {width: calc(100% + 20px); height: calc(100% + 20px); left: -20px; top: -20px; clip-path: var(--path-20);}
    .ko-list {width: 45.8%;}
}

@media only screen and (max-width:767px) and (min-width: 200px) {
    .kisp-overview-module {padding: 40px 0 20px 0;}
    .kisp-overview-module .h1b {margin-bottom: 18px;}    
    .ko-list-main {gap:36px;width: calc(100% + 16px); padding: 16px 16px 0 16px;}
    .ko-list {width: 100%;}
    .ko-list p {font-size: 0.75rem; max-width: inherit;}
    .ko-shadow {width: calc(100% + 16px); height: calc(100% + 16px); left: -16px; top: -16px; clip-path: var(--path-16);}
    
}