.kisp-pm {position: relative; clear: both; width: 100%; background: var(--base-elevated); padding:84px 0 40px 0; z-index: 1;}
.kisp-pm .h1 {margin-bottom: 35px;}
.kisp-pm-main {gap:80px 40px; padding: 24px;}
.kisp-shadow {width: calc(100% + 24px); height: calc(100% + 24px); display: block; background: var(--brand-mint); z-index: -1; left: -24px; top: -24px; clip-path:var(--path-24);}
.kisp-pm-grid {width: 48.377%; background: var(--white); padding: 40px; position: relative; flex-grow: 1;}
.kisp-pm-grid:nth-child(2n) .kisp-shadow {right: -24px; bottom: -24px; left: inherit; top: inherit;}
.kisp-pm-thumb {min-height: 258px; max-height: 258px; width: 100%; clear: both; overflow: hidden;}
.kisp-pm-cnt {width:100%; clear: both; margin: 41px 0 0 0;}
.kisp-pm-cnt h2 {margin-bottom: 17px;}
.kisp-pm-cnt p {margin-bottom: 22px; font-size: 0.825rem; line-height: 1.5;}


@media only screen and (min-width:1400px){
.kisp-pm-cnt p { font-size: 16px; }

}
@media only screen and (max-width:1400px) and (min-width:1024px) {
    .kisp-pm-grid { width: 47.377%;}
    .kisp-pm-thumb {min-height: 218px; max-height: 218px;}
    
}

@media only screen and (max-width:1149px) and (min-width:1024px) {
.kisp-pm-thumb {min-height: 150px; max-height: 150px;}

}

@media only screen and (max-width:1023px) and (min-width:768px) {
    .kisp-pm-main {padding: 20px; gap: 62px 32px;}
    .kisp-pm-grid { width: 46.377%; padding: 32px;}
    .kisp-pm-thumb {min-height: 120px; max-height: 120px;}
    .kisp-pm-cnt { margin: 32px 0 0 0; }

    .kisp-shadow { width: calc(100% + 20px); height: calc(100% + 20px); left: -20px; top: -20px; clip-path: var(--path-24);} 
    .kisp-pm-cnt h2 {font-size: 40px;}

    /*.kisp-pm-grid:nth-child(2n) .kisp-shadow { right: -20px; bottom: -20px}*/
}
@media only screen and (max-width:1023px) and (min-width:200px) {
 
}

@media only screen and (max-width:767px) and (min-width:200px) {
   .kisp-pm {padding: 40px 0;}
    .kisp-pm-main { gap: 36px; padding: 16px; flex-direction: column; }
    .kisp-pm .h1{font-size: 3rem; margin-bottom: 25px; }
    .kisp-shadow { width: calc(100% + 16px); height: calc(100% + 16px); left: -16px; top: -16px; clip-path: var(--path-24);}
    .kisp-pm-grid {padding: 20px; width: calc(100% + 16px); margin-left: 0;}
    .kisp-type {min-height: inherit; margin: 0 0 23px 0;}

    .kisp-pm-thumb { min-height: 127px; max-height: 127px;}
    .kisp-pm-cnt { margin: 20px 0 0 0;}
    .kisp-pm-grid:nth-child(2n) .kisp-shadow { right: -16px; bottom: -16px; }
 .kisp-pm-grid:nth-child(2n){margin-left: -16px;}
    

}