.leaders-management-section {clear: both; width: 100%; position: relative;}

.leaders-management-grids {position: relative; gap: 30px 2.05761316872428%;}
.leaders-management-grids .card {position: relative; width: 23.456790123456788%; overflow: hidden; display: flex; justify-content: flex-start; align-items: flex-end; height: 423px;}
.leaders-management-grids .card:before {background-image: linear-gradient(to top, #004986, rgba(0, 73, 134, 0) 50%); content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 100%;}
.leaders-management-grids .card .imgbox {width: 100%; height: 100%;}
.leaders-management-grids .card .img-txt {position: absolute; width: 100%; padding: 39px 40px; bottom: 0; font-family: 'Segoe UI This', sans-serif;}
.leaders-management-grids .card .img-txt .h4 {margin: 0 0 3px 0; color: var(--white); text-align: left; font-family: 'Segoe UI This', sans-serif; font-weight: normal; font-size: 1.632rem;}
.leaders-management-grids .card .img-txt span {display: block; width: 100%; color: var(--muted-inverted); font-size: 0.895rem; line-height: normal;}

.leaders-management-grids .card .content {position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: flex-start; background: linear-gradient(0deg, var(--blue-dark, #004986) 0%, rgba(0, 73, 134, 0.6) 70%); backdrop-filter: blur(22px); color: var(--white); justify-content: flex-end; opacity: 0; visibility: hidden;}
.leaders-management-grids .card .content .content-inner {overflow-y: auto; padding: 34px 40px;}

.leaders-management-grids .card .content .contentBox {font-size: 0.895rem; line-height: 1.53; position: relative; padding: 22px 0 0 0; margin: 20px 0 0 0;}
.leaders-management-grids .card .content .contentBox:before {content: ''; position: absolute; display: block; margin: auto; height: 1px; width: 100%;                
  top: 0; right: 100%; transform: translate(100%, 0); background: var(--white);}
.leaders-management-grids .card .content .leader-close {position: absolute; right: 19px; top:16px; cursor: pointer; display: none; color: var(--white);
  width: 21.7px; height: 21.7px; font-size: 23px;}

.leaders-management-grids .card .content .h4 {color: var(--white); margin: 0 0 3px 0; line-height: 1.19; font-family: 'Segoe UI This', sans-serif; font-size: 1.632rem;}
.leaders-management-grids .card .content span {display: block; width: 100%; color: var(--muted-inverted); font-size: 0.895rem; line-height: 1.3;}

.leaders-management-grids .card .content p {margin-bottom: 21px;}
.leaders-management-grids .card .content p:last-child {margin-bottom: 0;}

.leaders-management-grids .card .content .sci {display: flex; margin: 0; gap: 1px;}
.leaders-management-grids .card .content .sci li {margin: 0;}
.leaders-management-grids .card .content .sci li:before {display: none;}
.leaders-management-grids .card .content .sci li a {width: 40px; height: 40px; position: relative; z-index: 1; display: flex; align-items: center; color: var(--white); text-align: center; overflow: hidden; justify-content: center;}
.leaders-management-grids .card .content .sci li a:before {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: .5s; background-color: var(--white-15);}
.leaders-management-grids .card .content .sci li a:hover:before {background-color: var(--white);}
.leaders-management-grids .card .content .sci li a em {transition: .5s; transform: rotateY(0);}
.leaders-management-grids .card .content .sci li a:hover em {transform: rotateY(360deg); color: var(--blue);}
.leaders-management-grids .card .content .sci li a span {font-size: 0; display: none;}


@media only screen and (max-width:1199px) and (min-width:1024px) { 
  .leaders-management-grids .card { width: 31.95%;}
}

@media only screen and (max-width:1023px) and (min-width:200px) { 
    .leaders-management-grids .card .content .leader-close {display: block;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {    
  .leaders-management-grids { justify-content: space-between;}
  .leaders-management-grids .card { width: 48%;}
}

@media only screen and (max-width:767px) and (min-width:200px) {  
  .leaders-management-grids .card { width: 100%;}
}
