.links-module {clear: both; width: 100%; padding: 79px 0 80px 0; position: relative; z-index: 1;}
.links-module:before {background: var(--Foreground); opacity: 0.2; content: ""; display: block; max-width:calc(1344px - 64px); height: 1px; margin:9px auto 6px auto; top:-80px; position: relative;}

.ld-module {gap:64px 5.333333333333334%; justify-content: space-between;}
.ld-grid {width: 29.775000000000002%; flex-grow: 1;}
.ld-grid:only-child {flex-grow: initial;}
.ld-grid .h5 {color: var(--Foreground); position: relative; margin-bottom: 0;}
.ld-grid .h5:after {content: ""; width: 80px; height: 2px; background-color: var(--Sienna-Orange); display: block; margin:16px 0 15px;}

.ld-grid p{font-size: 1rem; line-height: 1.5; color: var(--Dark-Gray); margin-bottom: 16px;}

.ld-icon {margin-bottom:32px; position: relative; width:100%; height:195.6px; overflow: hidden;}
.ld-cnt {clear: both;}

@media only screen and (max-width:1280px) {
    .links-module:before {margin: 0 32px;}
}

@media only screen and (max-width:1023px) and (min-width:200px) {    
    .ld-module {gap:40px;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
    .links-module {padding: 60px 0;}
    .links-module::before {top:-60px;}
    .ld-module {gap:60px 40px;}
    .ld-grid {width: 47%;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
    .links-module {padding: 28px 0;}
    .ld-grid {width: 100%; display: flex; flex-wrap: wrap; flex-direction: column;} 
    .ld-icon {height: 184px; margin-bottom: 20px;}
    .ld-grid p {font-size: 0.889rem; margin-bottom: 8px;}
    .ld-grid .h5::after {margin: 8px 0 7px; width: 56px;}
    .links-module::before{top: -28px; margin: 4px 32px;} 
}