.locations {clear: both; width: 100%; padding:76px 0 39px; position: relative; z-index: 1;}
.loc-main {gap:80px;}
.loc-lt {width: 350px; flex-grow: 1;}
.loc-lt .map figure {width: 100%; height: 100%; display: block;}
.loc-lt .map figure img {width: 100%; height: 100%; font-family: "object-fit:cover"; object-fit: cover; -o-object-fit: cover; object-position: 50% 50%; -o-object-position: 50% 50%;}
.loc-rt {width: calc(100% - 430px); flex-grow: 1;}
.loc-rt .h1b {margin:0 0 62px 0;}
.locs-wrap {gap:64px; padding-left: 24px;}
.loc-grid {position: relative; background: var(--white); width:46.126%; padding: 20px; font-size: 1rem; line-height: 1.5;}
.loc-grid p {margin: 0;}
.loc-grid .h5 {color: var(--base-foreground); margin-bottom: 6px;}
.loc-shadow {width: calc(100% + 24px); height: calc(100% + 24px); display: block; background: var(--brand-mint); z-index: -1; left: -24px; top: -24px; clip-path: var(--path-24);}

/*-- media css starts here --*/
@media only screen and (max-width:1440px) and (min-width: 1280px){
    .loc-grid {width: 45.196%;}
}

@media only screen and (max-width:1280px) {
    .loc-grid {font-size: 0.875rem; line-height: 1.5;}
}

@media only screen and (max-width: 1279px) and (min-width: 1024px){
    .locs-wrap {gap: 64px 9.8%;}
    .loc-grid {width: 45.1%;}
}

@media only screen and (max-width: 1023px) and (min-width: 768px){    
    .locations {padding: 64px 0 64px;}
    .locs-wrap {padding-left: 20px;}
    .loc-shadow {width: calc(100% + 20px); height: calc(100% + 20px); left: -20px; top: -20px; clip-path: var(--path-20);}
    .locations .h1b {margin-bottom: 61px;}
    .loc-grid .h5 {font-size: 1.5rem; letter-spacing: 0.48px;}
    .loc-grid {padding: 16px 16px 15px 16px;}
    .locs-wrap {gap: 36px;}
    
       
}

@media only screen and (max-width: 1023px) and (min-width:200px){    
    .loc-main {gap:64px;}
    .loc-rt .h1b {display: none;}
    .loc-grid {width: 100%;}
}

@media only screen and (max-width: 809px) and (min-width: 768px){
    .loc-lt {width: 160px;}
}

@media only screen and (max-width: 767px) and (min-width: 200px){    
    .locations {padding: 54px 0 20px;}
    .locations .h1b {margin: 0 0 54px 0;}
    .locs-wrap {padding-left: 16px; gap: 28px;}
    .loc-shadow {width: calc(100% + 16px); height: calc(100% + 16px); left: -16px; top: -16px; clip-path: var(--path-16);}
    .loc-lt {display: none;}
    .loc-grid {padding: 13px 12px 12px;}
    .loc-grid .h5 {font-size: 1.125rem; line-height: 1; letter-spacing: 0.36px;}
}
