
.location-lists{gap: 40px; margin: 0;}
.location-item{background-color: var(--Tint-Orange); display: flex; flex-direction: column;}

.location-heading{gap: 20px;}
.location-title{flex: 1; }
.location-title h2{margin-bottom: 0; color: var(--Sienna-Orange);}
.location-sort{width: fit-content; gap: 20px;}


.location-details{padding: 32px; color: var(--anchor); display: flex; flex-direction: column; height: 100%; flex-wrap: wrap}
.location-details h2{margin-bottom: 0;}
.location-details hr{background: var(--Sienna-Orange); margin: 16px 0; opacity: 1;}
.location-details p{margin-bottom: 8px; padding: 0 !important; }
.location-details ul{margin: 0 0 28px 0 !important; gap: 8px;}
.location-details ul li::before{display: none;}
.location-details ul li{gap: 12px; margin-bottom: 0; padding: 0 !important; border: none !important; }
.location-details ul li a{gap: 12px; text-decoration: none;}
.location-details ul li a:hover span{color: var(--Sienna-Orange);}
.location-details ul li span.fa-sharp{font-size: 1.111rem; line-height: 1.5; color: var(--Sienna-Orange); font-weight: 400;}
.location-details ul li span{color: var(--Foreground); font-size: 1rem; font-weight: bold; line-height: 1.5; }
.location-details-inner{margin-bottom: 20px;}
.location-details .circle-arrow-btn{margin-top: auto;}

.location-filter-main{gap: 20px; margin-bottom: 32px; margin-right: 0 !important;}
.locator-filter{gap: 20px; flex: 1; margin: 0 !important;}
.locator-filter > div{flex: 1; margin: 0 !important;}
.locator-filter > div #wpsl-result{margin: 0 !important; width: 100%;}
.locator-filter > div #wpsl-result .wpsl-dropdown:last-child{display: none;}
.location-search-btn{flex: 0 0 56px;}
.location-search-btn .circle-arrow-btn span.fa-sharp{width: 56px; height: 56px;}
body .locator-postal-code-form .frm_forms .frm_form_fields .frm_form_field{margin-bottom: 0;}
body .locator-postal-code-form .frm_forms .frm_form_fields input{background: var(--Tint-Orange); border-radius: 60px; border: 1.25px solid var(--Sienna-Orange); background-color: var(--Tint-Pink) !important; padding: 15px 60px 15px 20px; font-size: 1rem; line-height: 1.35; background-image: url('../images/keyboard-icon.svg'); background-position: calc(100% - 20px) calc(50% - 1px); background-repeat: no-repeat; background-size: 27px 24px;}
body.page-template-locator ::-webkit-input-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size: 1rem!important; overflow: visible; font-weight: 700;}
body.page-template-locator :-moz-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size: 1rem!important; overflow: visible; font-weight: 700;}
body.page-template-locator ::-moz-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size: 1rem!important; overflow: visible; font-weight: 700;}
body.page-template-locator :-ms-input-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size: 1rem!important; overflow: visible; font-weight: 700;}


.location-show-btn{gap: 16px; margin-top: 48px;}
.location-line{margin: 0; flex: 1;}

.load_more_locations{width: 100%;}

@media screen  and (min-width: 1024px){
    .location-main{padding: 80px 0; gap: 48px;}
    .location-item{flex: 0 0 calc(33.333% - 27px);}
    .location-image{height: 210px;}
    .location-image img{min-height: 210px; max-height: 210px;}
}

@media screen and (max-width: 1099px) and (min-width: 1024px){
    .location-details{padding: 22px;}
    .location-details .circle-arrow-btn{gap: 12px;}
    .location-details .circle-arrow-btn span.fa-sharp{width: 54px; height: 54px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .location-main{padding: 48px 0; gap: 32px;}
    .location-heading{gap: 16px;}
    .location-title h2{font-size: 1.333rem; line-height: 1.2;}
    .location-title h2 br{display: none;}
    .location-sort{width: 100%; gap: 16px;}
    .location-city-dropdown, .location-funding-dropdown{flex: 0 0 calc(50% - 8px);}
    body .location-city-dropdown .selectBox-dropdown,
    body .location-funding-dropdown .selectBox-dropdown{display: flex; justify-content: center; gap: 8px; font-size: 0.889rem;}
    body .location-city-dropdown .selectBox-dropdown .selectBox-label,
    body .location-funding-dropdown .selectBox-dropdown .selectBox-label{width: fit-content !important;}
    body .location-city-dropdown .selectBox-dropdown .selectBox-arrow,
    body .location-funding-dropdown .selectBox-dropdown .selectBox-arrow{position: relative; right: auto; font-size: 1.111rem;}
    .location-lists{gap: 28px;}
    .location-item{flex: 0 0 calc(50% - 14px);}
    .location-details{padding: 24px; font-size: 0.889rem; line-height: 1.5;}
    .location-details h2{font-size: 1.333rem;}
    .location-details hr{margin: 12px 0; }
    .location-details ul{margin: 0 0 22px 0;}
    .location-details ul li{gap: 10px;}
    .location-details ul li span{font-size: 0.889rem;}
    .location-details ul li span.fa-sharp{font-size: 1rem;}


    .location-filter-main{gap: 16px; margin-bottom: 37px; width: 100%;}
    .locator-filter{gap: 16px; flex: 100%;}
    .locator-filter > div{flex: 0 0 calc(50% - 8px);}
    body .locator-filter .selectBox-dropdown{font-size: 0.889rem;}
    body .locator-postal-code-form .frm_forms .frm_form_fields input{font-size: 0.889rem;}
    .location-search-btn{flex: 100%;}
    .location-search-btn .button{width: 100%;}

    .location-show-btn{gap: 12px; margin-top: 32px;}

    .location-image{height: 178px;}
    .location-image img{min-height: 178px; max-height: 178px;}

}
@media screen and (max-width: 767px) and (min-width: 200px){
    .location-main{padding: 28px 0; gap: 28px;}
    .location-heading{gap: 12px; }
    .location-title h2{font-size: 1.111rem; line-height: 1.2;}
    .location-title h2 br{display: none;}
    .location-heading form{width: 100%;}
    .location-sort{width: 100%; gap: 12px;}
    .location-city-dropdown, .location-funding-dropdown{width: 100%;}
    body .location-city-dropdown .selectBox-dropdown,
    body .location-funding-dropdown .selectBox-dropdown{display: flex; justify-content: center; gap: 8px; font-size: 0.889rem;}
    body .location-city-dropdown .selectBox-dropdown .selectBox-label,
    body .location-funding-dropdown .selectBox-dropdown .selectBox-label{width: fit-content !important;}
    body .location-city-dropdown .selectBox-dropdown .selectBox-arrow,
    body .location-funding-dropdown .selectBox-dropdown .selectBox-arrow{position: relative; right: auto; font-size: 1.111rem;}
    .location-lists{gap: 24px;}
    .location-item{width: 100%;}
    .location-image{height: 184px;}
    .location-image img{min-height: 184px; max-height: 184px;}
    .location-details{padding: 20px;}
    .location-details h2{font-size: 1.111rem; line-height: 1.2; }
    .location-details hr{margin: 8px 0;}
    .location-details p{margin-bottom: 4px; font-size: 0.889rem;}
    .location-details ul{margin: 0 0 14px 0; gap: 4px; }
    .location-details ul li,
    .location-details ul li a{gap: 6px;}
    .location-details ul li span.fa-sharp{font-size: 1rem;}
    .location-details ul li span{font-size: 0.889rem;}
    .circle-arrow-btn span.fa-sharp{width: 40px; height: 40px; font-size: 1.111rem;}
    span.location-btn-text{font-size: 0.889rem;}
    .location-show-btn{gap: 8px; margin-top: 28px;}

    .location-filter-main{gap: 12px; margin-bottom: 32px; width: 100%;}
    .locator-filter{gap: 12px; flex: 100%;}
    .locator-filter > div{flex: 100%;}
    body .locator-filter .selectBox-dropdown{font-size: 0.889rem;}
    body .locator-postal-code-form .frm_forms .frm_form_fields input{font-size: 0.889rem;}
    .location-search-btn{flex: 100%; margin: 0 !important;}
    .location-search-btn .button{width: 100%;}
    
}