.micro-cta-module {width: 100%; z-index: 1; position: relative; clear: both; overflow: hidden; margin:64px 0; background: var(--Tint-Green);}
.micro-cta-main {margin: 0 auto; width: 100%; flex-direction: row-reverse;}
.micro-cta-main .micro-cta-text {clear: both; padding:30px 32px 32px 32px; position: relative; flex:1; display: flex; flex-wrap: wrap;}
.micro-cta-main .micro-cta-text .h5 {color: var(--Foreground); margin-bottom: 19px;}
.micro-cta-main .micro-cta-text .micro-cta-desc {margin: auto 0;}
.micro-cta-thumb {width: 292px;}

/*-- media starts here --*/
@media only screen and (max-width:1100px) {
    .micro-cta-thumb {width: 260px;}
}

@media only screen and (max-width: 767px) and (min-width: 200px){
	.micro-cta-thumb {width: 100%;}
    .micro-cta-module {margin:38px 0 40px;}
    .micro-cta-main .micro-cta-text {padding: 20px;}
    .micro-cta-main .micro-cta-text .btn-wrap .button {width: auto;}
    .micro-cta-main .micro-cta-text .h5 {margin-bottom: 11px; font-size: 1.333rem;}
}