
.multi-cta-thumb{width: 100%;}
.multi-cta-text{width: 100%; padding: 32px; color: var(--Dark-Gray);}

@media screen and (min-width: 1024px) {
    .multi-cta-main{margin: 40px 0; gap: 20px;}
    .multi-cta-item{flex: 0 0 calc(33.333% - 14px); flex-grow: 1;}
    .multi-cta-item:nth-child(2n){flex-direction: column-reverse;}
    
}


@media screen and (max-width: 1024px) and (min-width: 768px) {
    .multi-cta-main{margin: 40px 0; gap: 16px;}
    .multi-cta-item{flex: 0 0 calc(50% - 8px);}
    .multi-cta-text{padding: 24px;}
    .multi-cta-text h2{margin-bottom: 12px; font-size: 1.778rem;}
    .multi-cta-text p{margin-bottom: 12px;}
    
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .multi-cta-main{margin: 40px 0; gap: 12px;}
    .multi-cta-item{width: 100%;}
    .multi-cta-text{padding: 20px;}
    .multi-cta-text h2{margin-bottom: 8px;}
    .multi-cta-text p{margin-bottom: 8px;}
    
}