.photo-gallery {clear: both; width: 100%; position: relative; padding:88px 0 60px 0; background:var(--white);}
.photo-gallery:before {background: var(--Foreground); opacity: 0.2; content: ""; display: block; max-width: calc(1344px - 64px); height: 1px; margin:0 auto; position: absolute; top: 0; left: 0; right: 0;}

.photo-swrap .slick-list {overflow: visible;}
.photo-swrap .slick-track {display: flex; align-items: center;}
.photo-slide {transition: all 0.4s ease-in-out; transform: none; overflow: hidden;}
.photo-slide.slick-center {transform: scale(1.07143);}
.photo-slide .photo-thumb {margin: 0 40px; height: 621px;}
.photo-slide.slick-center .photo-thumb {padding: 0; height: 630px;}

.photo-slide figure {position: relative;}
.photo-slide figure figcaption {position: absolute; line-height: 1.3; padding:12px 11px 16px 37px; color: var(--Foreground); background: rgba(255, 255, 255, 0.85); backdrop-filter: blur(4px); max-width: 601px; bottom:20px; z-index: 1; left: 20px; font-size: 0.83rem; font-weight: 300; font-style: italic;}
.photo-slide figure figcaption:after {content: "\f03e"; display: block; position: absolute; left: 11px; font-family: "Font Awesome 7 sharp"; top: 18px; font-weight: normal; font-size: 1rem; color: var(--Sienna-Orange); line-height: 12px; font-style: normal;}

.photo-slide .photo-thumb figure figcaption {opacity: 0;}
.photo-slide.slick-center .photo-thumb figure figcaption {opacity: 1;}

.photo-gallery-header {width: calc(100% - 204px); margin-bottom: 64px;}
.photo-gallery-header h2{margin-bottom: 8px;}

.photo-swrap .slick-list{overflow: inherit;}
.photo-swrap .slick-arrow{margin: 0; top: -135px;}
.photo-swrap .slick-arrow.slick-prev{right: 76px; left: auto;}

@media only screen and (max-width: 1280px){
    .photo-gallery:before {margin:0 32px;}
}

@media only screen and (max-width:1023px) and (min-width:200px) {
}

@media only screen and (max-width:1023px) and (min-width:768px) {

}

@media only screen and (max-width:767px) and (min-width:200px) {
    .photo-gallery-header {width: 100%;}
}