
.profiles-thumb{margin-bottom: 32px;}
.profiles-details{margin-bottom: 32px;}
.profiles-details h1{color: var(--Sienna-Orange); margin-bottom: 8px;}
.profiles-details span{font-size: 1.333rem; line-height: 1.5; display: block;}
.profiles-btn-wrap{gap: 16px; margin-bottom: 32px;}
.profiles-group ul{margin-top: 16px;}

.profiles-rt-content{margin-bottom: 40px;}
.profiles-rt-content h2{margin-bottom: 40px;}
.profiles-rt-content h2 span{color: var(--Sienna-Orange);}

@media screen and (min-width: 1024px) {
    .profiles-main{padding: 80px 0; gap: 80px;}
    .profiles-lt{flex: 0 0 335px; flex-grow: 1;}
    .profiles-rt{flex: 0 0 calc(100% - 415px); flex-grow: 1;}
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .profiles-main{padding: 48px 0; gap: 40px;}
    .profiles-lt, .profiles-rt{width: 100%;}
    .profiles-lt{display: flex; flex-wrap: wrap; gap: 40px 48px; justify-content: center;}
    .profiles-thumb{margin-bottom: 0; order: 1; width: 309px;}
    .profiles-ipad-design{order: 2; flex: 1; display: flex; flex-direction: column; justify-content: center; }
    .profiles-details{margin-bottom: 24px; order: 2;}
    .profiles-details h1{margin-bottom: 4px;}
    .profiles-details span{font-size: 1.111rem;}
    .profiles-group{order: 3;}
    .profiles-group h2{line-height: 1.2; margin-bottom: 8px; }
    .profiles-group ul{margin-top: 8px; margin-left: 10px;}
    .profiles-group ul > li{font-size: 0.778rem; line-height: 1.5; margin-bottom: 8px;}
    .profiles-group ul > li::before{top: -1px; left: -10px;}
    .profiles-btn-wrap{order: 4; gap: 12px; margin: 0;}
    .profiles-btn-wrap .button{flex: 1;}
    .profiles-rt-content{margin-bottom: 28px;}
    .profiles-rt-content h2{margin-bottom: 28px;}
}

@media screen and (max-width: 767px) and (min-width: 200px){
    .profiles-main{padding: 28px 0; gap: 32px;}
    .profiles-lt, .profiles-rt{width: 100%;}
    .profiles-lt{display: flex; flex-wrap: wrap; flex-direction: column; }
    .profiles-thumb{margin-bottom: 28px; order: 1;}
    .profiles-details{margin-bottom: 24px; order: 2;}
    .profiles-details h1{margin-bottom: 4px;}
    .profiles-details span{font-size: 1.111rem;}
    .profiles-group{order: 3;}
    .profiles-group h2{line-height: 1.2; margin-bottom: 8px; }
    .profiles-group ul{margin-top: 8px; margin-left: 10px;}
    .profiles-group ul > li{font-size: 0.778rem; line-height: 1.5; margin-bottom: 8px;}
    .profiles-group ul > li::before{top: -1px; left: -10px;}
    .profiles-btn-wrap{order: 4; gap: 8px; margin: 32px 0 0;}
    .profiles-btn-wrap .button{width: 100%;}
    .profiles-rt-content{margin-bottom: 24px;}
    .profiles-rt-content h2{margin-bottom: 24px;}
}