.related-blog{clear: both; width: 100%; background: var(--base-elevated); padding: 80px 0; position: relative; z-index: 1;}
.related-blog .heading-lt .h1b {margin: 0;}
.related-blog-main { display: flex; flex-wrap: wrap;}
.related-blog-grid {width:31.25%; position: relative; z-index: 1; overflow: hidden; background: var(--white); display: flex!important; flex-wrap: wrap; flex-direction: column;}
.related-blog-grid .related-blogs-thumb {height: 266.7px; overflow: hidden; width: 100%; position: relative;}
.related-blog-grid .related-blogs-thumb a {display: flex; height: 100%;}
.related-blog-grid .related-blogs-thumb .type {position: absolute; bottom: 0; gap: 12px; display: flex; width: fit-content; padding: 0 20px; flex-wrap: wrap;}
.related-blog-grid .related-blogs-thumb .type a {text-transform: uppercase; font-family: 'Correct XXX Condensed', sans-serif; font-weight: 900; letter-spacing: 0.4px; padding: 8px; font-size: 1.25rem; line-height: 1;}
.related-blog-grid .related-blogs-thumb .type a:hover {opacity: 0.8;}
.related-blog-grid .related-blogs-cnt {padding:20px 20px 22px 20px; display: flex; clear: both; width: 100%; flex-wrap: wrap; flex: 1;}
.related-blog-grid .related-blogs-cnt .h6 {font-size: 1.125rem; margin:0 0 34px 0; font-family: "FK Grotesk Neue", sans-serif; text-transform: none; letter-spacing: normal; font-weight: bold; line-height: 1.5; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3;}


.related-blog-grid .related-blogs-cnt .cat-wrapper{width: 100%; clear: both; justify-content: space-between; margin-top: auto; font-size: 0.875rem; align-items: flex-end;}
.related-blog-grid .related-blogs-cnt .cat-wrapper .cat-wrap {width: calc(100% - 100px);}
.related-blog-grid .related-blogs-cnt .cat-wrapper .cat-wrap li a::before {background: var(--brand-blue);}
.related-blog-grid .related-blogs-cnt .cat-wrapper .posted-date {width: 100px; text-align: right; color: var(--base-dark-gray); line-height: normal;}
.related-blog-grid .related-blogs-cnt .cat-wrapper .posted-date span {display: inline-block;}


/* Related Videos */
.related-video{clear: both; width: 100%; background: var(--base-elevated); padding: 80px 0 40px; position: relative; z-index: 1;}
.related-video .heading-lt .h1b {margin: 0;}
.related-video-main { display: flex; flex-wrap: wrap;}
.related-video-grid {width:22.65625%; position: relative; z-index: 1; overflow: hidden; background: var(--white); display: flex; flex-wrap: wrap; flex-direction: column;}
.related-video-grid .related-video-thumb {height:163px; overflow: hidden; width: 100%; position: relative;}
.related-video-grid .related-video-thumb a {display: flex; height: 100%;}
.related-video-grid .related-video-thumb .play-btn {width: 56px; height: 56px;}
.related-video-grid .related-video-thumb .play-btn span i {font-weight: 400;}
.related-video-grid .related-video-cnt {padding:20px 20px 19px 20px; display: flex; clear: both; width: 100%; flex-wrap: wrap; flex: 1;}
.related-video-grid .related-video-cnt .h6 {font-size: 1.125rem; margin:0 0 39px 0; font-family: "FK Grotesk Neue", sans-serif; text-transform: none; letter-spacing: normal; font-weight: bold; line-height: 1.5; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3;}


/* Related Resources */
.related-res{clear: both; width: 100%; background: var(--base-elevated); padding: 80px 0 40px; position: relative; z-index: 1;}
.related-res .heading-lt .h1b {margin: 0;}
.related-res-main { display: flex; flex-wrap: wrap;}
.related-res-grid {width:31.25%; position: relative; z-index: 1; overflow: hidden; background: var(--white); display: flex; flex-wrap: wrap; flex-direction: column;}
.related-res-grid .related-res-cnt {padding:20px 20px 19px 20px; display: flex; clear: both; width: 100%; flex-wrap: wrap; flex: 1;}
.related-res-grid .related-res-cnt .h6 {font-size: 1.125rem; margin:0 0 39px 0; font-family: "FK Grotesk Neue", sans-serif; text-transform: none; letter-spacing: normal; font-weight: bold; line-height: 1.5; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3;}


/* User */
.user{clear: both; width: 100%; background: var(--base-elevated); padding: 80px 0 40px; position: relative; z-index: 1;}
.user .heading-lt .h1b {margin: 0;}
.user-main { display: flex; flex-wrap: wrap;}
.user-grid {width:22.65625%; position: relative; z-index: 1; overflow: hidden; background: var(--white); display: flex; flex-wrap: wrap; flex-direction: column;}
.user-grid .user-thumb {height:290px; overflow: hidden; width: 100%; position: relative; background: var(--brand-blue);}
.user-grid .user-thumb figure img {filter: grayscale(100%) brightness(1) contrast(1); mix-blend-mode: lighten;}
.user-grid .user-thumb a {display: flex; height: 100%;}
.user-grid .user-cnt {padding:20px 20px 19px 20px; display: flex; clear: both; width: 100%; flex-wrap: wrap; flex: 1;}
.user-grid .user-cnt .h6 {font-size: 1.125rem; margin:0 0 39px 0; font-family: "FK Grotesk Neue", sans-serif; text-transform: none; letter-spacing: normal; font-weight: bold; line-height: 1.5; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3;}


/* Related Downloads */
.related-downloads{clear: both; width: 100%; background: var(--base-elevated); padding: 80px 0 40px; position: relative; z-index: 1;}
.related-downloads .heading-lt .h1b {margin: 0;}
.related-downloads-main { display: flex; flex-wrap: wrap;}
.related-downloads-grid {width:31.25%; position: relative; z-index: 1; overflow: hidden; background: var(--white); display: flex; flex-wrap: wrap; flex-direction: column;}
.related-downloads-grid .related-downloads-cnt {padding:20px 20px 19px 20px; display: flex; clear: both; width: 100%; flex-wrap: wrap; flex: 1;}
.related-downloads-grid .related-downloads-cnt .h6 {font-size: 1.125rem; margin:0 0 39px 0; font-family: "FK Grotesk Neue", sans-serif; text-transform: none; letter-spacing: normal; font-weight: bold; line-height: 1.5; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3;}
.related-downloads-grid .related-downloads-cnt .more:hover span i {transform: translateY(5px);}
.related-downloads-grid .related-downloads-cnt .cat-wrapper .cat-rt {width: 24px;}

@media only screen and (min-width: 1024px) {
    .related-blog-main {gap: 40px 40px;}

    /* Related Videos */
    .related-video-main {gap: 40px 40px;}

    /* Related Resources */
    .related-res-main {gap: 40px 40px;}
    
    /* User */
    .user-main {gap: 40px 40px;}
    
    /* Related Downloads */
    .related-downloads-main {gap: 40px 40px;}
}

@media only screen and (max-width: 1400px) and (min-width: 1024px) {
    .related-blog-main {gap: 40px 3.571428571428571%;}
    .related-blog-grid {width:30.95%;}
    .related-blog-grid .related-blogs-thumb {height: 231px;}
    
    /* Related Videos */
    .related-video-main {gap: 40px 3.571428571428571%;}
    .related-video-grid {width:22.321428571428573%;}
    .related-video-grid .related-video-thumb {height:141px;}
    
    /* Related Resources */
    .related-res-main {gap: 40px 3.571428571428571%;}
    .related-res-grid {width:30.95%;}
    
    /* User */
    .user-main {gap: 40px 3.571428571428571%;}
    .user-grid {width:22.321428571428573%;}
    .user-grid .user-thumb {height:250px;}
    
    /* Related Downloads */
    .related-downloads-main {gap: 40px 3.571428571428571%;}
    .related-downloads-grid {width:30.95%;}
}

@media only screen and (max-width: 1280px) and (min-width: 200px) {
    .related-blog-grid .related-blogs-cnt .h6 {font-size: 1rem; margin: 0 0 33px 0;}
    .related-blog-grid .related-blogs-cnt .cat-wrapper {font-size: 0.75rem;}
    
    /* Related Videos */
    .related-video-grid .related-video-cnt .h6 {font-size: 1rem; margin: 0 0 40px 0;}
    .related-video-grid .related-video-cnt .cat-wrapper {font-size: 0.75rem;}
    
    /* Related Resources */
    .related-res-grid .related-res-cnt .h6 {font-size: 1rem; margin: 0 0 40px 0;}
    .related-res-grid .related-res-cnt .cat-wrapper {font-size: 0.75rem;}
    
    /* User */
    .user-grid .user-cnt .h6 {font-size: 1rem; margin: 0 0 40px 0;}
    .user-grid .user-cnt .cat-wrapper {font-size: 0.75rem;}
    
    /* Related Downloads */
    .related-downloads-grid .related-downloads-cnt .h6 {font-size: 1rem; margin: 0 0 40px 0;}
    .related-downloads-grid .related-downloads-cnt .cat-wrapper {font-size: 0.75rem;}
}

@media only screen and (max-width: 1160px) and (min-width:1024px) {
    .related-video-grid {width: 30.95%;}
}


@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .related-blog-main {gap: 65px 4.69208211143695%;}
    .related-blog {padding: 65px 0;}
    .related-blog-grid {width: 30.205278592375368%;}
    .related-blog-grid .related-blogs-thumb {height:137.333px;}
    .related-blog-grid .related-blogs-thumb .type a {font-size: 1.125rem; letter-spacing: 0.36px;}
    .related-blog-grid .related-blogs-cnt {padding: 16px 16px 17px 16px;}
    .related-blog-grid .related-blogs-cnt .h6 {margin: 0 0 25px 0;}
    
    .related-blog .btn-full {display: none;}
    
    /* Related Videos */
    .related-video-main {gap:32px 4.69208211143695%;}
    .related-video {padding: 65px 0;}
    .related-video-grid {width:47.65395894428153%;}
    .related-video-grid .related-video-thumb {height:183px;}
    .related-video-grid .related-video-cnt {padding: 16px 16px 17px 16px;}
    .related-video-grid .related-video-cnt .h6 {margin: 0 0 31px 0;}
    
    .related-video .btn-full {display: none;}
    
    /* Related Resources */
    .related-res-main {gap:32px 4.69208211143695%;}
    .related-res {padding: 65px 0;}
    .related-res-grid {width:47.65395894428153%;}
    .related-res-grid .related-res-cnt {padding: 16px 16px 17px 16px;}
    .related-res-grid .related-res-cnt .h6 {margin: 0 0 31px 0;}   
    
    /* User */
    .user-main {gap:32px 4.69208211143695%;}
    .user {padding: 65px 0;}
    .user-grid {width:47.65395894428153%;}
    .user-grid .user-thumb {height:325px;}
    .user-grid .user-cnt {padding: 16px 16px 17px 16px;}
    .user-grid .user-cnt .h6 {margin: 0 0 31px 0;}
    
    
    /* Related Downloads */
    .related-downloads-main {gap:32px 4.69208211143695%;}
    .related-downloads {padding: 65px 0;}
    .related-downloads-grid {width:47.65395894428153%;}
    .related-downloads-grid .related-downloads-cnt {padding: 16px 16px 17px 16px;}
    .related-downloads-grid .related-downloads-cnt .h6 {margin: 0 0 31px 0;}  
}



@media only screen and (max-width: 767px) and (min-width: 200px) {
    .related-blog {padding:22px 0 16px;}
    .related-blog-main {gap:20px;}
    .related-blog .heading {padding: 0 0 18px;}
    .related-blog .heading-lt .h1b {text-align: center;}
    .related-blog .heading-rt {display: none;}
    .related-blog-grid {width: 100%;}
    .related-blog .btn-full {margin: 24px 0 0 0;}
    .related-blog .btn-full .button {width: auto;}
    
    .related-blog-grid .related-blogs-thumb {height: 207px;}
    .related-blog-grid .related-blogs-cnt {padding: 12px 16px 15px 16px; width: 100%;}
    .related-blog-grid .related-blogs-thumb .type {padding: 0 12px;}
    .related-blog-grid .related-blogs-thumb .type a {font-size: 1rem; line-height: 1; letter-spacing: 0.32px; min-width: inherit;}
    .related-blog-grid .related-blogs-cnt .h6 {margin-bottom: 13px}
    
    
    /* Related Videos */
    .related-video {padding:22px 0 16px;}
    .related-video-main {gap:20px;}
    .related-video .heading {padding: 0 0 18px;}
    .related-video .heading-lt .h1b {max-width: 150px;}
    .related-video .heading-rt {display: none;}
    .related-video-grid {width: 100%;}
    .related-video .btn-full {margin: 24px 0 0 0;}
    
    .related-video-grid .related-video-thumb {height: 174.4px;}
    .related-video-grid .related-video-cnt {padding: 12px 12px 12px 12px; width: 100%;}
    .related-video-grid .related-video-cnt .h6 {margin-bottom: 19px}
    
        
    /* Related Resources */
    .related-res {padding:22px 0 16px;}
    .related-res-main {gap:20px;}
    .related-res .heading {padding: 0 0 18px;}
    .related-res .heading-lt .h1b {max-width: 150px;}
    .related-res-grid {width: 100%;}
    
    .related-res-grid .related-res-cnt {padding: 12px 12px 12px 12px; width: 100%;}
    .related-res-grid .related-res-cnt .h6 {margin-bottom: 19px}
    
    
    /* User */
    .user {padding:22px 0 16px;}
    .user-main {gap:20px;}
    .user .heading {padding: 0 0 18px;}
    .user .heading-lt .h1b {max-width: 150px;}
    .user .heading-rt {display: none;}
    .user-grid {width: 100%;}
    .user .btn-full {margin: 24px 0 0 0;}
    
    .user-grid .user-thumb {height: 79.49vw;}
    .user-grid .user-cnt {padding: 12px 12px 12px 12px; width: 100%;}
    .user-grid .user-cnt .h6 {margin-bottom: 19px;}
    
    /* Related Downloads */
    .related-downloads {padding:22px 0 16px;}
    .related-downloads-main {gap:20px;}
    .related-downloads .heading {padding: 0 0 18px;}
    .related-downloads .heading-lt .h1b {max-width: 150px;}
    .related-downloads-grid {width: 100%;}
    
    .related-downloads-grid .related-downloads-cnt {padding: 12px 12px 12px 12px; width: 100%;}
    .related-downloads-grid .related-downloads-cnt .h6 {margin-bottom: 19px}
}