.resource-module-main {clear: both; width: 100%; padding: 80px 0; position: relative; z-index: 1;}
.resource-module-section {background-color: var(--white); clear: both; width: 100%; position: relative; z-index: 1;}
.resource-module {gap:56px;}
.resource-grid {flex: 0 0 calc(33.333% - 38px); flex-grow: 1;}
.resource-grid .h6 {color: var(--Foreground);}
.resource-grid p{font-size: 1rem; line-height: 1.5; color: var(--Dark-Gray); margin-bottom: 16px;}

.resource-icon {margin-bottom:16px; position: relative; width:auto; height: 48px; display: flex; align-items: center;}
.resource-icon img {width: 100%; height: 100%; max-height: 48px;}
.resource-cnt {clear: both;}

@media only screen and (max-width:1023px) and (min-width:200px) {    
    .resource-module {gap:32px;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
    .resource-module-main {padding: 60px 0;}
    .resource-module {gap:60px 40px;}
    .resource-grid {width: 47%;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
    .resource-module-main {padding: 28px 0;}
    .resource-grid {flex: 0 0 100%; display: flex; flex-wrap: wrap; flex-direction: column;} 
    .resource-grid p {font-size: 0.889rem; margin-bottom: 8px;}
    .resource-icon {height: 30px; margin-bottom: 6px;}
    .resource-icon img {width: 100%; height: 100%; max-height: 30px;}
}