
.resources-slider-header .optional-text{font-size: 1rem; color: var(--black-50); margin: 0 0 20px 0; text-transform: capitalize;}
.resources-slider-header h2{margin-bottom: 0;}
.resources-slider-item{background: var(--Tint-Blue);}
.resources-slider-image{height: 270px;}
.resources-slider-image{min-height: 270px; max-height: 270px;}
.resources-slider-text{padding: 32px;}
ul.resources-slider-category{margin: 0 0 20px 0; gap: 10px;}
ul.resources-slider-category li{font-size: 0.889rem; line-height: 1.5; color: var(--Umber-3); font-weight: bold; padding-left: 9px; border-left: 1px solid var(--Sienna-Orange); margin-bottom: 0;}
ul.resources-slider-category li::before{display: none;}
.resources-slider-text h2{margin-bottom: 20px;}

.resources-slider-row .slick-list{overflow: inherit;}
.resources-slider-row .slick-arrow{margin: 0; top: -128px;}
.resources-slider-row .slick-arrow.slick-prev{right: 76px; left: auto;}

@media screen and (min-width: 1024px) {
    .resources-slider-main{padding: 80px 0;}
    .resources-slider-header{width: calc(100% - 204px); margin-bottom: 64px;}
    .resources-slider-item{width: 480px; margin-right: 40px; }
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .resources-slider-main{padding: 28px 0;}
    .resources-slider-header{width: 100%; margin-bottom: 40px;}
    .resources-slider-header .optional-text{margin: 0 0 12px 0; font-size: 0.889rem; line-height: 1;}
    .resources-slider-header h2{font-size: 1.778rem; line-height: 1.2;}
    .resources-slider-item{width: 316px; margin: 0 24px 40px 0;}
    .resources-slider-image{height: 178px;}
    .resources-slider-image{min-height: 178px; max-height: 178px;}
    .resources-slider-text{padding: 20px;}
    ul.resources-slider-category{margin: 0 0 12px 0;}
    ul.resources-slider-category li{font-size: 0.778rem;}
    .resources-slider-text h2{margin-bottom: 12px; font-size: 1.111rem; line-height: 1.2;}
    .resources-slider-row ul.slick-dots{margin: 0 auto; padding: 0; width: calc(100% - 100px); gap: 4px; min-height: 40px; align-items: center;}
    .resources-slider-row ul.slick-dots li{margin: 0 !important;}
    .resources-slider-row ul.slick-dots li button{width: 8px; height: 8px; background: var(--Tint-Blue); opacity: 1;}
    .resources-slider-row ul.slick-dots li.slick-active button{width: 16px; background: var(--Sienna-Orange);}
    .resources-slider-row .slick-arrow{top: auto; width: 40px; height: 40px;}
    .resources-slider-row .slick-arrow span i{font-size: 20px; line-height: 20px;}
    .resources-slider-row .slick-arrow.slick-prev{right: auto; left: 0;}
}