.resources-slider-section {clear: both; width: 100%;}

.resources-slider-header .optional-text{margin: 0 0 20px 0; text-transform: capitalize;}
.resources-slider-header h2{margin-bottom: 0;}
.resources-slider-item{background: var(--Tint-Blue);}
.resources-slider-image{height: 270px;}
.resources-slider-image{min-height: 270px; max-height: 270px;}
.resources-slider-text{padding: 32px; display: flex; flex-direction: column; height: 100%; flex-wrap: wrap;}
ul.resources-slider-category{margin: 0 0 20px 0; gap: 10px;}
ul.resources-slider-category li{font-size: 0.889rem; line-height: 1.5; color: var(--Umber-3); font-weight: bold; padding-left: 9px; border-left: 1px solid var(--Sienna-Orange); margin-bottom: 0;}
ul.resources-slider-category li::before{display: none;}
ul.resources-slider-category li a {color: var(--Umber-3);}
ul.resources-slider-category li a:hover {color: var(--Sienna-Orange);}
.resources-slider-text h2{margin-bottom: 20px;}

.resources-slider-row .slick-list{overflow: inherit;}
.resources-slider-row .slick-arrow{margin: 0; top: -128px;}
.resources-slider-row .slick-arrow.slick-prev{right: 76px; left: auto;}

.resources-slider-row .slick-track{display: flex;}
.resources-slider-row .resources-slider-item{height: auto !important;}
.resources-slider-row .resources-slider-inner{display: flex; flex-direction: column; height: 100%; }
.resources-slider-text .circle-arrow-btn{margin-top: auto;}


@media screen and (min-width: 1024px) {
    .resources-slider-main{padding: 80px 0;}
    .resources-slider-header{width: calc(100% - 204px); margin-bottom: 64px;}
    .resources-slider-item{width: 480px; margin-right: 40px; }

    .resources-slider-noheading{padding-top: 140px; }
    .resources-slider-noheading .resources-slider-row .slick-arrow{top: -100px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .resources-slider-main{padding: 80px 0;}
    .resources-slider-header{width: calc(100% - 154px); margin-bottom: 48px;}
    .resources-slider-header .optional-text{margin: 0 0 12px 0; font-size: 0.889rem; line-height: 1;}
    .resources-slider-header h2{font-size: 2.222rem; line-height: 1.2;}
    .resources-slider-item{width: 480px; margin: 0 28px 0 0;}
    .resources-slider-image{height: 270px;}
    .resources-slider-image{min-height: 270px; max-height: 270px;}
    .resources-slider-text{padding: 20px;}
    ul.resources-slider-category{margin: 0 0 16px 0;}
    ul.resources-slider-category li{font-size: 0.778rem;}
    .resources-slider-text h2{margin-bottom: 16px; font-size: 1.333rem; line-height: 1.2;}
    .resources-slider-row .slick-arrow{width: 48px; height: 48px;}
    .resources-slider-row .slick-arrow span i{font-size: 20px; line-height: 20px;}
    .resources-slider-row .slick-arrow.slick-prev{right: 58px; left: auto;}

    .resources-slider-noheading{padding-top: 120px; }
    .resources-slider-noheading .resources-slider-row .slick-arrow{top: -80px;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .resources-slider-section::before {margin: 4px 32px 4px;}
    .resources-slider-main{padding: 28px 0;}
    .resources-slider-header{width: 100%; margin-bottom: 40px;}
    .resources-slider-header .optional-text{margin: 0 0 12px 0; font-size: 0.889rem; line-height: 1;}
    .resources-slider-header h2{font-size: 1.778rem; line-height: 1.2;}
    .resources-slider-item{width: 316px; margin: 0 24px 40px 0;}
    .resources-slider-image{height: 178px;}
    .resources-slider-image{min-height: 178px; max-height: 178px;}
    .resources-slider-text{padding: 20px;}
    ul.resources-slider-category{margin: 0 0 12px 0;}
    ul.resources-slider-category li{font-size: 0.778rem;}
    .resources-slider-text h2{margin-bottom: 12px; font-size: 1.111rem; line-height: 1.2;}
    .resources-slider-row .slick-arrow{top: auto; width: 40px; height: 40px;}
    .resources-slider-row .slick-arrow span i{font-size: 20px; line-height: 20px;}
    .resources-slider-row .slick-arrow.slick-prev{right: auto; left: 0;}
}