html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
audio, canvas, video {display: inline-block; max-width: 100%;}
html {overflow-y: scroll; overflow-x: hidden; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; box-sizing: border-box; scroll-behavior: smooth; font-size:18px;}
a {color: var(--anchor); text-decoration: none; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
a:focus {outline: 0;} 
a:hover, a:active {outline: 0;}
a:hover {color: var(--anchor-hover);}
h1, h2, h3, h4, h5, h6 {clear: both; margin: 0 0 20px; color: var(--heading); font-family: "Ivar Display", sans-serif; font-weight: bold;}
h1 {font-size: 4rem; line-height:1.2; margin-bottom: 20px;}
h2 {font-size: 3.556rem; line-height:1.2; margin-bottom: 31px;}
h3 {font-size: 2.667rem; line-height:1.2; margin-bottom: 30px;}
h4 {font-size: 2.222rem; line-height:1.2; margin-bottom: 30px;}
h5 {font-size: 1.778rem; line-height:1.2; margin-bottom: 30px;}
h6 {font-size: 1.333rem; line-height:1.2; margin-bottom: 18px;}
address {margin-bottom: 9px;}
abbr[title] {border-bottom: 1px dotted #2b2b2b; cursor: help;}
b, strong {font-weight: bold;}
cite, dfn, em, i {font-style: italic;}
mark, ins {background: transparent; text-decoration: none; color: inherit;}
p {margin-bottom:17px;}
p:last-child {margin-bottom: 0;}
code, kbd, tt, var, samp, pre {font-size: 15px; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; line-height: 1.6;}
pre {border: 1px solid rgba(0, 0, 0, 0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 24px; max-width: 100%; overflow: auto; padding: 12px; white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
blockquote, q {-webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none;}
blockquote {padding: 80px 10.330578512396695% 83px; position: relative; margin:72px 0 63px; background:var(--blue);}
blockquote p {font-size: 2.105rem; line-height: 1.48; color: var(--white); font-weight: 200;}

small {font-size: small;}
big {font-size: 125%;}
sup, sub {font-size: 1rem; letter-spacing: -.18px; height: 0; line-height: 0; position: relative; vertical-align: baseline;}
sup {bottom: 8px; font-size: 0.765rem; left: -5px;}
sub {top: 0;}
dl {margin-bottom: 24px;}
dd {margin-bottom: 24px;}
ul {list-style: none; margin:0 0 27px 14px;}
ul > li {counter-increment: li; position: relative; margin-bottom: 11px;}
ul > li:before {content:"\e7d1"; display: block; position: absolute; top: 1px; left: -14px; font-family: "Font Awesome 7 Sharp"; color: var(--Sienna-Orange); text-align: center; font-weight: normal; font-size: 0.889rem; line-height:1.5;}
li > ul {margin: 25px 0 26px 40px;}
ol {counter-reset: section; list-style: none; margin:0 0 28px 27px;}
ol > li {counter-increment: li; position: relative; margin-bottom:9px;}
ol > li:before {counter-increment: section; content: counter(section, decimal) "."; left: -27px; position: absolute; color: var(--Sienna-Orange);}
li > ol {margin: 25px 0 26px 40px;}
img {-ms-interpolation-mode: bicubic; border: 0; vertical-align: middle; max-width: 100%; height: auto;}
figure {margin: 0;}
fieldset {border: 1px solid rgba(0, 0, 0, 0.1); margin: 0 0 24px; padding: 11px 12px 0;}
legend {white-space: normal;}
button, input, select, textarea {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 100%; margin: 0; max-width: 100%; vertical-align: baseline;}
button, input {line-height: normal;}
input, textarea {background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; cursor: pointer;}
button[disabled], input[disabled] {cursor: default;}
input[type="checkbox"], input[type="radio"] {padding: 0;}



input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {display: none;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

.search-form .form-field{position: relative; margin-bottom: 0;}

button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}
textarea {overflow: auto; vertical-align: top; min-height: 128px; border-radius: 26px;}

/*-- table --*/
table, th, td {border:0 none; letter-spacing: normal;}
table {border-collapse: separate; border-spacing: 0; border: solid 1px rgba(0, 0, 0, 0.1); margin:32px 0 27px 0; width: 100%; background: rgba(255, 255, 255, 0.60); backdrop-filter: blur(7px); border-top: 0 none;}
table tbody img {margin: 0 auto!important;}
table thead tr th {color: var(--white); font-size: 0.684rem; background: var(--Sienna-Orange); text-transform: uppercase; font-family: "Blackbird",sans-serif; line-height: 1.69;}
table tbody tr td{padding:14px 16px 11px; font-size:0.947rem; border-bottom: solid 1px rgba(0, 0, 0, 0.1); line-height: 1.67;}
th {border-width: 0; padding:8px 16px 8px;}
td {border-width: 0; padding:14px 16px 11px; color: var(--Foreground);}
tr:last-child td{border-bottom: 0;}
/*-- table --*/

caption, th, td {text-align: left;}
del {color: #231f20;}
hr {display: block; background:var(--black); height: 1px; width: 100%; vertical-align: middle; margin: 63px 0; border: 0 none; opacity: 0.5;}
::selection {background-color: var(--Sienna-Orange); color: #fff;}
::-moz-selection {background-color: var(--Sienna-Orange); color: #fff;}


input, textarea, select {outline: 0; width: 100%; font-size: 0.778rem; line-height: normal; background:var(--input); box-shadow: none; padding: 12px; vertical-align: middle; font-weight: bold; height: auto; transition: all .5s ease-in-out; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1); border:0 none; border-radius:90px; font-family:"Blackbird", sans-serif;}
select {padding:14px 46px 14px 16px;}
textarea {width: 100%; resize: none; height: 118px;}
input:focus, textarea:focus {outline: 0;}
input[type="button"], input[type="reset"], input[type="submit"] {display: inline-block; font-size:1.125rem; font-weight: 700; line-height:1.33; padding:15px 12px; vertical-align: middle; cursor: pointer; border:0 none; background-color: var(--button); position: relative; transition: all .35s ease-in-out; -webkit-transition: all .35s ease-in-out; -moz-transition: all .35s ease-in-out; text-align: center; color: var(--white); font-family:"Blackbird", sans-serif; text-decoration: none; overflow: hidden; z-index: 1; border-radius:10px; outline: 0; box-sizing: border-box; text-transform:none; min-width: 226px;}
input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {color: var(--blue); background-color: var(--button-hover);}
input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {outline: none;background-color: var(--button); color: var(--blue);}
.search-field {width: 100%;}
.search-submit {display: none;} 

input, textarea {outline: 0; width: 100%; font-size: 1rem; line-height: 24px; background: var(--input); box-shadow: none; padding: 15px 27px 17px 27px; vertical-align: middle; font-family:"Blackbird", sans-serif; font-weight: bold; height: auto; transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; border: none; border-bottom: 1px solid var(--blacktext); border-radius: 0;}
select {padding: 12px 46px 13px 12px; outline: 0; width: 100%; font-size: 1rem; line-height: 24px; background: var(--input); box-shadow: none; vertical-align: middle; font-family:"Blackbird", sans-serif; font-weight: bold; height: auto; transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; border: none; border-bottom: 1px solid var(--blacktext); border-radius: 0; min-height: 52px;}
textarea {width: 100%; resize: none; height: 118px;}
input:focus, textarea:focus {outline: 0;}
input[type="button"], input[type="reset"], input[type="submit"] {display: inline-block; font-size: 14px; line-height: normal; padding: 17px 35px 16px 36px; vertical-align: middle; cursor: pointer; border: none; border-radius: 0; background-color: var(--anchor); font-weight: 700; letter-spacing: normal; position: relative; transition: all .5s linear; -webkit-transition: all .5s linear; -moz-transition: all .5s linear; text-transform: uppercase; text-align: center; color: #FFF; font-family:"Blackbird", sans-serif;}
input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {background-color: var(--black); color: var(--white);}
input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {outline: none;}
.search-field {width: 100%;}
.search-submit {display: none;} 




/* Default */
button, .button  {display: inline-block; font-size:1.333rem; font-weight: 700; line-height: 100%; vertical-align: middle; cursor: pointer; border:0 none; background-color: var(--button); position: relative; transition: all .35s ease-in-out; -webkit-transition: all .35s ease-in-out; -moz-transition: all .35s ease-in-out; text-align: center; color: var(--white); font-family:"Blackbird", sans-serif; text-decoration: none; overflow: hidden; z-index: 1; border-radius: 300px; outline:4px solid transparent; box-sizing: border-box; padding: 16px 20px 16px 20px;}
button:hover, .button:hover {color: var(--white); background-color: var(--button); outline:4px solid var(--button-outline);}
button:focus, .button:focus, button:active, .button:active {color: var(--white); background-color: var(--button); outline:4px solid var(--button-outline);}

.btn-white {background: var(--white); color: var(--button);}
.btn-white:hover {background: var(--white); color: var(--button);}
.btn-white:active, .btn-white:focus {background: var(--white); color: var(--button);}

.btn-gray {background: var(--Dark-Gray); color: var(--white);}
.btn-gray:hover {background: var(--Foreground); color: var(--white);}
.btn-gray:active, .btn-gray:focus {background: var(--Dark-Gray); color: var(--white);}

.arrow-btn {position: relative; display: flex; flex-wrap: wrap; gap:9px; min-width: inherit; font-size: 1rem; align-items: center; font-weight: 700; padding: 9px 20px 10px; justify-content: center;}
.arrow-btn:after {content: "\f061"; position: relative; display: inline-block; font-family: "Font Awesome 7 Sharp";}
.arrow-btn:hover:after {animation: bounceAlpha 1.4s ease-in-out infinite;}

input[type="submit"] {background-image: url("../images/search-icon.svg") !important; background-repeat: no-repeat !important; position: absolute; right:0; top:0; bottom: 0; padding: 0 !important; width: 19px; height: 19px; margin: auto; background-color: transparent !important; border: 0 none; border-radius: 0; z-index: 1; box-shadow: none !important; transform: none !important; min-width: inherit;}
input[type="submit"]:hover {box-shadow: none; transform: none;}

.submit-wrapper{position:absolute; display:inline-block; border-radius:90px; overflow:hidden; background: var(--button-hover); right: 0;} 
.submit-wrapper input[type="submit"]{display:inline-block; font-size:0.737rem; font-weight:700; line-height:1.57; padding:16px 39px 17px; cursor:pointer; border:0; background:none; font-family:"Blackbird",sans-serif; text-transform:uppercase; border-radius:90px; position:relative; z-index:1; color: var(--blue); min-width: inherit; width: auto;} 
.submit-wrapper::before{bottom: 0; left: 0; right: 0; height: 100%; width: 100%; transition: 0.3s ease-out; background-color: var(--white); position: absolute; content: "";} 
.submit-wrapper:hover::before{height: 0%;}
.submit-wrapper:hover input[type="submit"] {color: var(--blue);}


::-webkit-input-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size:1rem!important; overflow: visible; font-weight: 700;}
:-moz-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size:1rem!important; overflow: visible; font-weight: 700;}
::-moz-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size:1rem!important; overflow: visible; font-weight: 700;}
:-ms-input-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size:1rem!important; overflow: visible; font-weight: 700;}


embed, iframe, object, video {margin-bottom: 7px; max-width: 100%; border-radius: 0;}
p > embed, p > iframe, p > object, span > embed, span > iframe, span > object {margin-bottom: 0;}
.alignleft {float: left;}
.alignright {float: right;}
.aligncenter {display: block; margin-left: auto; margin-right: auto; text-align: center;}
blockquote.alignleft, figure.wp-caption.alignleft, img.alignleft {margin:8px 36px 10px 0;}
.wp-caption.alignleft {margin: 5px 55px 37px 0;}
blockquote.alignright, figure.wp-caption.alignright, img.alignright {margin:8px 0 10px 35px;}
.wp-caption.alignright {margin: 7px 0 37px 55px;}
blockquote.aligncenter, img.aligncenter, .wp-caption.aligncenter {margin-top:29px; margin-bottom:23px;}
img.alignnone {margin:29px 0 23px; display: block; clear: both;}
.hide {display: none;}
.bypostauthor > article .fn:before, .comment-edit-link:before, .comment-reply-link:before, .comment-reply-login:before, .comment-reply-title small a:before, .contributor-posts-link:before, .menu-toggle:before, .search-toggle:before, .slider-direction-nav a:before, .widget_twentyfourteen_ephemera .widget-title:before {-webkit-font-smoothing: antialiased; display: inline-block; font: normal 16px/1 Genericons; text-decoration: inherit; vertical-align: text-bottom;}
.comment-form label {display: block;}
.comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"] {width: 100%;}
.clearfix {clear: both;}
* {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden;}



.flex {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; width: 100%;}
.flex-vcenter {-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.flex-content-center {-ms-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center;}
.flex-center {-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -ms-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center;}
.flex-nowrap {flex-wrap: nowrap;}
.flexend {display: flex; flex-wrap: wrap; justify-content: flex-end;}
.table {display: table; width: 100%; height: 100%;}
.table-cell {display: table-cell; vertical-align: middle;}
.grid {display: grid; display: -moz-grid; display: -ms-grid;}

/* divider line */
.divider-line{width: 100%; max-width: 1280px; margin: 0 auto; height: 1px; background: var(--Foreground); margin: 8px 0; opacity: .2; }


@media only screen and (max-width: 767px) and (min-width:200px) {
h1 {font-size: 2.667rem; line-height:1.2; margin-bottom: 12px;}
h2 {font-size: 2.222rem; line-height:1.2; margin-bottom: 16px;}
h3 {font-size: 1.778rem; line-height:1.2; margin-bottom: 16px;}
h4 {font-size: 1.333rem; line-height:1.2; margin-bottom: 16px;}
h5 {font-size: 1.111rem; line-height:1.2; margin-bottom: 16px;}
h6 {font-size: 0.667rem; line-height: 1.5; margin-bottom:16px;}
    
    table thead tr th {font-size: 0.6rem;}
    th {padding: 8px 8px 8px;}
    table tbody tr td {padding: 14px 8px 11px;}
    
    blockquote {margin: 52px 0 47px;}

    .divider-line{margin: 4px 0;}
}