
.resource-lists{gap: 40px;}
.resource-item{background-color: var(--Tint-Orange);}

.resource-heading{gap: 24px;}
.resource-title{flex: 1; }
.resource-title h2{margin-bottom: 0;}
.resource-filters{gap: 40px;}
.resource-filter{flex: 1; gap: 12px;}
.resource-filter .btn-transparent{min-width: 230px;}
.resource-sort-dropdown{width: fit-content;}

.resource-details{padding: 32px;}
ul.resources-category{margin: 0 0 20px 0; gap: 10px;}
ul.resources-category li{font-size: 0.889rem; line-height: 1.5; color: var(--Umber-3); font-weight: bold; padding-left: 9px; border-left: 1px solid var(--Sienna-Orange); margin-bottom: 0;}
ul.resources-category li::before{display: none;}
ul.resources-category li a {color: var(--Umber-3);}
ul.resources-category li a:hover {color: var(--Sienna-Orange);}
.resource-details h2{margin-bottom: 20px;}

.resource-show-btn{gap: 16px; }
.resource-line{margin: 0; flex: 1;}

@media screen  and (min-width: 1024px){
    .resource-main{padding: 80px 0; gap: 48px;}
    .resource-item{flex: 0 0 calc(33.333% - 27px);}
    .resource-image{height: 210px;}
    .resource-image img{min-height: 210px; max-height: 210px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .resource-main{padding: 48px 0; gap: 32px;}
    .resource-heading{gap: 16px;}
    .resource-title h2{font-size: 1.333rem; line-height: 1.2;}
    .resource-title h2 br{display: none;}
    .resource-sort{width: 100%; gap: 16px;}
    .resource-city-dropdown, .resource-funding-dropdown{flex: 0 0 calc(50% - 8px);}
    body .resource-city-dropdown .selectBox-dropdown,
    body .resource-funding-dropdown .selectBox-dropdown{display: flex; justify-content: center; gap: 8px; font-size: 0.889rem;}
    body .resource-city-dropdown .selectBox-dropdown .selectBox-label,
    body .resource-funding-dropdown .selectBox-dropdown .selectBox-label{width: fit-content !important;}
    body .resource-city-dropdown .selectBox-dropdown .selectBox-arrow,
    body .resource-funding-dropdown .selectBox-dropdown .selectBox-arrow{position: relative; right: auto; font-size: 1.111rem;}
    .resource-lists{gap: 28px;}
    .resource-item{flex: 0 0 calc(50% - 14px);}
    .resource-details{padding: 24px; font-size: 0.889rem; line-height: 1.5;}
    .resource-details h2{font-size: 1.333rem;}
    .resource-details hr{margin: 12px 0; }
    .resource-details ul{margin: 0 0 22px 0;}
    .resource-details ul li{gap: 10px;}
    .resource-details ul li span{font-size: 0.889rem;}
    .resource-details ul li span.fa-sharp{font-size: 1rem;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .resource-main{padding: 28px 0; gap: 28px;}
    .resource-heading{gap: 12px; }
    .resource-title h2{font-size: 1.111rem; line-height: 1.2;}
    .resource-sort{width: 100%; gap: 12px;}
    .resource-city-dropdown, .resource-funding-dropdown{width: 100%;}
    body .resource-city-dropdown .selectBox-dropdown,
    body .resource-funding-dropdown .selectBox-dropdown{display: flex; justify-content: center; gap: 8px; font-size: 0.889rem;}
    body .resource-city-dropdown .selectBox-dropdown .selectBox-label,
    body .resource-funding-dropdown .selectBox-dropdown .selectBox-label{width: fit-content !important;}
    body .resource-city-dropdown .selectBox-dropdown .selectBox-arrow,
    body .resource-funding-dropdown .selectBox-dropdown .selectBox-arrow{position: relative; right: auto; font-size: 1.111rem;}
    .resource-lists{gap: 24px;}
    .resource-item{width: 100%;}
    .resource-image{height: 184px;}
    .resource-image img{min-height: 184px; max-height: 184px;}
    .resource-details{padding: 20px;}
    .resource-details h2{font-size: 1.111rem; line-height: 1.2; }
    .resource-details hr{margin: 8px 0;}
    .resource-details p{margin-bottom: 4px; font-size: 0.889rem;}
    .resource-details ul{margin: 0 0 14px 0; gap: 4px; }
    .resource-details ul li,
    .resource-details ul li a{gap: 6px;}
    .resource-details ul li span.fa-sharp{font-size: 1rem;}
    .resource-details ul li span{font-size: 0.889rem;}
    .circle-arrow-btn span.fa-sharp{width: 40px; height: 40px; font-size: 1.111rem;}
    span.resource-btn-text{font-size: 0.889rem;}
    .resource-show-btn{gap: 8px;}
    
}