.segments-module {clear: both; width: 100%; padding:80px 0 80px 0; position: relative; z-index: 1; display: flex; flex-wrap: wrap; gap:48px;}
.segments-inner {clear: both; width: 100%;}
.segments-module .optional-text {color: var(--Foreground);}
.segments-module .h3 {color: var(--Foreground); margin-bottom: 50px;}
.segments-grid-wrapper {gap:48px 4%;}
.segments-grid {width: 48%; flex-grow: 1; background: var(--Tint-Blue);}
.segments-thumb {clear: both; width: 100%; height: 384px; overflow: hidden;}
.segments-cnt {padding: 32px;}
.segments-cnt p {font-size: 1.333rem; color: var(--Dark-Gray); margin-bottom: 27px;}




@media only screen and (max-width:1023px) and (min-width:200px) {  
  .segments-cnt p {font-size: 1.111rem; line-height: 1.5; margin-bottom: 14px;} 
}

@media only screen and (max-width:1023px) and (min-width:768px) {  
    .segments-module {padding: 80px 0 50px 0;}
}

@media only screen and (max-width:767px) and (min-width:200px) {  
    .segments-grid-wrapper {gap:28px;}
    .segments-module {padding: 36px 0 28px 0; gap: 28px;}
    .segments-module .h3 {margin-bottom: 27px;}
    .segments-grid {width: 100%;}
    .segments-thumb {height: 55.73vw;}
    .segments-cnt {padding: 20px;}
    
    .segments-cnt .h5 {margin-bottom: 8px;}
    
}