.short-services-module{clear: both; width: 100%; background: var(--base-elevated); padding: 40px 0 40px; position: relative; z-index: 1;}
.btn-white {margin-top: auto; width: fit-content;}
.ss-module-wrap {gap:40px; width: calc(100% + 80px); position: relative; left: -40px; padding: 40px;}
.ss-module-wrap:before {content: ""; background: var(--white); position: absolute; left: 0; top:0; width: 100%; height: 100%; display: block; clip-path: var(--path-660);}

.ss-grid {width: 48.4375%; display: inline-block; min-height: 620px; overflow: hidden;}
.ss-grid .ss-thumb {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.ss-grid.ss-txt .ss-cnt {align-content: space-between;}
.ss-grid .ss-cnt {padding: 40px; clear: both; width: 100%; display: flex; flex-wrap: wrap; height: 100%; }
.ss-grid .ss-cnt .optional-text {  margin: 0 0 40px 0;}
.ss-grid .ss-cnt .h1 {margin-bottom: 16px;}
.ss-grid .ss-cnt > p {font-size: 1rem; line-height: 1.5; color: var(--brand-green);}
.ss-grid .ss-cnt .btn-shadow-wrp {margin-top: auto; }
.ss-grid.ss-txt .ss-cnt {align-items: flex-start;}
.ss-grid .ss-cnt .ss-cnt-ftr{padding-top: 40px; margin-left: auto;}

.ss-overlay-bg {width: 100%; height: 100%; top: 0; left: 0; display: block; opacity: 0.75; position: absolute;}
.ss-overlay {position: absolute; top: 0; left: 0; width:100%; height: 100%; display: flex; align-items: center; right: 0; bottom: 0; margin: auto; flex-direction: column; opacity: 0; transition: opacity 0.5s ease; box-sizing: border-box; z-index: 1;}
.ss-overlay-cnt {padding: 40px; z-index: 1; margin: 40px; background: var(--white); flex: 1; display: flex; flex-direction: column;  overflow-y: auto;}
.ss-overlay-inner{display: flex; margin: auto; flex-direction: column; flex-wrap: wrap;}
.ss-grid:hover .ss-overlay {opacity:1;}
.ss-overlay-cnt .ss-icon {width: auto; height: 40px; margin: 0 auto 22px 0;}
.ss-overlay-cnt .ss-icon figure {width: 100%; height: 100%; display: block;}
.ss-overlay-cnt .ss-icon figure img {width: 100%; height: 100%; font-family: "object-fit:cover"; object-fit: cover; -o-object-fit: cover; object-position: 50% 50%;
-o-object-position: 50% 50%;}
.ss-overlay-cnt h2 {margin-bottom: 18px; color: var(--base-foreground);}
.ss-overlay-cnt p {font-size:0.875rem; line-height: 1.5; margin-bottom: 23px;}

/* ss-two */
.ss-two .ss-grid.ss-txt .ss-cnt {padding: 0 40px 40px 0;}
.ss-two .ss-grid.ss-txt .ss-cnt > p {max-width: 500px;}
.ss-two .ss-grid.ss-txt .btn-shadow-wrp {margin-left: auto;}
.ss-two .btn-white:before {content: ""; width: calc(100% + 40px); height: calc(100% + 40px); display: block; background: var(--white-50); right: 0; top: 0; clip-path: polygon(0 0,calc(100% - 40px) 0,100% 40px,100% 100%,40px 100%,0 calc(100% - 40px)); position: absolute; transform: scale(1, -1); -webkit-backdrop-filter: blur(6px); backdrop-filter: blur(6px);}

.ss-two .ss-grid.ss-txt .btn-shadow {content: ""; width: calc(100% + 40px); height: calc(100% + 40px); display: block; right: 0; top: 0; clip-path: polygon(0 0,calc(100% - 40px) 0,100% 40px,100% 100%,40px 100%,0 calc(100% - 40px)); position: absolute; transform: scale(1, -1); -webkit-backdrop-filter: blur(6px); backdrop-filter: blur(6px); opacity: 1; visibility: visible; left: 0; transform: scale(-1, -1); background: var(--base-elevated);}
.ss-two .ss-grid.ss-txt .button {text-transform: uppercase; font-family: 'Correct XXX Condensed'; font-weight: 900; font-size: 1.75rem; letter-spacing: 0.56px; background: var(--brand-green); color: var(--brand-mint); min-width: 215px; padding: 22px 16px 18px 16px;}
.ss-two .ss-grid.ss-txt .button:hover {transform: translate(-4px, -4px); box-shadow: 1px 1px 0px 0px var(--base-elevated), 2px 2px 0px 0px var(--base-elevated), 3px 3px 0px 0px var(--base-elevated), 4px 4px 0px 0px var(--base-elevated);}

.ss-cnt-wrap p{color: var(--heading);}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
.ss-grid { width: 47.5%; }


}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .ss-grid { width: 48.200%; min-height: 595px;}
    .ss-module-wrap::before { clip-path: var(--path-581);}
.ss-overlay-inner{padding-top: 40px;} 


}

@media only screen and (max-width: 1270px) and (min-width: 1024px) {
   
    .ss-grid { width: 47.5%; }
    .ss-grid .ss-cnt .h1 {font-size: 3.5rem;}
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
   .ss-module-wrap { gap: 32px; width: calc(100% + 64px); left: -32px; padding: 32px; }
   .ss-grid.ss-txt .ss-cnt { padding:  0;}
   .ss-grid { width: 47.438%; min-height: 325px; }
   .ss-grid .ss-cnt .optional-text {margin: 0 0 20px 0;}
   .ss-cnt-wrap p{font-size: 14px; line-height: 1.5;}
   .ss-grid .ss-cnt .ss-cnt-ftr { padding-top: 20px; }
   .ss-grid .ss-cnt { padding: 32px;}
   .ss-module-wrap::before {clip-path: var(--path-362);}
   .ss-grid .ss-cnt .h1 {font-size: 3.5rem;}
   .ss-overlay-cnt { padding: 20px; margin: 32px;}
   .ss-overlay-cnt h2 {font-size: 2rem;}

   .ss-two .btn-white::before { content: ""; width: calc(100% + 32px); height: calc(100% + 32px); clip-path: polygon(0 0,calc(100% - 32px) 0,100% 32px,100% 100%,32px 100%,0 calc(100% - 32px));}
  .ss-two .ss-grid.ss-txt .btn-shadow {width: calc(100% + 32px); height: calc(100% + 32px); clip-path: polygon(0 0,calc(100% - 32px) 0,100% 32px,100% 100%,32px 100%,0 calc(100% - 32px));}
}




@media only screen and (max-width: 767px) and (min-width: 200px) {
    .short-services-module { padding: 20px 0!important; } 
    .ss-module-wrap{flex-direction: column;}
    .ss-grid{width: 100%;}
    .ss-module-wrap { gap: 20px; width: calc(100% + 160px); position: relative; left: -80px; padding: 20px; }
    .ss-grid .ss-cnt .optional-text {margin: 0 0 22px 0;}
    .ss-module-wrap::before {clip-path: var(--path-120);}

    

    .short-services-module   .container { padding: 0 20px;}

    .ss-module-wrap { width: 100%; left: 0; padding: 20px; }
    .ss-grid.ss-txt .ss-cnt{padding: 0;}
    .ss-grid.ss-txt{min-height: inherit;}
    .ss-grid .ss-cnt .h1 {font-size: 3rem;}
    .ss-grid{min-height: 310px; align-items: flex-end; display: flex;}
    .ss-grid .ss-cnt { padding: 20px;}

    .ss-overlay-cnt { padding: 16px; margin: 20px;}
   .ss-overlay-cnt h2 {font-size: 1.5rem;}

   .ss-grid .btn-white .button{font-size: 1.125rem;}
   .ss-cnt-wrap p{ font-size: 14px; line-height: 1.5;}
   /* .ss-two .ss-grid.ss-txt .btn-shadow{display: none;} */

   .ss-grid .ss-cnt .ss-cnt-ftr { padding-top: 32px; margin-right: auto; margin-left: 0;}
}