

.sm-cta-main{background: var(--Sienna-Orange); padding: 36px 32px; gap: 32px;}
.sm-cta-text{flex: 1;}
.sm-cta-text .h4{color: var(--white); margin-bottom: 0;}
.sm-cta-btn{width: fit-content;}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .sm-cta-main{padding: 24px; gap: 24px;}
    .sm-cta-text .h4{font-size: 1.778rem; }
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .sm-cta-main{padding: 20px; gap: 20px;}
    .sm-cta-text, .sm-cta-btn{flex: 0 0 100%;}
    .sm-cta-btn .button{width: 100%;}
}