.stories-slider-section {clear: both; width: 100%; position: relative; z-index: 1;}
.stories-slider-section:before {background: var(--Foreground); opacity: 0.2; content: ""; display: block; max-width:calc(1344px - 64px); height: 1px; margin: 0 auto;}
.stories-slider-row {display: flex; flex-wrap: wrap; width: 100%;}
.stories-slider-header h2{margin-bottom: 0;}
.stories-slider-item{background: var(--white); height: inherit!important;}
.stories-slider-image{height: 532px; /*padding-top: 40px;*/ margin-bottom: 32px;}
.stories-slider-image:only-child {margin: 0; height: 100%;}
.stories-slider-text{clear: both; width: 100%;}
.stories-slider-text .h5{margin-bottom: 23px;}
.stories-slider-row .slick-track {display: flex; flex-wrap: wrap;}
.stories-slider-row .slick-list{overflow: inherit;}
.stories-slider-row .slick-arrow{margin: 0; top: -128px;}
.stories-slider-row .slick-arrow.slick-prev{right: 76px; left: auto;}
.stories-slider-item.more-stories {background: var(--Sienna-Orange); padding: 48px; display: flex!important; align-items: center;}
.stories-slider-item.more-stories .h5 {color: var(--white); margin-bottom: 32px;}
.stories-slider-item.more-stories .h5:only-child {margin: 0;}

@media only screen and (max-width:1280px) {
    .stories-slider-section::before {margin: 0 32px;}
}

@media screen and (min-width: 1024px) {
    .stories-slider-main{padding: 86px 0;}
    .stories-slider-header{width: calc(100% - 204px); margin-bottom: 64px;}
    .stories-slider-item{width: 480px; margin-right: 40px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .stories-slider-main{padding: 80px 0;}
    .stories-slider-header{width: calc(100% - 154px); margin-bottom: 48px;}
    .stories-slider-item{width: 480px; margin: 0 28px 0 0;}
    
    .stories-slider-row .slick-arrow{width: 48px; height: 48px;}
    .stories-slider-row .slick-arrow span i{font-size: 20px; line-height: 20px;}
    .stories-slider-row .slick-arrow.slick-prev{right: 58px; left: auto;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .stories-slider-section::before {margin: 4px 32px 4px;}
    .stories-slider-main{padding: 28px 0;}
    .stories-slider-header{width: 100%; margin-bottom: 40px;}
    .stories-slider-item{width: 300px; margin: 0 24px 40px 0;}
    .stories-slider-image{height:332px; /*padding-top: 24px;*/ margin-bottom: 20px;}
    
   
    .stories-slider-text .h5 {margin-bottom: 16px;}
    
    .stories-slider-row .slick-arrow{top: auto; width: 40px; height: 40px;}
    .stories-slider-row .slick-arrow span i{font-size: 20px; line-height: 20px;}
    .stories-slider-row .slick-arrow.slick-prev{right: auto; left: 0;}
}