.take-quiz-module {clear: both; width: 100%; position: relative; z-index: 1;}
.take-quiz {background: var(--Tint-Pink); display: flex; flex-wrap: wrap; justify-content: space-between; gap:32px; padding: 32px; align-items: center;}
.tq-lt {flex:1;}
.tq-rt {width: fit-content;}
.take-quiz .h5 {margin: 0;}

@media only screen and (max-width:1023px) and (min-width:200px) {    
}

@media only screen and (max-width:1023px) and (min-width:768px) {
    
}

@media only screen and (max-width:767px) and (min-width:200px) {
    .take-quiz {padding: 20px; gap: 20px;}
    .tq-rt {width: 100%;}
}

