
.team-sm-title{flex: 1;}
.team-sm-title .h4{margin: 0;}
.team-sm-btn{width: fit-content;}

.team-sm-img{width: 128px;}
.team-sm-txt{flex: 1;}
.team-sm-txt .h6{margin-bottom: 0;}
.team-sm-info{gap: 8px; flex-direction: column;}
span.team-sm-role{font-size: 0.889rem; display: block; line-height: 1.5; opacity: 0.64; }
.team-sm-email a{gap: 8px;}
.team-sm-email a span.fa-at{color: var(--Sienna-Orange); font-size: 1.111rem; width: 20px;}
.team-sm-email a span.team-sm-email-name{font-size: 1rem; color: var(--Foreground); line-height: 1.5; font-weight: 700; flex: 1;}
.team-sm-email a:hover span.team-sm-email-name{color: var(--Sienna-Orange);}


@media screen and (min-width: 1024px) {
    .team-sm-main{padding: 40px 0;}
    .team-sm-heading{margin-bottom: 48px;}
    .team-sm-list{gap: 40px;}
    .team-sm-item{flex: 0 0 calc(33.333% - 27px); gap: 24px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .team-sm-main{padding: 48px 0;}
    .team-sm-heading{margin-bottom: 32px; width: 100%;}
    .team-sm-list{gap: 28px; width: 100%;}
    .team-sm-item{flex: 0 0 calc(50% - 14px); gap: 20px;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .team-sm-main{padding: 16px 0;}
    .team-sm-heading{margin-bottom: 28px; width: 100%;}
    .team-sm-list{gap: 24px; width: 100%; margin-bottom: 28px;}
    .team-sm-item{width: 100%; gap: 16px;}
    .team-sm-txt .h6{line-height: 1.2;}
    .team-sm-info{gap: 4px;}
    span.team-sm-role{font-size: 0.778rem;}
    .team-sm-email a{gap: 4px;}
    .team-sm-email a span.fa-at{font-size: 1rem; width: 18px; }
    .team-sm-email a span.team-sm-email-name{font-size: 0.889rem;}
}