

.team-carousel-txt-pos{bottom: 0; height: auto; left: 0; padding: 48px 24px 24px; width: 100%; position: absolute; transition: all .5s ease-in-out; background: linear-gradient(0deg, #000 -0.05%, rgba(0, 0, 0, 0.00) 100%);}
.team-carousel-name{flex: 1;}
.team-carousel-name .h6{color: var(--white); margin-bottom: 0;}
.team-carousel-name span{font-size: 0.889rem; color: var(--white); opacity: 0.64; line-height: 1.5; display: block;}
.team-carousel-arrow{width: 32px; height: 32px; }
.team-carousel-arrow span{font-size: 1.778rem; line-height: 1; color: var(--Sienna-Orange); width: 32px;}

.team-carousel-slider .slick-list{overflow: inherit;}
.team-carousel-slider .slick-arrow{margin: 0; top: -128px;}
.team-carousel-slider .slick-arrow.slick-prev{right: 76px; left: auto;}

@media screen and (min-width: 1024px) {
	.team-carousel-main{padding: 80px 0;}
	.team-carousel-heading{margin-bottom: 64px; width: calc(100% - 204px);}
    .team-carousel-slide{width: 335px; margin-right: 40px; }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	.team-carousel-main{padding: 48px 0;}
	.team-carousel-heading{margin-bottom: 48px;  width: calc(100% - 154px);}
    .team-carousel-slide{width: 335px; margin-right: 28px;}
    .team-carousel-txt-pos{padding: 32px 20px 20px;}
    .team-carousel-name .h6{line-height: 1.2; font-size: 1.111rem;}
    .team-carousel-name span{font-size: 0.778rem;}
    .team-carousel-slider .slick-arrow{top: -96px; width: 48px; height: 48px;}
    .team-carousel-slider .slick-arrow.slick-prev{right: 58px;}
    .team-carousel-slider .slick-arrow span i{font-size: 20px; line-height: 20px;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
	.team-carousel-main{padding: 28px 0;}
	.team-carousel-heading{margin-bottom: 40px; width: 100%;}
    .team-carousel-slide{width: 300px; margin: 0 24px 40px 0;}
    .team-carousel-txt-pos{padding: 28px 16px 16px;}
    .team-carousel-name .h6{line-height: 1.2;}
    .team-carousel-name span{font-size: 0.778rem;}
    .team-carousel-slider .slick-arrow{top: auto; width: 40px; height: 40px;}
    .team-carousel-slider .slick-arrow span i{font-size: 20px; line-height: 20px;}
    .team-carousel-slider .slick-arrow.slick-prev{right: auto; left: 0;}
}