.testimonial-module {clear: both; position: relative; padding: 80px 0; background:var(--white); z-index: 1;}
.testimonial-module .slick-list {padding: 0 75px; margin: 0 auto;}
.testimonial-flex {position: relative; z-index: 1; justify-content: space-between;}
.testimonial-flex:before {background: var(--brand-blue); position: absolute; left: 0; top: 0; width: 100%; height: 100%; content: ""; clip-path: var(--path-24); z-index: -1;}
.testimonial-img {width: 347px; margin-bottom: 24px;}
.testimonial-img img {filter: grayscale(100%) brightness(1) contrast(1); mix-blend-mode: lighten;}
.testmonial-txt {padding: 40px 64px 64px 40px; width: calc(100% - 347px); color: var(--white); position: relative; flex-grow: 1;}
.testmonial-txt:before {background:url("../images/open-quote-mint.svg") no-repeat 0 0; top: 0; width:21px; height:24px; z-index: -1; content: ""; position: relative; display: block; margin: 0 0 24px 0; background-size: cover;}
.testmonial-txt p {font-weight: bold; font-size: 1.5rem; line-height: 1.5; margin-bottom: 24px;}

.testimonial-author {clear: both; width: 100%;}
.testimonial-author .author-name {font-weight: bold; font-size: 1.125rem; color: var(--brand-mint);}
.testimonial-author .author-pos {font-size: 1rem; line-height: 1.5;}


/*-- media css starts here --*/


@media only screen and (max-width: 1023px) and (min-width:200px){
    .testimonial-img {width: 100%; margin: 0;}
    .testmonial-txt {width: 100%; padding: 32px 18px 52px 32px;}
    .testimonial-flex::before {width: calc(100% + 16px); clip-path: var(--path-16);}    
    .testimonial-author .author-name {font-size: 1rem;}
    .testimonial-author .author-pos {font-size:  0.875rem;}
}
@media only screen and (max-width: 1023px) and (min-width:768px){
    .testimonial-module {padding: 64px 0;}
    .testmonial-txt {padding: 32px 18px 52px 32px;}
    .testimonial-flex::before {width: calc(100% + 20px); clip-path: var(--path-20);}
    .testimonial-module .slick-list {padding: 0 87px;}
    .testmonial-txt p {font-size: 1.375rem; margin-bottom: 22px;}
   
}
@media only screen and (max-width:767px) and (min-width:200px){
    .testimonial-module {padding: 40px 0 108px;}
    .testimonial-module .slick-list {padding: 0 16px 0 0;}
    .testimonial-module .slick-arrow {top: inherit; bottom:-68px; left: 0; right: 0; height: 48px;} 
    .testimonial-module .slick-arrow.slick-prev {left:-85px; right: 0;}
    .testimonial-module .slick-arrow.slick-next {left: 0; right:-84px;}
    .testimonial-module .slick-arrow.slick-next:before {content: ""; position: absolute; left:-26px; bottom: 0; background-color:var(--base-elevated); width: 2px; height: 48px;} 
    .testimonial-module .slick-arrow span i {font-size: 3rem;}
    .testmonial-txt {padding: 20px 18px 36px 20px;}
    .testmonial-txt::before {width: 14px; height: 16px;}
    .testmonial-txt p {font-size: 1rem; margin-bottom: 22px; font-weight: 500;}
    
}
