.vision-module {clear: both; width: 100%; position: relative; background: var(--white); padding: 80px 0;}
.vision-module .section-intro {margin-bottom: 48px;}
.vision-swrapper {display: flex; flex-wrap: wrap; width: 100%; gap:20px;}

.slider-for {width: calc(100% - 152.1px);}
.slider-for .slick-track {display: flex; height: 588.6px;}
.slider-for .slider-banner-image {width: 100%; height: 100%; position: relative;}
.slider-for .vision-slide {height: inherit!important;}

/* Thumbnail */
.vision-swrapper .slider-nav {width:132.1px; text-align: center; position: relative; height: 588.6px; overflow: hidden;}
.vision-swrapper .slider-nav .thumbnail-image {width: 100%; height:132.1px}
.vision-swrapper .slider-nav .thumb-slide {border:0 none; margin: 0 0 20px 0; cursor: pointer;}

.vision-swrapper .slider-nav .thumb-slide .thumbnail-image img{opacity: 0.5;}
.vision-swrapper .slider-nav .thumb-slide.slick-current .thumbnail-image img{opacity: 1;}

/*-- media css starts here --*/
@media only screen and (max-width:1023px) and (min-width:200px) {
    .slider-for {width: 100%;}
    .slider-for .slick-track {height: 46.95vw;}
    .vision-swrapper .slider-nav .thumbnail-image {height: 100%;}
 
}
@media only screen and (max-width:1023px) and (min-width:768px) {
    .vision-module {padding: 80px 0 40px;}
    .vision-swrapper .slider-nav {width: calc(100% + 32px); height: inherit; overflow: inherit;}
    .vision-swrapper .slider-nav .slick-track {display: flex; flex-wrap: wrap;}
    .vision-swrapper .slider-nav .thumb-slide {width: 161px; height: 161px; margin:0 20px 0 0;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
    .vision-module .section-intro {margin-bottom: 29px;}
    .vision-module .section-intro .h2 {margin: 0 0 12px;}
    .vision-module {padding: 28px 0;}
    .vision-swrapper {gap:12px;}
    .vision-swrapper .slider-nav {width: 100%; overflow: inherit; height: inherit;}
    .vision-swrapper .slider-nav .slick-track:before {display: none;}
    .vision-swrapper .slider-nav .slick-track {width: 100%!important; transform: none!important; display: flex; flex-wrap: wrap; gap:12px; justify-content: center;}
    .vision-swrapper .slider-nav .thumb-slide {width: 157px; height: 157px; margin: 0;}
    .vision-swrapper .slider-nav .slick-track:after {display: none;}
}
@media only screen and (max-width:389px) and (min-width:200px) {
    .vision-swrapper .slider-nav .thumb-slide {width: 48%; height: 142px;}
}
