

@import url("_contact-top-section.css?v023235511");
@import url("_contact-form-section.css?v0232333344");
@import url("_signup-module.css");

body .contact-form-main .frm_forms .frm_submit button,
body .contact-form-main .frm_forms .frm_submit button:hover{background-color: var(--button);}
body .frm_forms.with_frm_style .frm_checkbox label{cursor: auto;}

body.page-template-contact ul.selectBox-dropdown-menu li a {padding: 5px 12px;}







@media screen and (max-width:767px) and (min-width:200px) {
    body .contact-form-main .frm_forms .frm_submit button{width: 100%;}
    body ul.selectBox-dropdown-menu li a{padding: 5px 12px;}
    body .frm_forms .frm_message{margin: 0;}

    body.page-template-contact ul.selectBox-dropdown-menu li a {padding: 5px 6px;}
    
}