@import url("_hero-banner.css");
@import url("_section-intro.css");
@import url("_repeater-section.css");
@import url("_micro-cta-module.css");
@import url("_register-module.css");
@import url("_block-module.css");
@import url("_single-cta-module.css");

@import url("_affiliates-module.css");
@import url("_accordion.css");
@import url("_features-sidebar-section.css");
@import url("_section-intro.css");
@import url("_features-module.css");
@import url("_stats-module.css");
@import url("_resources-slider-section.css");
@import url("_cta-module.css");
@import url("_signup-module.css");

.hero-banner-main .hero-banner-text h1 {font-size: 3.556rem;}

.default-main{padding: 80px 0 55px; gap: 80px;}
.default-article { flex: 1; }
.default-aside{flex: 0 0 335px;}

ul.aside-links { margin: 0 0 40px; }
ul.aside-links > li { margin: 0; }
ul.aside-links > li > a { gap: 10px; border-bottom: 1px solid var(--Elevated); padding: 12px 0 12px; color: var(--Foreground); }
ul.aside-links > li > a:hover{color: var(--Fuschia)}
ul.aside-links > li:before{display: none;}

/* Default Thumb */
.default-thumb {margin-top:79px; margin-bottom:81px; position: relative; clear: both; width: 100%;}
.default-thumb figure img{height: 674px;}
.default-thumb .fluid-width-wrapper {height: 100%;}
.default-thumb-two {margin-top:81px; margin-bottom: 81px; position: relative; clear: both; width: 100%; min-height: 361px; display: flex; flex-wrap: wrap;}
.default-thumb-two .fluid-width-wrapper {display: flex; flex-wrap: nowrap; gap:30px; align-items: stretch; width: 100%;}
.default-thumb-two .default-thumb-flex {flex: 1; height: 100%; position: relative;}
.default-thumb-two figure img{height:400px;}



/*-- media css starts here --*/




@media only screen and (max-width:767px) and (min-width:200px) {
    .hero-banner-main .hero-banner-text h1 {font-size: 2.222rem;}

	.default-thumb {margin:61px 0 61px 0; height:64.735vw;}  
	.default-thumb figure img {height: 100%;}
	.default-thumb-two {margin:60px 0 61px 0;}
	.default-thumb-two img {height: 100%;}
	.default-thumb-two .fluid-width-wrapper {flex-wrap: wrap;}
	.default-thumb-two .default-thumb-flex {flex: 100%; height:60.39vw; width: 100%;}
	.default-thumb-two figure img {height: 100%}
}