#mainContent {background: var(--white);}
.form-components-section {clear: both; width: 100%; padding: 80px 0; position: relative;}
.form-components-section .form-wrap {max-width: 800px; margin: 0 auto;}
.form-components-section .form-heading {clear: both; width: 100%; margin: 0 0 33px 0;}
.form-components-section .form-heading h1 {margin: 0;}

.form-components-section .form-heading .heading-rt {width: 100px;}
.form-components-section .form-heading .form-icon {width: 100px; height: 80px;}
.form-components-section .form-heading .form-icon img {width: 100%; height: 100%; font-family: "object-fit:contain"; object-fit: contain; -o-object-fit: contain; object-position: 50% 50%; -o-object-position: 50% 50%;}
.form-components-section .form-heading p {font-size: 1.25rem; line-height: 1.5; color: var(--brand-green); padding: 3px 0 0 0;}
.form-components-section .with_frm_style .frm_submit.frm_flex button {width: auto!important; margin: 20px 0 0 0!important;}

@media only screen and (max-width:1023px) and (min-width:768px) {  
.form-components-section {padding: 64px 0 52px 0;}    
}

@media only screen and (max-width:767px) and (min-width:200px) {  
.form-components-section {padding: 40px 0 28px 0;}
.form-components-section .form-heading .heading {padding: 0 0 15px;}
.form-components-section .form-heading p {font-size: 1.125rem;}
.form-components-section .with_frm_style .frm_submit.frm_flex button {width: 100%!important;}
.form-components-section .frm_forms .frm_form_fields .frm_form_field {margin-bottom: 20px;}

}