@import url("_hero-banner.css");
@import url("_notification-module.css");
@import url("_segments-module.css");
@import url("_take-quiz.css");
@import url("_affiliates-logo-module.css");
@import url("_stories-slider-section.css");
@import url("_repeater-section.css");
@import url("_signup-module.css");

.hero-banner-section {margin-bottom: 80px;}
.hero-banner-main .hero-banner-thumb .hero-banner-img {bottom: -80px; min-height: 680px;}
.hero-banner-main .hero-banner-thumb .hero-banner-img.home-banner-video iframe {width: 100%; height: 100%;}
.hero-banner-main .hero-banner-thumb {width: 50%;}
.hero-banner-main .hero-banner-text {width: calc(100% - 55.94%); padding: 70px 0 71px 40px;}
.hero-banner-main .hero-banner-text h1 {margin-bottom: 23px;}
.hero-banner-main .hero-banner-text p {font-size: 1.111rem; margin-bottom: 48px;}
.hero-banner-section + .notification-module-module {padding-bottom: 0;}
.affiliation-section + .repeater-section .repeater-list:first-child .repeater-list-inner {padding-top: 40px;}
.affiliation-section + .repeater-section .repeater-list:first-child:before {display: none!important;}
.affiliation-section + .repeater-section .repeater-list:last-child .repeater-list-inner {padding-bottom: 88px;}
.affiliation-section + .stories-slider-section .stories-slider-main {padding-top: 50px;}
.affiliation-section + .stories-slider-section::before {display: none;}
.repeater-list::before {display: block!important;}
.segments-module:has(> .segments-inner:only-child) + .affiliation-section {padding-top: 0;}


/*-- media css starts here --*/

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .hero-banner-main .hero-banner-text {padding-left: 0;}
}
@media only screen and (max-width:1023px) and (min-width:200px) {
    .hero-banner-section {padding: 56px 0 32px 0; margin-bottom: 0;}
    .hero-banner-main .hero-banner-thumb {width: 100%;}
    .hero-banner-main .hero-banner-thumb .hero-banner-img {min-height: inherit;}
    .hero-banner-main .hero-banner-text {width: 100%; padding: 0 12px;}
    
}
@media only screen and (max-width:1023px) and (min-width:768px) {
    .hero-banner-section {padding: 56px 0 48px 0;}
    .hero-banner-main {gap: 47px;}
    .hero-banner-main .hero-banner-text h1 {margin-bottom: 19px;}
    .hero-banner-main .hero-banner-text p {font-size: 1rem; margin-bottom: 32px;}
    .hero-banner-main .hero-banner-thumb {height: 66.15vw;}
    .affiliation-section + .stories-slider-main:not(:has(.stories-slider-header)) .stories-slider-row .slick-arrow  {top: -69px;}
    
}
@media only screen and (max-width:767px) and (min-width:200px) {
    .hero-banner-main .hero-banner-text p {font-size: 1rem; margin-bottom: 28px;}
    .hero-banner-main .hero-banner-text h1 u {text-underline-offset: 1px;}
    .hero-banner-main .hero-banner-text h1 {margin-bottom: 16px;}
    
    .affiliation-section + .repeater-section .repeater-list:first-child .repeater-list-inner {padding-top: 16px;}
    .affiliation-section + .repeater-section .repeater-list:last-child .repeater-list-inner {padding-bottom: 28px;}
    
    .affiliation-section + .stories-slider-section .stories-slider-main {padding-top: 28px;}
}