@import url("_hero-banner.css");
@import url("_notification-module.css");
@import url("_segments-module.css");
@import url("_take-quiz.css");
@import url("_affiliates-logo-module.css");
@import url("_stories-slider-section.css");
@import url("_repeater-section.css");
@import url("_signup-module.css");


.hero-banner-main .hero-banner-thumb {width: 50%;}
.hero-banner-main .hero-banner-text {width: calc(100% - 55.94%);}
.hero-banner-main .hero-banner-text p {font-size: 1.111rem;}
.hero-banner-section + .notification-module-module {padding-bottom: 0;}
.affiliation-section + .repeater-section .repeater-list:first-child .repeater-list-inner {padding-top: 40px;}
.affiliation-section + .repeater-section .repeater-list:first-child:before {display: none!important;}
.affiliation-section + .repeater-section .repeater-list:last-child .repeater-list-inner {padding-bottom: 88px;}

.repeater-list::before {display: block!important;}

/*-- media css starts here --*/
@media only screen and (max-width:1023px) and (min-width:200px) {
   
}

@media only screen and (max-width:767px) and (min-width:200px) {
   
}