@import url("_hero-banner.css?v000011");
@import url("_ic-events-section.css?v211298763");
@import url("_sm-cta-section.css?v00001");
@import url("_signup-module.css?v2112");

.sm-cta-main{width: 100%; margin-top: 48px;}

@media screen and (min-width: 1024px) {
    .hero-banner-main .hero-banner-text h1{font-size: 3.556rem;}
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .sm-cta-main{margin-top: 32px; }
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .sm-cta-main{margin-top: 28px; }
    /* .hero-banner-section{padding: 16px 0 28px 0;} */

    body.page-template-ic-events .selectBox-dropdown .selectBox-arrow{right: 25px; }
    body.page-template-ic-events ul.selectBox-dropdown-menu{padding: 10px 0; }
    body.page-template-ic-events ul.selectBox-dropdown-menu li a{font-size: .889rem; padding: 4px 12px; }
}