@import url("_stats-module.css");
@import url("_featurette-module.css");
@import url("_testimonial-module.css");
@import url("_logo-slider.css");
@import url("_more-features-module.css");
@import url("_blog-feature-module.css");
@import url("_cta-module.css");

.statistics-container {padding: 106px 0 70px;}
.statistics-container h1 {font-size: 6rem; font-weight: 900; line-height: 1; letter-spacing: 1.92px; margin: 0 0 40px 0;}
.statistics-container .optional-text {margin: 0 0 16px 0;}

/* Blog Feature */
.blog-feature {padding:0 0 40px!important;}

/* CTA module */
.cta-module {padding-top: 0;}


/*-- media css starts here --*/
@media only screen and (min-width:1024px){
    .featurette-rt .featurette-thumb {clip-path: var(--path-180);}
    .cta-module::before { top: 80px;}
}

@media only screen and (max-width: 1023px) and (min-width:200px){


}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .statistics-container {padding: 40px 0;}
    .statistics-container h1 {font-size: 3rem; line-height: 1; letter-spacing: 0.96px; margin: 0 0 20px 0;}
    .statistics-container .optional-text {margin: 0 0 14px 0;}
    .stats-grid .number {margin: 0 0 11px 0;}


    .cta-module {padding: 24px 0;}

}