@import url("_collage-banner.css?v999222333");
@import url("_section-intro.css");
@import url("_features-module.css?v999222");
@import url("_lterm-module.css");
@import url("_optional-cta-module.css?v00001122");
@import url("_resources-slider-section.css?v002233");
@import url("_affiliates-logo-module.css");
@import url("_approach-module.css?v000011");
@import url("_repeater-section.css?v000011");
@import url("_signup-module.css");

.optional-cta-module + .affiliation-section {padding-top: 80px;}
.optional-cta-module + .approach-section .approach-list-inner  {padding-top: 100px;}
.optional-cta-module + .repeater-section .repeater-list:first-child .repeater-list-inner {padding-top: 80px;}
.optional-cta-module + .repeater-section .repeater-list:first-child:before {display: none!important;}

.affiliation-section + .repeater-section .repeater-list:first-child .repeater-list-inner {padding-top: 40px;}
.affiliation-section + .repeater-section .repeater-list:first-child:before {display: none!important;}
.affiliation-section + .repeater-section .repeater-list:last-child .repeater-list-inner {padding-bottom: 88px;}

.repeater-list::before {display: block!important;}

.resources-slider-section:before {background: var(--Foreground); opacity: 0.2; content: ""; display: block; max-width: calc(1344px - 64px); height: 1px; margin: 8px auto 7px; position: relative;}

/*-- media css starts here --*/

@media only screen and (max-width: 1280px){
    .resources-slider-section:before {margin:8px 32px 7px;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
    .optional-cta-module + .approach-section .approach-list-inner {padding-top: 80px;}
}

@media only screen and (max-width:767px) and (min-width:200px) {    
    .optional-cta-module + .affiliation-section {padding-top: 28px;}
    .optional-cta-module + .approach-section .approach-list-inner {padding-top: 32px;}
    .affiliation-section + .repeater-section .repeater-list:first-child .repeater-list-inner {padding-top: 16px;}
    .affiliation-section + .repeater-section .repeater-list:last-child .repeater-list-inner {padding-bottom: 28px;}
}