#wpsl-result-list #wpsl-stores{height: 100%!important; overflow-y: inherit; width: 100%;}
.wpsl-search{margin-bottom: 0; padding: 0; background: var(--white); }

.wpsl-select-wrap #wpsl-radius .wpsl-dropdown:last-child{display: none; }

.wpsl-dropdown{width: 100%; border: none; background: transparent; border-radius: 0;}
.wpsl-dropdown:hover{box-shadow: none;}
.wpsl-dropdown .wpsl-selected-item{outline: 0; width: 100% !important; min-width: 178px; font-size: 1rem; background: var(--Tint-Pink); color: var(--Foreground); box-shadow: none; border-radius: 60px !important; padding: 15px 56px 14px 19px !important; vertical-align: middle; height: auto; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; cursor: pointer; font-weight: 400; border: 1.25px solid var(--Sienna-Orange); display: block; width: 100% !important; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-weight: 700; opacity: 1; line-height: 1.35; }
.wpsl-dropdown .wpsl-selected-item::after{position: absolute; content: "\f078"; right: 20px; top: auto !important; margin-top: 0 !important; border: none !important; font-size: 1rem; font-family: "Font Awesome 7 Sharp"; color: var(--Sienna-Orange); font-weight: 400; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out;}
.wpsl-dropdown.wpsl-active .wpsl-selected-item::after { transform: rotate(-180deg); }
.wpsl-dropdown div{border:none !important;border-radius :10px !important;}
.wpsl-dropdown ul{background-color :var(--white); margin :1px 0 0 ; border :none;-webkit-box-shadow :0 ; -moz-box-shadow :none ; z-index :50 ; border-radius :none ;}
.wpsl-dropdown ul li{font-size: 0.875rem; line-height: 1.5; letter-spacing :normal ; display:block ; white-space :nowrap ; text-transform :capitalize ; color :var(--Foreground) ; overflow:hidden ; text-overflow :ellipsis ; text-decoration:none ; font-weight :400 ; padding :5px 20px !important;}
.wpsl-dropdown ul li:hover{background: var(--Tint-Pink);}

.locator-filter #wpsl-province{display: none;}


.wpsl-input input{background: var(--Tint-Orange); width: 100% !important; border-radius: 60px !important; border: 1.25px solid var(--Sienna-Orange) !important; background-color: var(--Tint-Pink) !important; padding: 15px 60px 15px 20px !important; font-size: 1rem !important; line-height: 1.35; background-image: url('../images/keyboard-icon.svg'); background-position: calc(100% - 20px) calc(50% - 1px); background-repeat: no-repeat; background-size: 27px 24px;}

.wpsl-search-btn-wrap{margin: 0 !important;}
.wpsl-search-btn-wrap #wpsl-search-btn{width: 56px; font-size: 0; height: 56px; padding: 0; background: var(--Sienna-Orange); border-radius: 50%; min-width: 56px; margin: 0; border: none; position: relative; background-image: url('../images/search-icon-white.svg'); background-position: 50% 50%; background-repeat: no-repeat; background-size: 27px 24px;}

#wpsl-result-list{width: 100%; margin-right: 0; position: relative; clear: both; margin-bottom: 0 !important;}
#wpsl-result-list #wpsl-stores > ul{position: relative; clear: both; display: flex; flex-wrap: wrap; gap: 40px;}
#wpsl-result-list #wpsl-stores > ul li::before{display: none !important;}

  #wpsl-stores .wpsl-store-thumb {min-width:100%; margin: 0 !important; border-radius: 0 !important; }
.store-details-text{padding: 32px; color: var(--anchor); display: flex; flex-direction: column; height: 100%; flex-wrap: wrap; }

.wpsl-select-wrap #wpsl-radius{width: 100%; margin: 0;}

.location-main > div{width: 100%;}

#wpsl-search-wrap .wpsl-dropdown div{margin: 1px 0 0 0; -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .2); -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .2); transition: all .5s ease;}
 body.page-template-locator .selectBox-dropdown .selectBox-arrow{right: 20px; }

.wpsl-select-wrap #wpsl-radius .wpsl-dropdown span.wpsl-selected-item::before{content: "Within "; position: relative; display: inline-block; color: var(--black); font-size: 0.875rem; line-height: 1.5; letter-spacing: normal; white-space: nowrap; text-transform: capitalize; left: -5px; font-family: "Blackbird", sans-serif; }
.wpsl-select-wrap #wpsl-radius .wpsl-dropdown div ul > li{padding: 5px 20px 5px 25px !important;}
.wpsl-select-wrap #wpsl-radius .wpsl-dropdown div ul > li::before{content: "Within "; position: relative; display: inline-block; color: var(--black); font-size: 0.875rem; line-height: 1.5; letter-spacing: normal; white-space: nowrap; text-transform: capitalize; left: -5px; font-family: "Blackbird", sans-serif; }

.location-bg-orange{background-color: var(--Tint-Orange);}
.location-bg-pink{background-color: var(--Tint-Pink);}
.location-bg-green{background-color: var(--Tint-Green);}
.location-bg-blue{background-color: var(--Tint-Blue);}
.location-bg-purple{background-color: var(--Tint-Purple);}

li.wpsl-no-results-msg{font-size: 2.222rem; line-height: 1.2; font-weight: bold; font-family: "Ivar Display", sans-serif; color: var(--Foreground); }
li.wpsl-no-results-msg::before{display: none;}

.wpsl-input{position: relative;}
.wpsl-input:has(input.wpsl-error)::after{content: "Postal code is required"; right: 0 !important; width: 100%; display: block; font-size: 12px !important; color: #f00 !important; background: transparent; padding: 0; margin: 0; border-radius: 0; text-align: right !important; line-height: normal !important; font-weight: 400; top: auto; bottom: -17px; position: absolute;}

body.page-template-ltc-province ::-webkit-input-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size: 1rem!important; overflow: visible; font-weight: 700;}
body.page-template-ltc-province :-moz-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size: 1rem!important; overflow: visible; font-weight: 700;}
body.page-template-ltc-province ::-moz-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size: 1rem!important; overflow: visible; font-weight: 700;}
body.page-template-ltc-province :-ms-input-placeholder {color: var(--Foreground)!important; font-family:"Blackbird", sans-serif; font-size: 1rem!important; overflow: visible; font-weight: 700;}



.location-item{display: flex !important; }

@media screen and (max-width: 767px) and (min-width: 200px){
    body.page-template-ltc-province ::-webkit-input-placeholder {font-size: 0.889rem!important;}
    body.page-template-ltc-province :-moz-placeholder {font-size: 0.889rem!important;}
    body.page-template-ltc-province ::-moz-placeholder {font-size: 0.889rem!important;}
    body.page-template-ltc-province :-ms-input-placeholder {font-size: 0.889rem!important;}
    
}