
@import url("_collage-banner.css?v9992223333");
@import url("_repeater-section.css");
@import url("_optional-cta-module.css?v009992345");
@import url("_signup-module.css");

.collage-banner{background: var(--Tint-Green);}

.optional-cta-module{background: var(--Tint-Green);}
.optional-cta-module::after{content: ""; height: 100%; width: 100%; bottom: -100%; background: var(--Tint-Green); position: absolute; display: block; left: 0; }
.optional-cta-main .optional-cta-text .h1{color: var(--Foreground); font-size: 3.556rem; margin-bottom: 36px;}

@media screen and (min-width: 1024px) {
    .optional-cta-module{ padding: 40px 0 80px;}
}



@media screen and (max-width: 767px) and (min-width: 200px) {
    .optional-cta-main .optional-cta-text{text-align: center; }
    .optional-cta-main .optional-cta-text .h1{font-size: 2.222rem; margin-bottom: 22px; }
    .optional-cta-main .optional-cta-text .btn-wrap{justify-content: center;}
    .optional-cta-main .optional-cta-text .btn-wrap .button{width: 100%;}
}