@import url("_hero-banner.css");
@import url("_ss-module.css");
@import url("_service-list-module.css");
@import url("_testimonial-module.css");
@import url("_kisp-overview-module.css");
@import url("_logo-slider.css");
@import url("_blog-feature-module.css");
@import url("_cta-module.css");

.hero-banner-section {margin: 0 0 -80px 0;}
.hero-banner-main {min-height: 433px;}
.hero-banner-main .hero-banner-text {text-align: center; padding:41px 80px 100px 80px; align-items: flex-start;}
.hero-banner-main .hero-banner-text h1 {font-size: 6rem; letter-spacing: 1.92px;}

.service-posts-container {clear: both; width: 100%; z-index: 1; padding: 0 0 40px 0;}


/* Blog Feature */
.blog-feature {padding:0 0 40px!important;}

/* CTA module */
.cta-module {padding-top: 0;}

/* Logo Slider */
.logo-container {padding: 0 0 40px 0;}
.logo-img {background: var(--base-elevated);}
.logo-img img {mix-blend-mode: multiply; position: relative; z-index: 1;}
.logo-slider-row::before, .logo-slider-row::after {background-image: linear-gradient(to right, var(--base-elevated) 0%, rgba(255, 255, 255, 0) 100%);}



/*-- media css starts here --*/
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .hero-banner-main .hero-banner-text {padding: 41px 24px 64px 24px;}
    .hero-banner-main .hero-banner-text h1 {font-size: 3.5rem; letter-spacing: 1.12px; line-height: 1;}
    .hero-banner-section {margin: 0 0 -155px 0;}
}

@media only screen and (max-width: 1023px) and (min-width:200px){


}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .hero-banner-main {min-height:293px;}
    .hero-banner-main .hero-banner-text {padding:0 0 106px 0;}
    .hero-banner-main .hero-banner-text h1 {font-size: 3rem;  letter-spacing: 0.96px; line-height: 1;}
    .hero-banner-section {margin: 0 0 -60px 0;}
    
   /* Blog Feature */
.blog-feature {padding:20px 0 40px!important;} 
}

