@import url("_hero-banner.css");
@import url("default-page.css");
@import url("_sm-cta-section.css");
@import url("_multi-cta-section.css");
@import url("_image-testimonial-section.css");
@import url("_resources-slider-section.css");
@import url("_signup-module.css");


.fluid-width-wrapper{max-width: 1040px;}

.sm-cta-main{margin: 64px 0;}
.sm-cta-text .h4{font-size: 1.778rem;}

.multi-cta-main{margin: 64px 0;}



@media screen and (max-width: 767px) and (min-width: 200px) {
    .sm-cta-main{margin: 40px 0;}
    .sm-cta-text .h4{font-size: 1.111rem;}

    .multi-cta-main{margin: 40px 0;}
    
}